
.content-wrapper .car-search-input-wrapper{
	border-bottom:2px solid #0064B3;
	padding-bottom:20px;
	}
.content-wrapper .car-type-wrapper{
	margin-top:25px;
	}
.content-wrapper .car-type-wrapper input{
	margin-right:5px;
	}
.content-wrapper .car-type-wrapper label{
	margin-right:15px;
}
.content-wrapper .car-type-wrapper span{
	vertical-align:top;
	
}
.content-wrapper .buyer-country-wrapper{
	margin-top:20px;
	}
.content-wrapper .buyer-country-wrapper label{
	margin-right:10px;
	}
.content-wrapper .buyer-country-wrapper #countryInput{
	color:grey;
	margin-right:30px;
	}
.content-wrapper .buyer-country-wrapper #countryInput option{
	color:black;
	
	}
.content-wrapper .buyer-country-wrapper #provinceInput{
	margin-right:10px;
	color:grey;
	}
.content-wrapper .buyer-country-wrapper #provinceInput option{
	color:black;
	
	}
.content-wrapper .buyer-country-wrapper .searchVehicleBox{
	overflow:hidden;
}
.content-wrapper .buyer-country-wrapper .searchVehicleBox input{
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.content-wrapper .buyer-country-wrapper input, .content-wrapper .buyer-country-wrapper select, .content-wrapper .buyer-country-wrapper label{
	float:left	;
	padding:7px
	
	}
.content-wrapper .item-list-wrapper{
	border-collapse: collapse;
    margin-top: 20px;
	width:705px;
	}
.content-wrapper .item-list-wrapper a{
	color:#282F7D;
	font-size:14px;
	}
.content-wrapper .item-list-wrapper p{
	line-height:17px;
	padding-top:10px;
	padding-bottom:10px;
	word-wrap:break-word;
	}
.content-wrapper .item-list-wrapper td{
	border-bottom: 1px dotted #CCCCCC;
	padding:10px;
	vertical-align:middle;
	}
.content-wrapper .item-list-wrapper td:first-child, th:first-child{
	padding-left:0px;
	text-align:center;
	}
.content-wrapper .item-list-wrapper th{
	background-color: #CCCCCC;
    text-align: center;
	height:30px;
	vertical-align:middle;
	padding-left:10px;
	}
.content-wrapper .item-list-wrapper .buyer-message{
	padding-right: 20px;
    vertical-align: top;
	}
.content-wrapper .pagination-wrapper{
	margin-top:10px;
}
.content-wrapper .pagination-wrapper a{
    color:#282F7D;
}
.content-wrapper .pagination-wrapper .pagination{
	float: right;
}
.content-wrapper .pagination-wrapper li{
    display: inline;
    padding: 0 5px;
}
.left-sidebar-wrapper .info-body{
	text-align:center;
	margin:20px;
	}

.left-sidebar-wrapper .info-body img{
	width:100%;
	
	}
.left-sidebar-wrapper .info-body ul li{
		border-bottom:1px dashed #ccc;
		margin-bottom:15px;
		
	}
.left-sidebar-wrapper .info-body ul li .info-box{
	height:auto;
	width:188px;
	padding-bottom:10px;
}
.left-sidebar-wrapper .info-box .info-name{
	color: #282F7D;
    font-size: 14px;
    line-height: 25px;
    margin-top: 10px;
    text-align: center;
}
.left-sidebar-wrapper .info-box .info-detail{
	    line-height: 20px;
    margin-top: 5px;
    text-align: center;
}
.left-sidebar-wrapper .left-info-wrapper{
	border: 1px solid #CCCCCC;
    margin-top: 25px;
}