
.content-wrapper .car-search-input-wrapper{
	border-bottom:2px solid #0064B3;
	padding-bottom:20px;
	}
.content-wrapper .car-type-wrapper{
	margin-top:25px;
	}
.content-wrapper .car-type-wrapper input{
	margin-right:5px;
	}
.content-wrapper .car-type-wrapper label{
	margin-right:15px;
}
.content-wrapper .car-type-wrapper span{
	vertical-align:top;
	
}
.content-wrapper .buyer-country-wrapper{
	margin-top:20px;
	}
.content-wrapper .buyer-country-wrapper label{
	margin-right:10px;
	}
.content-wrapper .buyer-country-wrapper #countryInput{
	color:grey;
	margin-right:30px;
	}
.content-wrapper .buyer-country-wrapper #countryInput option{
	color:black;
	
	}
.content-wrapper .buyer-country-wrapper #provinceInput{
	margin-right:10px;
	color:grey;
	}
.content-wrapper .buyer-country-wrapper #provinceInput option{
	color:black;
	
	}
.content-wrapper .buyer-country-wrapper .searchVehicleBox{
	overflow:hidden;
}
.content-wrapper .buyer-country-wrapper .searchVehicleBox input{
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.content-wrapper .buyer-country-wrapper input, .content-wrapper .buyer-country-wrapper select, .content-wrapper .buyer-country-wrapper label{
	float:left	;
	padding:7px
	
	}
.content-wrapper .item-list-wrapper{
	border-collapse: collapse;
    margin-top: 20px;
	}
.content-wrapper .item-list-wrapper a{
	color:#282F7D;
	font-size:14px;
	}
.content-wrapper .item-list-wrapper p{
	line-height:17px;
	padding-top:10px;
	padding-bottom:10px;
	word-wrap:break-word;
	}
.content-wrapper .item-list-wrapper td{
	border-bottom: 1px dotted #CCCCCC;
    padding: 10px 5px;
	}
.content-wrapper .item-list-wrapper td:first-child{
	
    padding-left: 0;
	}
.content-wrapper .item-list-wrapper th{
	background-color: #CCCCCC;
    text-align: center;
	}
.content-wrapper .item-list-wrapper .buyer-message{
	padding-right: 20px;
    vertical-align: top;
	}
.content-wrapper .pagination-wrapper{
	margin-top:10px;
}
.content-wrapper .pagination-wrapper a{
    color:#282F7D;
}
.content-wrapper .pagination-wrapper .pagination{
	float: right;
}
.content-wrapper .pagination-wrapper li{
    display: inline;
    padding: 0 5px;
}
.inquiry-button{
	padding:10px 20px;
	min-width:30px;
	border:none;
	color:white;
	width:130px;
	cursor:pointer;
	font-size:14px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #0772c3; /* Old browsers */
background: -moz-linear-gradient(top,  #0772c3 0%, #5eaed6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0772c3), color-stop(100%,#5eaed6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0772c3 0%,#5eaed6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0772c3 0%,#5eaed6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0772c3 0%,#5eaed6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #0772c3 0%,#5eaed6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0772c3', endColorstr='#5eaed6',GradientType=0 ); /* IE6-9 */

	}
.left-sidebar-wrapper .info-body{
	text-align:center;
	padding:20px;
	}

.left-sidebar-wrapper .info-body img{
	width:100%;
	
	}
.left-sidebar-wrapper .info-box{
	padding-bottom: 25px;
}
.left-sidebar-wrapper .info-box .info-name{
	color: #282F7D;
    font-size: 14px;
    line-height: 25px;
    margin-top: 10px;
    text-align: center;
}
.left-sidebar-wrapper .info-box .info-detail{
	    line-height: 20px;
    margin-top: 5px;
    text-align: center;
}
.left-sidebar-wrapper .left-info-wrapper{
	border: 1px solid #CCCCCC;
    margin-top: 25px;
}