div.pagination {
	padding: 3px;
	width:800px; 		
	text-align: center;
	font-family: Tahoma,Helvetica,sans-serif;
	margin:20px 130px;
	float:none
	}
	
div.pagination a {
	background:#fff;
	color: #0071ba;
	border: 1px solid #cacaca;
	margin-right:3px;
	padding: 4px 10px;
	background-position: bottom;
	text-decoration: none;
	}
	
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #0071ba;
	background-image: none;
	background-color: #FFF;
	color: #0071ba;
	}
	
div.pagination span.current {
	color: #0071ba;
	font-weight: bold;
	margin-right: 3px;
	background:#FFF;
	padding: 4px 10px;
	border: 1px solid #0071ba;
	}
	
div.pagination span.disabled {
	border: 1px solid #ddd;
	color: #bbb;
	margin-right: 3px;
	padding: 4px 10px;
	}
	
div.pagination .next {
	margin: 0 3px 0 8px;
	}
	
div.pagination .prev {
	margin: 0 8px 0 0;
	}