

a{
	text-decoration:none;
}
div{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
div.label{
	float: left;
    padding-top: 3px;
	}
a.back-to-top{
	position:absolute;
	bottom:20px;
	right:0;
	font-size:12px;
	text-decoration:underline;
	}
.btnMore{
	    float: right;
    margin-right: -10px;
	}
.button{
	color:white;
	border:none;
	padding:6px 20px;
	font-weight:bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #0070e0; /* Old browsers */
	background: -moz-linear-gradient(top,  #0070e0 0%, #0866c4 44%, #0e5aa6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0070e0), color-stop(44%,#0866c4), color-stop(100%,#0e5aa6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0070e0 0%,#0866c4 44%,#0e5aa6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0070e0 0%,#0866c4 44%,#0e5aa6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0070e0 0%,#0866c4 44%,#0e5aa6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0070e0 0%,#0866c4 44%,#0e5aa6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0070e0', endColorstr='#0e5aa6',GradientType=0 ); /* IE6-9 */

}
.btn-ads-now{
	float: left;
    margin-top: 30px;
	cursor:pointer;
	display: none;
}
.container{
	min-height:	300px;
	overflow:auto;
	width:960px;
	position:relative;
	margin:auto;
}
.content-wrapper{
	overflow:auto;
	padding-left:25px;
	padding-top:60px;
}
.brick{
	margin-right:10px;
	}
.content-wrapper .page-title{
	width:100%;
	border-top:4px double #ccc;
	border-bottom:4px double #ccc;
	padding:10px 0;
	color:#282F7D;
	font-size:16px;
}

.left-sidebar-wrapper{
	width:230px;
	float:left;
	
}
.left-sidebar-wrapper #com-title{
	color:#000088;
	font-size:14px;
	padding-bottom:15px;
	}
.left-sidebar-wrapper .left-info-wrapper {
	margin-top:25px;
	}
.left-sidebar-wrapper .left-info-wrapper a{
	color:#000088;
	}
.left-sidebar-wrapper .left-info-wrapper table{
	padding:10px;
}
.left-sidebar-wrapper .left-info-wrapper td{
	vertical-align:top;
	font-size:12px;
	    line-height: 20px;
	}	
.left-sidebar-wrapper .info-title{
	   background-color: #0064B3;
    color: #FFFFFF;
    font-size: 16px;
    overflow: auto;
    padding: 5px 10px;
    vertical-align: middle;
	
}
.left-sidebar-wrapper .info-title a{
	color:#0064B3;
}
.left-sidebar-wrapper .nav-wrapper{
	color:#1F2678;
	font-size:12px;
	width:100%;
	padding-top:20px;
	padding-bottom:25px;
}
.left-sidebar-wrapper .nav-wrapper a{
	color:#424242;
	}
.left-sidebar-wrapper .nav-wrapper span{
	color:#0064b2;	
}
.left-sidebar-wrapper .left-menu-wrapper .left-menu{
	font-size: 14px;
    margin: 0;
    padding: 0;
	}
.left-sidebar-wrapper .left-menu a{
	color:black;
	}
	
.left-sidebar-wrapper .left-menu-wrapper .left-menu li{
	display:block;
	padding:13px 10px;
    border-top: 1px dotted #CCCCCC;
}
.left-sidebar-wrapper .left-menu-wrapper .left-menu li:last-child{
	border-bottom: 1px dotted #CCCCCC;
}
.left-sidebar-wrapper .left-menu-wrapper .left-menu li:before{
    content:'';
    padding: 0 0 0 20px;
    background:url(images/liststyle.png) no-repeat 0 3px;
}
