#wrapper-privacy-policy{
	width: 1162px;
	margin-top: 50px;
	margin-bottom: 200px;
	margin-left: 97px;
}
#wrapper-privacy-policy h1{
	color:#0071ba;
	padding-bottom:8px;
	border-bottom:2px solid #0071ba;
	font-size:21px;
}
#wrapper-privacy-policy h2{
	color:#0071ba;
	font-size:16px;
	padding-top:25px;
	padding-bottom:10px;
}
#wrapper-privacy-policy p{
    color:#757575;
	font-size:14px;
	
}
#wrapper-privacy-policy ul{
	padding-top:20px;
	
}

#wrapper-privacy-policy ul li{
	list-style:none;
	font-size:14px;
	color:#757575;
	line-height:40px;
	
}


