/* CSS Document */

.car-detail-wrapper{
	max-width: 1200px;
	width:100%;
	height: auto;
	min-height: 100px;	
	margin: 30px auto 50px;
	padding: 0 15px;
}
.car-detail-top-container {
	width:1170px;	
	margin:auto;	
	border-bottom:2px solid #0071ba;
	height:auto;
	}
.car-detail-top-container p { 
	font-size:24px;
	color: #0071ba; 
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height:30px;
	padding: 20px 0 8px 0;
}
.car-detail-mid-container {
	max-width:1170px;
	width:100%;
	margin:auto;
	padding-top:35px;	
	height:auto;
	min-height:200px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	overflow:hidden;
	}
.car-detail-mid-contain-car-detail{
	max-width:1170px;
	width:100%;
	height:auto;
	min-height:50px;
	overflow:hidden;
	}
.car-detail-mid-contain-car-detail	.poster{
	margin-top:20px;
}
/*.car-detail-mid-contain-car-detail	.poster img{
	width:540px;
	height:330px;
}*/	
.car-destail-mid-car-name{
	width:auto;
	min-height:40px;
	border-bottom:1px dashed #0071ba;
	padding-bottom: 15px;
}
.car-detail-mid-descrip{
	width: 100%;
	}
.car-detail-mid-descrip .embed-container {
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
}
.car-detail-mid-descrip .embed-container object {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.car-detail-box-date{
	background-color:#0071ba;
	width:80px;	
	color:#FFF;
	text-align:center;
	line-height:20px;
	font-size:14px;
	font-weight:600;	
	padding:10px 90px 10px 20px;
	float:left;
	}
.car-detail-box-car-name {
	width:auto;
	height:40px;	
	color:#0071ba;	
	line-height:25px;
	font-size:18px;
	padding-left:20px;
	}
.popular-post{
	max-width:1170px; 
	width:100%;
	padding:20px 15px;	
	margin-top:10px;
    background:#f2f4f5;
}
.popular-post ul li{
	width:100%;
	font-size:12px; 
	border-bottom:1px dashed #0071ba; 
	margin-bottom:25px;
	padding-bottom: 15px;
}
.popular-post .title{
	font-size:20px;
	color:#0071ba; 	
	border-bottom:2px solid #0071ba; 
	margin-bottom:25px; 
	padding-bottom:5px; 
	}
/*.popular-post .detail{
	width:100%;
	font-size:12px; 
	border-bottom:1px dashed #0071ba; 
	margin-bottom:25px;
	padding-bottom: 15px;
	background:gray;
	}
	*/
.clearfix {
  display: block;
  height: inherit;
}
.popular-post ul li .small-block-popular{
	max-width:120px;
	height:90px;
	background:gray;
    text-align:center;
    color: #FFFFFF;
	padding-bottom:0px;
	float: left;
	position: relative;
}
.popular-post .detail .small-block-popular img {
	width:120px;
	height:90px;
}

.popular-post ul li  .date{	
    width:auto;
	background: #0071ba;	
	margin-bottom: 5px;
}
.popular-post ul li .date p{
	color: #fff;
	font-weight: 600;	
	text-align: center;
	line-height: 10px;
	padding: 5px 0;	
}
.popular-post .detail .product-model{
	width: auto;	
}
.popular-post .detail .content{	
	width: 215px;
	margin:0 0px 0 15px; 
	float: left;
	}
.popular-post .detail .content p{
	font-size: 11px;
	color:#999; 
}
.youtubeTime {	
	padding: 0 4px;
	font-weight: bold;
	font-size: 11px;
	background-color: #000;
	color: #fff!important;
	height: 14px;
	line-height: 14px;
	opacity: .75;
	vertical-align: top;
	display: inline-block;
	position: absolute;
	right: 2px;
	bottom: 13px;	
	z-index: 9;
}
.popular-post ul li .divDescVD {
	width:100%;
	padding:5px 10px 0 140px;
}
.product-model a.titleDesc {
	font-size:13px;
	font-weight:600;
	color: #333333;	
	text-decoration: none;
}
.product-model a.titleDesc:hover {
	color: #0071ba;
}

@media only screen and (max-width : 480px) {
	.popular-post ul li .divDescVD {
		padding: 0px 0 0 130px;
	}
}
@media only screen and (max-width : 320px) {
	.product-model a.titleDesc{
		font-size:11px;
	}
	.car-detail-box-car-name{
		font-size:15px;
	}
		
}