@charset "utf-8";
/* CSS Document */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#content-wrapper {
    width: 100%;
	margin:0 auto;
	overflow: hidden;
    padding-bottom: 125px; /* same values as foot height */
}

#my_item{
    width: 100%;
    height: auto;
    margin-top: 40px;
}
 #my_item ul.myitem{
    list-style: none;
    padding: 0px;
    height: auto;
}
 #my_item ul.myitem li{
    width: 25%;
    height: auto;
    float: left;
    margin-left: 0px;
}
#my_item ul li img{
	width: 100%;
	height: auto;
}
#my_item ul{
    list-style: none;
    width: 100%;
	height:auto;
    padding: 3% 0;
}
#my_item p{
    background: url(../../images/mywini/orange_bg.png) no-repeat;
    font-size: 18px;
    color: #2e62bb;
	width:100%;
    padding-left: 15px;
    margin-top: 20px;
}
 #my_item ul li{
    float: left;
    width: 105px;
    color: #424242;
    position: relative;
}

 #my_item ul.item li img{
	 width:100%;
	 height:auto;
    position: absolute;
    z-index:99;
	border-top:2px solid #CCC;
	border-bottom:2px solid #CCC;

}
/**.required-field {
    color: #FF0000;
}
**//**.clear {
    clear: both;
    float: none;
}
**/#sms{
	font-size:16px;
	font-weight:400;
	color:#2d63bd;
	width:100%;
	text-align:center;
	border-top:2px solid #2d63bd;
	border-bottom:2px solid #2d63bd}
	
	
#carData{
	width:100%;
	height:auto;	
}
#carData #carSourceWraper{
	width:100%;
	height:auto;
	margin-top:15px;
	float:left;
}
#carSourceWraper .listCar{
	width:92%;
	height:auto;
	
	float:left;
	background:#fff;
	border:1px solid #ccc;
	padding:2% 2%;
	margin: 0% 1% 1% 2% ;
	
}
/**#carSourceWraper .rightCar{
	margin:0;
}
**/
#carSourceWraper .listCarName{
	width:100%;
	height:auto;
	border-bottom:2px solid #0064b3;
}
#carSourceWraper .listCarName p{
	font-size:13px;
	color:#424242;	
	font-weight:bold;
	line-height:40px;
}
#carSourceWraper .listCarImg{
	width:50%;
	height: auto;	
	float: left;	
	margin-top:20px;
	position: relative;
	

}
#carSourceWraper .listCarImg a img{
	max-width: 100%;
	height: auto;			
	position: relative !important;
	
}
/**#carSourceWraper .listCarImg a img.news{
	width: 30%;
	height: auto;				
	z-index: 2;
}
**/#carSourceWraper #carDetailWrap{
	width:48%;
	height:auto;
	float: right;
	margin-top:20px;	
	
}
/**#carDetailWrap .listCarDetail{
	max-width:100%;
	height:auto;
	float:left;	
}
**//**#carDetailWrap .listCarDetail p {
	font-size:11px;
	color:#424242;	
	display: block;	
	word-wrap:break-word;
}
**/
/**#carDetailWrap .listCarDetail p span{
	float:left;
}
**//**#carDetailWrap .listCarDetail p span.flag{
	padding-left:5px;
	padding-bottom: 0px;

}
**//**#carDetailWrap .listCarPrice{
	width:100%;
	height:auto;
	float:right;	
}
**/

/**#carDetailWrap .listCarPrice p{
	 
	font-size:16px;
	padding-top:5px;
	
	text-align: left;	
}
**//**.listCarPrice .contactSeller{	
	margin-top: 20px;
}
**/#sms{
	font-size:19px;
	font-weight:400;
	color:#2d63bd;
	width:100%;
	text-align:center;
	border-top:2px solid #2d63bd;
	border-bottom:2px solid #2d63bd}
#post{
	font-size:19px;
	font-weight:400;
	color:#2d63bd;
	width:100%;
	text-align:left;
	border-bottom:2px solid #2d63bd}
/**#mobile-active{
	border-top:2px solid #03F;
	border-bottom:2px solid #03F;}
**/