/**
 * Theme Name: Auto Cambodia
 * Description: Auto Cambodia is the leading of on line car selling website in Cambodia. It is easy to search for cars, or upload your car to put on sell on line.
 * Version: 1.0.0
 * Author: Soft Bloom
 * Author URI: http://www.softbloom.com/
 * Theme URI: http://www.softbloom.com/themes/autocambodia/
 * ------------------------------------------------------------------------------
 **/
body {
	font-family: Trebuchet MS, 'Hanuman', serif;
	font-weight: 400;
	font-size: 12px;
	color: #4d4d4d;
	background-color: #f9f9f9;
}
.article,
.section,
.aside,
.hgroup,
.nav,
.header,
.footer,
.figure,
.figcaption {
  display: block;
}
a {
	text-decoration: none;
	color: #fff;
}
#nav ul li a:hover,
.footer_list a:hover,
a:hover {
	color: #0071ba;
	text-decoration: none;
}
.header h3,
.header a {
	font-weight: 700;
}
.common_dark,
.common_dark h3,
.common_dark a  {
	color: #333;
	font-weight: 700;
}
.common_dark {
	font-weight: 400;
}
.common_blue,
.common_blue h3,
.common_blue a {
	color: #fff;
	font-weight: 700;
}
.common_blue {
	font-weight: 400;
}


/*
 *  Header
 * ------------------------------------------------------------------------------
 */
#header {		
	width: 100%;
	color: #999999;
	position: relative;
	z-index: 999;
}
#header .topHeader{
	min-width: 1200px;
	width: 100%;
	background-color: #323232;
	min-height:40px;
	/* padding: 0 15px; */
}


#header p {
	float: left;
	margin:5px 20px 0 0;
}
#header p i {
	margin-right: 5px;
}
#header p font {
	color: #cacaca;
	font-size: 12px;
	margin-right: 5px;
}
#header .flag {
	position: relative;
	font-size: 14px;
}
#header .flag p a {
	color: #999999;
}
#header .flag p a:hover {
	color: #cacaca;
}
#header .flag .member {
	/* position: absolute;
	left: 155px; */
	width: 988px;
	padding-left: 5px;
	margin-top:5px;
	display: inline-block;
}
#header .flag .logout{
	/* position:absolute;
	left:935px;
	width:87px; */
	padding: 3px 0 3px 25px;
	float: right;	
}
#header #controlMember {
	/* position: relative;
	left:-30px; */
	width: auto;
	height: auto;	
}
#header .flag .group-menu{
	/* position:absolute;
	left:520px;
	width:390px;
	height:30px; */
	border-right:2px solid #292929;		
	padding: 3px 0;
	float: right;
}
#header .flag .group-menu ul{
	margin-top:4px;
}
#header .flag .group-menu ul li{
	display:inline;
	margin-right:25px;
}
#header .flag .group-menu ul .margin-right-forlast{
	 margin-right:0px;
}
#header .flag .group-menu ul li a{
  padding:0 13px 0 0;
  color:#999999;
}

#header .flag .group-menu ul li a:hover{
 color:white;
}
#header .flag .block-guest{
	top:2px;
	width:91px;
	position:relative;	
	
}


#header .flag .register-login{
	position:absolute;
	right: 0;	
}
#header .flag .member p{
	margin-top:3px;
}
#header .flag .member p:last-child {
	margin-right: 0;
}
.modal {
	z-index: 999;
}
.modal-backdrop {
	z-index: 99
}
.modal {
	color: #333;
}

/* ----------Country flags---------- */
 #country-select {
	/* position:absolute;
	margin-top:4px;
	right: 0;
	width:120px;
	font-size: 12px;
	height:20px;
	z-index: 999;
	left:2px; */
	margin-top:34px;
	margin-left: 22px;	
	width:120px;
	font-size: 12px;
	height:20px;
	float: right;
}
#header .container .border-right{
   height:40px;   
   border-right:2px solid #292929;
   margin:0 30px;
   float: left;
}

/* rought form styles for when JS is disabled */
#country-select form {
	width: 120px;
	padding: 0;
}
#country-select select,
#country-select input {
	display: inline;
	padding: 0;
	margin: 0;
}
	
/* JS-created definition list */
.dropdown dd {
	position: relative;
}
.dropdown a {
	text-decoration: none;
	outline: 0;
	display: block;
	padding-left:5px;
	padding-right:5px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dropdown dt,
.dropdown dd,
.dropdown dd ul li {
	font-weight: 400;
	line-height: 14px;
}
.dropdown dt a {
	background: #fff;
	/*border: 1px solid #964315;*/
	padding: 3px 5px 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.dropdown dt a.active {
	background: #fff;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 1px dotted #676768;
	color: #000;
}
.dropdown dd ul {
	background: #fff;
	border: 1px solid #676768;
	color: #C5C0B0;
	display: none;
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	padding: 2px 0 5px 0;
	list-style: none;
	border-top: none;
	margin: 0;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.dropdown dd ul li a {
	padding: 2px 3px;
	width: 118px;
}
.dropdown dd ul li a span,
.dropdown dt a span {
	float: left;
	width: 24px;
	height: 12px;
	margin: 2px 5px 0 0;
	background-image: url('../img/flags.png');
	background-repeat: no-repeat;
	cursor: pointer;
}

.uk, .km{
	margin-top:5px}
.uk a span {
	background-position: 0 0
}
.km a span {
	background-position: -24px 0
}
.dropdown dd ul li a em,
.dropdown dt a em {
	font-style: normal;
	float: left;
	width: 76px;
	cursor: pointer;
}
.dropdown dt a em {
	background: url('../img/dropdown.gif') no-repeat center right;
}
.dropdown dd ul li a em {
	color: #000;
}
.dropdown dd ul li:hover { 
	background-color: #f0f0f0;
}
.dropdown dd ul li:hover em {
	color: #0071ba;
}
/* ----------End country flags---------- */

/*
 *  Global Navigation
 * ------------------------------------------------------------------------------
 */
#header .menuHeader{		
    width:100%;
	background-color:#000;
	height:105px !important;
	/* height:auto !important; */
	border-bottom:5px solid #940000;
	padding: 0 15px;
	
}
#header .menuHeader .logo{
	margin-top: 0;
}
#header .menuHeader .total-vehicle {
    /* width:150px;
	height:37px; */	
	color:#004c7d;
    font-size:12px;
	/* margin: 20px 0 0 30px;
	float:left; */
	position: fixed;
	right: -40px;
	top: 300px;
	z-index: 999;
}
#header .menuHeader .total-vehicle font { 
	font-size: 12px;
	line-height: 21px;
	color: #FF0000;
	text-align: center;
	display: block;
}
#header .menuHeader .total-vehicle  .wrapper-num{	
	/*background:red;*/
}
#header .menuHeader .total-vehicle  .wrapper-num .num-box{
	color:#FFFFFF;
	width:20px;
	height:22px;
	background-color:#005a94;
	margin-right:2px;
	float:left;
	text-align:center;
	line-height:20px;
}

#header .menuHeader .navbar{
	max-width: 1170px;
	width: 100%;
	/* width: 1170px; */
	margin: 0 auto 0;	
}
#header .menuHeader .navbar .collapse{
	padding:0px;
}
#header .menuHeader .navHeaderCollapse{
	max-width: 1170px;
	width: 100%;	
	font-size:14px;
	display: block;
	background: #676765;
	position: relative;
	top: 0;
	z-index: 999;	
	padding: 0;	
}

#header .menuHeader .navHeaderCollapse .mainmenu{
	/* float: right; */
	width: 100%;
	margin-top:-1px;
}
#header .menuHeader .navHeaderCollapse .mainmenu a{
	max-width: 1170px;
	width: 100%;
	padding: 15px 35px;	
	font-size:14px;
	/*background:none !important;*/
	
}
#header .menuHeader .navHeaderCollapse .mainmenu a.current{
	width: 100%;	
	background-color:#575755;	
	display: block;
}
#header .menuHeader .navHeaderCollapse .mainmenu a:hover{
	width: 100%;
	color:#fff;	
	background-color:#575755;
	/* border-bottom:5px solid #0071ba;
	padding-bottom:25px; */
	display: block;
}
#header .menuHeader .navHeaderCollapse .mainmenu a.current-link:focus{	
	color:#fff;
	background-color:#005a94;
	/* background:url('../img/hover-background.png') no-repeat;
	background-size:163px 80px;
	border-bottom:7px solid transparent;
	padding-bottom:27px; */

	
}
#header .menuHeader .navHeaderCollapse .mainmenu .submenu{
	width: 100%;
	box-shadow:none;
	padding:0px;
	border-radius:0px;
	border:none;
	/* border-bottom:3px solid #cccccc; */
}
#header .menuHeader .navHeaderCollapse .mainmenu .submenu li{
	border-bottom:1px dashed #cacaca;
	margin: 0 35px;	
	
}
#header .menuHeader .navHeaderCollapse .mainmenu .submenu li a{
	padding:9px;
	width:auto;
	/* margin-left:-9px; */
	
}
#header .menuHeader .navHeaderCollapse .mainmenu .submenu li a:hover{
    background:none;
	color:#0071ba;
	border-bottom:none;
	
}
/*----------- dropdown-menu account-------*/

#header .topHeader .container .member p .mainmenu li .user{
 color:white;
 font-size:10px;
 margin-top:3px;
}

#header .topHeader .container .member p .mainmenu{
	margin-top:-3px;
	margin-left:0px;
}

#header .topHeader .container .member .mainmenu #level1{
	padding-bottom:0px;
	background:none;
	color:#FFF;
	float:right

}

#header .topHeader .container .member .mainmenu .submenu li a{
	padding:5px;
	width:auto;
	
}
#header .topHeader .container .member .mainmenu .submenu li a:hover{
	border:none;
	background:#0071BA;
}
#header .topHeader .container{
	height:40px;
	min-width: 1200px;	
}




.navbar-toggle .icon-bar{
	width:25px;
	height:3px;
	background:#5a5a5c;
	border-radius:0px;
}
/* ----------Search---------- */
.form_search {
	max-width: 300px;
	width: 100%;
	position: relative;
	float: right;
}
#btn_search {
	position: absolute;
	right: 0;
	top: 0;
	width:73px;
	height:40px;
	background:url(../img/btn_search.png) no-repeat;
	border:none;
	
}
#search_2 {
	width: 100%;
	height: 36px;
	left: 0;
	padding-right: 78px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border:1px solid #0071BA;
	border-radius:5px;
	margin: 0;
	color:#ccc;
	font-size:13px;
	padding-left:5px;
}
#search_2:focus {
  border-color: #0071ba;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
/* ----------End search---------- */


 


/*
 *  Footer
 * ------------------------------------------------------------------------------
 */
#footer {	
	width: 100%;
	border-top: 5px solid #940000;
	 background-color: #676765; 
	/* padding: 28px 0 0 0; */
	/* border-top: 5px solid #005a94; */
	padding: 15px 0 0 0;
	margin-top:50px;
}
.footer_container {
	position: relative;
}
.footerContainer {
	padding: 0 15px;
}
#footer .footer_container .company_profile{
	width:22.22%;
	float:left;
	margin-top:1px;
	border-right:1px solid #005a94;
	height:265px;
	
	
}
#footer .footer_container .company_profile article{
	padding-right:20.37%;
}
#footer .footer_container .company_profile article p{
	margin-top:10px;
	line-height:20px;
}
#footer .footer_container .menu_footer{
	width:19.23%;
	height:auto;
	float:left;
	border-right:1px solid #0071ba;
	margin-left:110px;
}
#footer .footer_container .customer-care{
	width:19.23%;
	height:265px;
	
	float:left;
	border-right:1px solid #005a94;
	margin-left:40px;
	
		
}
#footer .footer_container .our-privacy{
	width:19.23%;
	height:265px;
	float:left;
	border-right:1px solid #005a94;
	margin-left:40px;	
}

#footer .footer_container .stay-connected{
	width:19.23%;
	height:auto;
	float:left;
	margin-left:40px;
	
}

#footer .footer_container .social{
	width:19.23%;
	height:auto;
	float:left;
	
}
#footer .footer_container .menu_footer article{
	margin-top:10px;
}
#footer .footer_container .menu_footer article .footer_list ul li {
	color:#cacaca;
}
.footer_list{
	margin-top:15px;
}
#footer .footer_container .company_info {
	float:right;
	position:absolute;
	left:700px;
	}
	
#footer .footer_container .company_info article{
	margin-top:10px;
	text-align:right;
}
#footer .footer_container .company_info article h3{
	margin-right:20px;
}
#footer .footer_container .company_info .footer_list{
	margin-right:20px;
	color:#cacaca;
}
#footer .footer_container .company_info .footer_social{
	margin-top:20px;
	float:right;
	margin-right:12px;
}
.link_top {
	position: absolute;
	right: 20px;
	top: -64px;
}
#footer .header h3 {
	font-size: 16px;
}
.footer_list ul,
.footer_list ul li,
.footer_social,
.footer_social li {
	float: left;
	
}
.footer_list ul{
	list-style:none;
	height:auto;
}
.footer_list ul li {
	width: 100%;
	height:30px;
}
.footer_list ul li a,
#footer p {
	color: #cacaca;
}
#footer  .footer_social ul li {
	position: relative;
	margin-right: 10px;
}
#footer  .footer_social ul li a {
	width: 30px;
	height: 30px;
	display: block;
}
.footer_list ul li a:hover {
	color:#fff;
}
#footer  .footer_social ul li i {
	color: #fff;
	position: absolute;
	top: 20%;
	left: 30%;
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
}
#footer .facebook {
	background-color: #47639e;
}
#footer .twitter {
	background-color: #00aced;
}
#footer .google-plus {
	background-color: #d7422b;
}
.copyright {
	background-color: #323232;
	/*line-height: 21px;
	padding: 5px 0;*/
	height:30px;
	margin-top: 40px;
	
}
.copyright p{
	text-align:center;
	color:#999999;
}
.copyright .policy {
	text-align: right;
	float:right;
}
.copyright a {
	color: #cacaca;
}
.copyright font {
	margin: 0 15px;
}
.copyright a:hover {
	color: #fff;
}

#footer #footerContent {
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
#footer #footerContent ul {
	text-align: center;
}
#footer #footerContent ul li {
	max-width: 100px;
	width: 100%;
    height: 29px;
    background: #959595;
	background-size: 100% 29px;
	background-position:center;
	display: inline-block;
	margin: 0 1% 10px 1%;
	border-radius: 5px;
}
#footer #footerContent ul li a {
	text-decoration: none;
}
#footer #footerContent ul li p { 
	font-size: 14px;
	color: #eeeeee;
	text-align: center;
	padding: 5px 0;
}
#footer #footerContent #copyRight {
	padding: 5px 0 25px 0;
}
#footer #footerContent #copyRight p {
	font-size: 11px;
	text-align: center;
	color: #eeeeee;
}

/*
 *  Lazy class
 * ------------------------------------------------------------------------------
 */
.lazy {	
	display: block;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 321px) and (max-width : 768px) {	
	
}

@media only screen and (max-width : 320px){
	
}

/* Footer style only */
@media only screen and (max-width : 480px){ 
	
}


/* Clear Bootstrap CSS
-------------------------------------------------------- */
.navbar-brand {
	padding: 0;
}

/* Header pop up
-------------------------------------------------------- */
#popRegister {
	/* display: none; */
}

/* Edit Bootstrap CSS
-------------------------------------------------------- */
.nav li {
	display: block;
	float: none !important;
	border-bottom: 1px solid #575755;
}
.nav li.lastMenu {
	border-bottom: 3px solid #990000;
}
.open .dropdown-menu {
	display: block;
}
.dropdown-menu {
	width: 100%;
	position: relative;
	top: 100%;
	left: 0;
	/* z-index: 1000; */
	display: none;
	float: none;	
	padding: 5px 0;	
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;	
}
.navbar-nav .open .dropdown-menu {
	position: relative; 	
	width: 100%;
	margin-top: 0;
	background-color: #FFFFFF;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/** Edit pop up REGISTER **/
#fancybox-overlay {
	min-width: 1200px !important;	
}

/** Rotate Total vehicle 29/12/2014 **/
.rotate {
	 filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
	-moz-transform: rotate(90.0deg);  /* FF3.5+ */
	-ms-transform: rotate(90.0deg);  /* IE9+ */
	-o-transform: rotate(90.0deg);  /* Opera 10.5 */
	-webkit-transform: rotate(90.0deg);  /* Safari 3.1+, Chrome */
	transform: rotate(90.0deg);  /* Standard */
}

.rotateText {
	position: relative;
	top: 0px;
	filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
	-moz-transform: rotate(360.0deg);  /* FF3.5+ */
	-ms-transform: rotate(360.0deg);  /* IE9+ */
	-o-transform: rotate(360.0deg);  /* Opera 10.5 */
	-webkit-transform: rotate(360.0deg);  /* Safari 3.1+, Chrome */
	transform: rotate(360.0deg);  /* Standard */
}

/** HeaderTop 05/02/2015 **/
#header .topHeader .container .row {
	margin: 0;
}
.member .navbar-left {
	float: left !important;
}

/* Start Advertise 23-02-2015
--------------------------------------------------- */
#advertise {
	width: 1170px;
	margin: 0 auto;
}
#advertise ul {
	margin-left: -10px;
	padding-bottom: 50px;
}
#advertise ul li { 
	width: 285px;
	height: 150px;
	margin-left: 10px;
	float: left;
}
#advertise ul li img { 
	width: 285px;
	height: 150px;
}
/** End Advertise **/ 

/* Start Face Book Like Box 24-02-2015
--------------------------------------------------- */
#fbLikeBox {	
	margin: 10px 0 0 40px;
	background: #FFFFFF;
	display: inline-block;
}
/** End Face Book Like Box **/

/* Start Header Responsive 26-02-2015
--------------------------------------------------- */
#menuRes {
	max-width: 30px;
	width: 100%;
	height: auto;
	margin: 40px 0;	
	cursor: pointer;
	float: right;
}
#header .menuHeader .logo img {
	position: relative;
	z-index: 9999;
}
#header #menuNav {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	margin-top: 5px;	
}
#header #menuNav #dropMenu {
	display: none;
}
.navbar-nav {
	margin: 0;
}
.navbar-collapse {
	border: none;
}
/** End Header Responsive **/

/*
 *  Responsive Style
 * ------------------------------------------------------------------------------
 */
@media only screen and (max-width : 480px) {
	/* #homeContainer .container #lastestCar ul li p.borderTop {
		font-size: 75%;
	} */
	#header .menuHeader {
		height: 57px !important;
	}
	.logo a img {
		max-width: 150px;
		height: 50px;
	}
	#menuRes {
		margin: 17px 0;
	}
	#header #menuNav {
		margin: 2px auto 0;
	}
	#header .menuHeader .navHeaderCollapse .mainmenu a {
		font-size: 13px;
		margin-top: 1px;
	}
	#country-select{
		margin-left: 20px !important;
		margin-top: 12px !important;
	}	
}
@media only screen and (max-width : 768px) {
	#country-select{
		margin-left: 55px;
		margin-top: 34px;
	}
}

/*
 *  Pagination
 * ------------------------------------------------------------------------------
 */
.pagination .prev,
.pagination .next {
	display: none;
}