/*css for sideBar*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* Edit style content
---------------------------------------------- */
#companyDetail {
	width: 100%;	
	margin: 30px auto 50px;
}
#companyDetail .container  { 
	width: 100%;
	max-width:1170px;
	padding: 0 15px;
}
#productDetail {	
	max-width: 1170px;
	width: 100%;
	height: auto;
	border: 1px solid #CCC;
	margin: 0 auto 0;	
	overflow:hidden;
}
#companyDetail .container #productDetail .title_product{
	padding:10px 0;
	color:#0071ba;
	font-size:18px;	
	font-weight:bold;
	/*border-bottom:2px solid #0e78bd;*/
	margin:0 0 10px 0;
}
#companyDetail .container .row .col-lg-4{
	padding-right: 0;
}
#companyDetail .container .row .col-lg-8{
	padding-left: 0;
}
/** Ending **/

#sectionWrapper #sectionContenWrapper{	
	height:auto;
	margin:20px auto 0 auto;
}
#sectionWrapper #carMenu{	
	padding-bottom:15px;
}
#carMenu ul{
	list-style:none;
}
#carMenu ul li.first_child{
	padding-left:0px;
}
#carMenu ul li{
	float:left;
	padding-left:10px;
}
#carMenu ul li.menu{
	color:#0064b2;
}
#carMenu ul li a{
	color:#424242;
}
#sectionContenWrapper #sectionSidebar{
	width:230px;
	height:auto;
	float:left;
}
#sectionContenWrapper #sectionSidebar #topSideBar{
	width:230px;
	height:auto;
	margin-top:10px;
}
#sectionContenWrapper #sectionSidebar #topSideBar ul{
	list-style:none;
}
#sectionContenWrapper #sectionSidebar #topSideBar ul li{
	border-top:1px dotted #ccc;
	background:url(../../images/common/sidebar/arrow-liststyle.png) 10px center no-repeat;
	height:27px;
	padding:12px 0px 0px 30px;
}
#sectionContenWrapper #sectionSidebar #topSideBar ul li.last_child{
	border-bottom:1px dotted #ccc;
}
#sectionContenWrapper #sectionSidebar #topSideBar ul li a.expert{
	color:#0064b2;
}
#sectionContenWrapper #sectionSidebar #topSideBar ul li a{
	font-size:14px;
	color:#424242;
	text-decoration:none;
}
#sectionContent #carData{
	max-width:1170px;	
	width: 100%;
	height:auto;	
}
#carData #carSourceWraper{				
	padding: 0 20px;
}







#carSourceWraper .listCar{
	width: 100%;
	border-bottom: 2px solid #b6c8d5;
	background: #FFFFFF;
	margin-top: 20px;	
}
#carSourceWraper .lastCar{
	margin:0;
}

#carSourceWraper .listCarName{	
	background-color: #e8e8e8;	
}

#carSourceWraper .listCarName .pro_title{	
	font-size: 12px;
	font-weight: 300;
	color: #005a94;
	text-align: center;
	border-bottom: 2px solid #dcdcdc;	
	padding: 7px 0 5px 0;
}
#carSourceWraper .listCar #carDetailWrap{	    
	width: 100%;
	padding: 5px 10px 0 140px;
	box-sizing:inherit;
}


#carSourceWraper .listCar #carDetailWrap p.price{
	color: #db0000; 
	text-align:center;	
	position:relative;
	top:5px;
}
#carSourceWraper .listCar #carDetailWrap p{
	color: #757575;
    font-size: 12px;
    line-height: 16px;
	text-transform: capitalize;	
	padding:5px 0;		
}
#carSourceWraper .listCar #carDetailWrap p.clearBorTop {
	border-top: 0;
}
#carSourceWraper .listCar #carDetailWrap p span{
	
	color:#757575; 
	margin-right:3px; 
	font-weight:normal;
	
	}
#carSourceWraper .listCarName p{
	font-size:11px;
	color:#424242;
	font-weight:bold;
	padding-bottom: 3px;

}
#carSourceWraper .listCarImg{
	max-width:130px;
	width: 100%;
	height: 140px;
	position: relative;
	float: left;
}
#carSourceWraper .listCarImg img.imgList{
	max-width: 130px;	
	height:140px;
}
#carSourceWraper .listCarImg img.soldReserved{
	position: absolute;
	left: 0;
	top: 0;
	z-index:1; 	
}
#carSourceWraper .listCarImg img.imgSmall{ 
	position:absolute; 
	z-index:999; 
	width:60px; 
	height:60px;
	top: 0;
	right: 0;
}
#carSourceWraper #carDetailWrap .contactSeller{
	bottom: 15px;
    height: auto;
    position: absolute;
    width: 150px;
}
#carSourceWraper #carDetailWrap .contactSeller a{
	color: #0071ba;
}
/*/////////////////////



///////////////////////
/*css for mainContent*/
	/* buyer and forwarder directory*/
#sectionContenWrapper #sectionContent{
	width:100%;
	height:auto;
}
#sectionContenWrapper #sectionContent .findtrader_title{	
	max-width: 1170px;
	width: 100%;
	margin: 10px 20px 0px 20px;	
}
#sectionContenWrapper #sectionContent .findtrader_title p{
	color: #0064b1;
	font-size: 18px;	
	font-weight: bold;	
}
#sectionContenWrapper #sectionContent p span{
	/*color: #bf272d;*/
	font-weight: bold;
}
#sectionContenWrapper #sectionContent #buyerTitle{
	width:305px;
	height:24px;
	border-bottom:2px solid #0064b2;
	margin-top:10px;
	float:left;
}
#sectionContenWrapper #sectionContent #buyerTitle p{
	font-size:16px;
	font-weight:bold;
	color:#0064b2;
}
#sectionContenWrapper #sectionContent #member{
	width:400px;
	height:24px;
	border-bottom:2px solid #0064b2;
	margin-top:10px;
	float:right;
}
#sectionContenWrapper #sectionContent #member p{
	color:#c1262c;
	font-size:14px;
	text-align:right;
	font-weight:bold;
}
#sectionContenWrapper #sectionContent #flagCountWrap{
	width:705px;
	height:auto;
	margin-top:20px;
}
#sectionContenWrapper #sectionContent  .flagCount{
	width:705px;
	height:auto;

}
#sectionContenWrapper #sectionContent .flagCount ul{
	list-style:none;
}
#sectionContenWrapper #sectionContent .flagCount ul li{
	height:23px;
	float: left;
	width: 176px;
}
#sectionContenWrapper #sectionContent  .flagCount span{
	float:left;
}
#sectionContenWrapper #sectionContent  .flagCount p{
	padding:2px 0px 0px 26px;
}
#sectionContenWrapper #sectionContent .flagCount p a{
	font-size:12px;
	color:#424242;
	text-decoration:none;
}
#sectionContenWrapper #sectionContent #moreCountry{
	width:705px;
	margin-top:
	10px;
}
#sectionContenWrapper #sectionContent #moreCountry #dropdown{
	width:120px;
	float:right;
	background:url(../../images/buyerdirectory/dropdown.png) no-repeat right center;
}
#sectionContenWrapper #sectionContent #moreCountry p{
	text-align:right;
	padding-right:10px;
}
#sectionContenWrapper #sectionContent #moreCountry p a{
	font-size:11px;
	color:#0064b2;
}
#sectionContenWrapper #sectionContent #allCountry{
	width:705px;
	height:auto;
	display:none;
	margin-top:10px;
}
#sectionContenWrapper #sectionContent #itemCounter{
	width:705px;
	height:auto;
	margin-top:25px;
}
#sectionContenWrapper #sectionContent #itemCounter ul{
	list-style:none;
}
#sectionContenWrapper #sectionContent #itemCounter li{

	display:inline;
}
#sectionContenWrapper #sectionContent #itemCounter li a{
	font-size:11px;
	color:#424242;
	line-height:24px;
}
#sectionContenWrapper #sectionContent #searchBoxWrap{
	width:705px;
	height:40px;
	margin-top:25px;
	background:#e7f4ff;
}
#sectionContenWrapper #sectionContent #searchBoxWrap .searchBox{
	width:588px;
	height:28px;
	margin:5px 0px 0px 5px;
	border:1px solid #ccc;
	background:url(../../images/buyerdirectory/microscope.png) right 10px center no-repeat;
	background-color:#fff;
	float:left;
}
#sectionContenWrapper #sectionContent #searchBoxWrap #searchButton{
	width:100px;
	height:30px;
	margin:5px 0px 0px 5px;
	float:left;
}
#sectionContenWrapper #sectionContent #searchBoxWrap #searchButton .seach_btn{
	width: 100px;
	height: 30px;
	background:url(../../images/buyerdirectory/btnsearch.png) no-repeat;
	border: none;
	cursor: pointer;
}
#sectionContenWrapper #sectionContent #buyerWrap{
	width:705px;
	height:auto;
	margin-top:20px;
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap{
	width:298px;
	height:auto;
	padding:20px;
	border:1px solid #ccc;
	background:#f2f2f2;
	float:left;
	margin-bottom:25px;
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrapRight{
	margin-left:25px;
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .buyerDetail{
	width:148px;
	height:auto;
	float:left;
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .buyerDetail p.title{
	color:#0064b2;
	font-size:14px;
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .buyerDetail p{
	font-size:12px;
	color:#424242;
	line-height:24px;
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .buyerDetail p span{
	float:left;
	margin-top:3px;
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .buyerLogo{
	width:150px;
	height:auto;
	float:right;

}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .buyerLogo p{
	text-align:right;
	padding-top:10px;
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .buyerLogo p a{
	font-size:12px;
	color:#0064b2;
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .buyAddress{
	width:300px;
	height:auto;
	margin-top:25px;
	float:left;
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .buyAddress p{
	font-size:11px;
	color:#424242;
	line-height:20px;
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .moreBuyer{
	width:300px;
	margin-top:15px;
	float:left;
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .moreBuyer p{
	text-align:right;
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .moreBuyer p a{
	color:#0064b2;
	font-size:11px;
}
#pagernation{
	width:705px;
	height:15px;
}
	/* expert commpany */
#sectionContenWrapper #sectionContent #expert_titlewrap{
	width:675px;
	height:auto;
	padding:15px;
	background:#f2f2f2;
	margin-top:10px;
}
#sectionContenWrapper #sectionContent #expert_titlewrap #expert_title{
	width:675px;
	height:24px;
	border-bottom:2px solid #0064b2;
}
#sectionContenWrapper #sectionContent #expert_titlewrap #expert_title p{
	font-size: 16px;
	color: #0064b2;
}
#sectionContenWrapper #sectionContent #expert_titlewrap #list_wrap{
	width:675px;
	height:auto;
	margin-top:15px;
}
#sectionContenWrapper #sectionContent #expert_titlewrap #list_wrap ul{
	list-style:none;
	float:left;
}
#sectionContenWrapper #sectionContent #expert_titlewrap #list_wrap ul li{
	width:225px;
	height:24px;
	float: 	left;
}
#sectionContenWrapper #sectionContent #expert_titlewrap #list_wrap ul li a{
	color:#424242;
}
#sectionContenWrapper #sectionContent #company_listwrap{
	width:705px;
	height:auto;
	margin-top:25px;
}
#sectionContenWrapper #sectionContent #company_listwrap #company_list{
	width:705px;
	height:33px;
	border-bottom:2px solid #0064b2;
}
#sectionContenWrapper #sectionContent #company_listwrap #company_list p{
	font-size:24px;
	text-align:left;
	color:#0064b2;
}
#sectionContenWrapper #sectionContent #company_listwrap #company_detail{
	width:705px;
	height:auto;
	margin-top:25px;
}
#sectionContenWrapper #sectionContent #company_listwrap #company_detail p{
	font-size:12px;
	color:#424242;
	line-height:24px;
}
#sectionContenWrapper #sectionContent #company_listwrap #company_detail p a{
	 color:#0064b2;
}
#sectionContenWrapper #sectionContent #company_listwrap #search_wrap{
	width:100%;
	height:35px;
	background:#e7f4ff;
	margin-top:30px;
	padding:5px 5px 0px 5px;
	vertical-align:middle;
}
#sectionContenWrapper #sectionContent #company_listwrap #search_wrap .search_box{
	width:588px;
	height:28px;
	border:1px solid #ccc;
	float:left;
	background:url(../../images/buyerdirectory/microscope.png) right 10px center no-repeat;
	background-color:#fff;
}
#sectionContenWrapper #sectionContent #company_listwrap #search_wrap .search_btn{
	width:100px;
	height:30px;
	float:right;
	background:url(../../images/buyerdirectory/btnsearch.png) no-repeat;
	border:none;
	cursor:pointer;
}
#sectionContenWrapper #sectionContent #exper_comdetail{
	width:703px;
	height:auto;
	border:1px solid #0064b2;
	margin-top:20px;
	padding:20px 0px 20px 0px;
}
#sectionContenWrapper #sectionContent #exper_comdetail #com_detail{
	width:688px;
	height:auto;
	padding:0px 0px 20px 15px;
	background:url(../../images/expert_company/border-bg.png) bottom center no-repeat;
}
#sectionContenWrapper #sectionContent #exper_comdetail #com_detail #logo{
	width:185px;
	height:auto;
	float:left;
}
#sectionContenWrapper #sectionContent #exper_comdetail #com_detail #logo p{
	font-size:14px;
	color:#424242;
}
#sectionContenWrapper #sectionContent #exper_comdetail #com_detail #contact{
	width:503px;
	height:auto;
	float:left;
}
#sectionContenWrapper #sectionContent #exper_comdetail #com_detail #contact p{
	font-size:14px;
	color:#424242;
	line-height:24px;
}
#sectionContenWrapper #sectionContent #exper_comdetail #com_detail #contact p a{
	color:#424242;
}
#sectionContenWrapper #sectionContent #exper_comdetail #com_detail #contact p span{
	padding-right:10px;
}
#sectionContenWrapper #sectionContent #exper_comdetail #com_detail #contact p a.skype{
	color:#009cd8;
}
#sectionContenWrapper #sectionContent #exper_comdetail #car_detailwrap{
	width:705px;
	height:auto;
	margin-top:20px;
}
#sectionContenWrapper #sectionContent #exper_comdetail #car_detailwrap #car_detail{
	width:157px;
	height:auto;
	float:left;
	margin-left:15px;
}
#sectionContenWrapper #sectionContent #exper_comdetail #car_detailwrap #car_detail #car_img{
	width:155px;
	height:88px;
	border:1px solid #ccc;
}
#sectionContenWrapper #sectionContent #exper_comdetail #car_detailwrap #car_detail p{
	text-align:center;
	line-height:18px;
	padding-top:10px;
	font-size:12px;
}
#sectionContenWrapper #sectionContent #exper_comdetail #car_detailwrap #car_detail p a{
	color:#000088;
}
#sectionContenWrapper #sectionContent #exper_comdetail #car_detailwrap #car_detail p span.price{
	color:#c1272d;
}
#sectionContenWrapper #sectionContent #exper_comdetail #view_more{
	width:703px;
	height:auto;
	margin-top:20px;
}
#sectionContenWrapper #sectionContent #exper_comdetail #view_more p{
	text-align:right;
	padding-right:15px;
}
 /*///////Company detail/////*/

#sectionContenWrapper #sectionContent #com_name{
	width: 100%;
	height: auto;
	margin-top: 30px;
	border-radius: 5px;
	padding-bottom: 10px;
}
#sectionContenWrapper #sectionContent #com_detailwrap p{
	font-size: 14px;
	color: #424242;
	padding-top: 7px;
	padding-left:20px;
	padding-right:5px;
	text-indent:1px;
}
#sectionContenWrapper #sectionContent #com_detailwrap p.title{
	font-weight: bold;
	font-size: 21px;
	color:#0071ba;
	padding-bottom:10px;
	border-bottom: 1px solid #ccc;
}
#sectionContenWrapper #sectionContent #com_detailwrap{
	max-width: 1170px;	
	width: 100%;
	padding: 0 20px 20px 20px;
}
#sectionContenWrapper #sectionContent #com_detailwrap #div_left{
	max-width: 1170px;	
	width: 100%;	
}
#sectionContenWrapper #sectionContent #com_detailwrap #div_left img.imgDetail {	
	width: 100%;
	height: auto;
}
#sectionContenWrapper #sectionContent #com_detailwrap #div_left #div_logo{
	/* width: 490px;
	float: left;
	margin: 0 10px 0 20px; */
}
#sectionContenWrapper #sectionContent #com_detailwrap #div_left .div_acc1{
	width: 57px;
	height: 43px;
	float: left;
	margin:5px 5px 0px 0px;
}
#sectionContenWrapper #sectionContent #com_detailwrap #div_left #div_social{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 30px;
}
#sectionContenWrapper #sectionContent #com_detailwrap #div_left #div_social ul{
	list-style: none;
}
#sectionContenWrapper #sectionContent #com_detailwrap #div_left #div_social ul li.first{
	margin-left: 0px;
}
#sectionContenWrapper #sectionContent #com_detailwrap #div_left #div_social ul li{
	float: left;
	margin-left: 5px;
}

#contactPerson {
	padding: 20px 0 5px 0;
}
#contactPerson span {
	font-size: 18px;
	font-weight: 700;
	color: #0c6299;
}

#sectionContenWrapper #sectionContent #com_detailwrap #div_right{
	max-width: 1170px;	
	width: 100%;
	background:#FFFFFF;	
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom:7px solid #005a94;	
	
	padding-bottom: 30px;
}
#sectionContenWrapper #sectionContent #com_detailwrap #div_right .popbox_contact{	
display: none;
background: url(../../img/public_car_detail/contact-seller.png) no-repeat;
width: 320px;
height: 400px;
position: absolute;
margin-left: -88px;
margin-top: -18px;
}
#sectionContenWrapper #sectionContent #com_detailwrap #div_right .popbox_contact .sends{
background: url(../../img/public_car_detail/contact-seller-send.png);
border: none;
width: 132px;
height: 30px;
float: right;
margin-right: 36px;
}





#sectionContenWrapper #sectionContent #com_detailwrap #div_right .auto_title{
	width:290px; margin:0 auto; font-size:18px; color:#757575;
	/*padding:20px 0 4px 0; border-bottom:1px dashed #757575;*/
	margin-bottom:7px;
	}
#sectionContenWrapper #sectionContent #com_detailwrap #div_right table{
	width: 100%;
	margin: 0 auto;	
}
#sectionContenWrapper #sectionContent #com_detailwrap #div_right .introduction{
	padding-bottom:15px;
	}
#sectionContenWrapper #sectionContent #com_detailwrap #div_right .introduction .intro_title{

	 border-bottom:1px dashed #757575; 
	 margin:10px; 
	 height:30px;
	 
 	}
#sectionContenWrapper #sectionContent #com_detailwrap #div_right .introduction .intro_title span{
	font-size:18px; color:#757575;
	}
#sectionContenWrapper #sectionContent #com_detailwrap #div_right .introduction  .intro_detail{
	margin:10px 0 0 0; text-indent:30px; color:#acacac;
	}
#sectionContenWrapper #sectionContent #com_detailwrap #div_right table td{
	width: auto;
	height: 30px;
	color:#acacac; font-size:13px;
	vertical-align: middle;	
}
#sectionContenWrapper #sectionContent #com_detailwrap #div_right table td .side_right{	
	font-size:13px; 
	color:#acacac; 
	text-align:right;		
	padding-right: 20px;
	float:right; 
}
#sectionContenWrapper #sectionContent #com_detailwrap #div_right table td.title{	
	color:#acacac; font-size:13px;
	padding-left: 20px;
}
#sectionContenWrapper #sectionContent #com_detailwrap #div_right table td a{
	color: #005a94;	
}
#sectionContenWrapper #sectionContent #com_detailwrap #div_right #divBnt {
	margin-top: 50px;
	text-align: center;
}
#sectionContenWrapper #sectionContent #com_detailwrap #div_right #divBnt span img {
	margin-bottom: 10px;
}

/*//// seller directory ////*/
#sectionContenWrapper #sectionContent #seller_titlewrap{
	width:675px;
	height:auto;
	padding:15px 15px 30px 15px;
	background:#ebf6ff;
	margin-top:10px;
}
#sectionContenWrapper #sectionContent #seller_titlewrap #seller_title{
	width:675px;
	height:24px;
	border-bottom:2px solid #0064b2;
}
#sectionContenWrapper #sectionContent  p.detail{
	font-size:12px;
	line-height:24px;
	color:#424242;
	padding-top:15px;
}
#sectionContenWrapper #sectionContent #seller_titlewrap #seller_title p{
	font-size:16px;
	color:#0064b2;
}
#sectionContenWrapper #sectionContent #tab_wrap{
	width:705px;
	height:auto;
	margin-top:25px;
}
#sectionContenWrapper #sectionContent #tab_wrap ul{
	list-style:none;
}
#sectionContenWrapper #sectionContent #tab_wrap ul li{
	float:left;
	padding-top:12px;
	color:#424242;
	cursor:pointer;
}
#sectionContenWrapper #sectionContent #tab_wrap ul li.all{
	width:110px;
	height:26px;
	border:1px solid #ccc;
	border-right:none;
	padding-left:65px;
}

#sectionContenWrapper #sectionContent #tab_wrap ul li.car{
	width:100px;
	height:26px;
	border:1px solid #ccc;
	border-right:none;
	background:url(../../images/seller-directory/car.gif) 40px center no-repeat;
	padding-left:75px;
}
#sectionContenWrapper #sectionContent #tab_wrap ul li.truck{
	width:100px;
	height:26px;
	border:1px solid #ccc;
	border-right:none;
	background:url(../../images/seller-directory/truck.gif) 40px center no-repeat;
	padding-left:75px;
}
#sectionContenWrapper #sectionContent #tab_wrap ul li.bus{
	width:100px;
	height:26px;
	border:1px solid #ccc;
	background:url(../../images/seller-directory/bus.gif) 40px center no-repeat;
	padding-left:75px;
}
#sectionContenWrapper #sectionContent #tab_wrap ul li.equipment{
	width:115px;
	height:27px;
	border:1px solid #ccc;
	border-top:none;
	border-right:none;
	background:url(../../images/seller-directory/equipment.gif) 20px center no-repeat;
	padding-left:60px;
}
#sectionContenWrapper #sectionContent #tab_wrap ul li.part{
	width:135px;
	height:27px;
	border:1px solid #ccc;
	border-top:none;
	border-right:none;
	background:url(../../images/seller-directory/part.gif) 23px center no-repeat;
	padding-left:40px;
}
#sectionContenWrapper #sectionContent #tab_wrap ul li.attachment{
	width:120px;
	height:27px;
	border:1px solid #ccc;
	border-top:none;
	border-right:none;
	background:url(../../images/seller-directory/attach.gif) 30px center no-repeat;
	padding-left:55px;
}
#sectionContenWrapper #sectionContent #tab_wrap ul li.spare{
	width:115px;
	height:27px;
	border:1px solid #ccc;
	border-top:none;
	background:url(../../images/seller-directory/spare.gif) 30px center no-repeat;
	padding-left:60px;
}
#sectionContenWrapper #sectionContent #tab_wrap ul li.all_current{
	width:110px;
	height:24px;
	border:1px solid #ccc;
	border-top:3px solid #0064b2;
	color:#0064b2;
	border-right:none;
	padding-left:65px;
}
#sectionContenWrapper #sectionContent #tab_wrap ul li.car_current{
	width:100px;
	height:24px;
	border:1px solid #ccc;
	border-top:3px solid #0064b2;
	color:#0064b2;
	border-right:none;
	background:url(../../images/seller-directory/car_over.gif) 40px center no-repeat;
}
#sectionContenWrapper #sectionContent #tab_wrap ul li.truck_current{
	width:100px;
	height:24px;
	border:1px solid #ccc;
	border-top:3px solid #0064b2;
	color:#0064b2;
	border-right:none;
	background:url(../../images/seller-directory/truck_over.gif) 40px center no-repeat;
}
#sectionContenWrapper #sectionContent #tab_wrap ul li.bus_current{
	width:100px;
	height:24px;
	border:1px solid #ccc;
	border-top:3px solid #0064b2;
	color:#0064b2;
	background:url(../../images/seller-directory/bus_over.gif) 40px center no-repeat;
	padding-left:75px;
}
#sectionContenWrapper #sectionContent #tab_wrap ul li.equipment_current{
	width:115px;
	height:24px;
	border:1px solid #ccc;
	border-right:none;
	border-top:3px solid #0064b2;
	color:#0064b2;
	background:url(../../images/seller-directory/equipment_over.gif) 20px center no-repeat;
	padding-left:60px;
}
#sectionContenWrapper #sectionContent #tab_wrap ul li.part_current{
	width:135px;
	height:24px;
	border:1px solid #ccc;
	border-right:none;
	border-top:3px solid #0064b2;
	color:#0064b2;
	background:url(../../images/seller-directory/part_over.gif) 23px center no-repeat;
	padding-left:40px;
}
#sectionContenWrapper #sectionContent #tab_wrap ul li.attachment_current{
	width:120px;
	height:24px;
	border:1px solid #ccc;
	border-right:none;
	border-top:3px solid #0064b2;
	color:#0064b2;
	background:url(../../images/seller-directory/attach_over.gif) 30px center no-repeat;
	padding-left:55px;
}
#sectionContenWrapper #sectionContent #tab_wrap ul li.spare_current{
	width:115px;
	height:24px;
	border:1px solid #ccc;
	border-top:3px solid #0064b2;
	color:#0064b2;
	background:url(../../images/seller-directory/spare_over.gif) 30px center no-repeat;
	padding-left:60px;
}
#sectionContenWrapper #sectionContent #tab_all, #tab_car, #tab_truck, #tab_bus, #tab_equipment, #tab_part, #tab_attach, #tab_spare{
	width:703px;
	height:auto;
	border:1px solid #ccc;
	display:none;
	margin-top: 30px;
	padding-bottom: 20px;
}
#sectionContenWrapper #sectionContent #search_wrap{
	width: 100%;
	height: auto;
	margin-top: 30px;
}
#sectionContenWrapper #sectionContent .select_country{
	width: 180px;
	height: 30px;
	float: left;
	border: 1px solid #ccc;
}
#sectionContenWrapper #sectionContent .select_member{
	width: 180px;
	height: 30px;
	float: left;
	margin-left: 10px;
	border: 1px solid #ccc;
}
#sectionContenWrapper #sectionContent .textbox_search{
	width: 180px;
	height: 28px;
	float: left;
	text-indent: 10px;
	margin-left: 10px;
	border: 1px solid #ccc;
	padding: 0px;
}
#sectionContenWrapper #sectionContent .search_button{
	width: 185px;
	height: 30px;
	border: none;
	cursor: pointer;
	padding: 0px;
	float: right;

	background:url(../../images/expert_company/search_sec.png) no-repeat;
}
#sectionContenWrapper #sectionContent #total_com{
	width: 960px;
	height: auto;
	margin-top: 30px;
	border-bottom: 3px solid #408bc5;
	padding-bottom: 5px;
}
#sectionContenWrapper #sectionContent #total_com p{
	font-size: 12px;
	color: #424242;
}
#sectionContenWrapper #sectionContent #total_com p span{
	color: #bf282d;
	font-weight: bold;
}
#sectionContenWrapper #sectionContent #com_wraper{
	width: 98%;
	height: auto;
	min-height: 200px;
	border-radius: 5px;
	border:1px solid #ccc;
	padding: 0 10px 10px 10px;
	margin-top: 10px;
}
#sectionContenWrapper #sectionContent #com_wraper p.premium{
	color: #0064b1;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 5px;
	padding-top: 20px;
}
#sectionContenWrapper #sectionContent #com_wraper .com_wrap{
	width: 98%;
	height: auto;
	border:1px solid #ccc;
	border-radius: 5px;
	padding: 10px 5px 10px 10px;
	margin-top: 10px;
}
#sectionContenWrapper #sectionContent #com_wraper .com_wrap .left{
	width: 18%;
	height: auto;
	float: left;
}
#sectionContenWrapper #sectionContent #com_wraper .com_wrap .left p{
	font-weight: bold;
	font-size: 12px;
	color: #0064b1;
	text-align: center;
	padding-top: 10px;
}
#sectionContenWrapper #sectionContent #com_wraper .com_wrap .right{
	width: 60%;
	height: auto;
	float: left;
	margin-left: 10px;
}
#sectionContenWrapper #sectionContent #com_wraper .com_wrap .right p.title{
	color: #0064b1;
	font-weight: bold;
	font-size: 16px;
}
#sectionContenWrapper #sectionContent #com_wraper .com_wrap .right p{
	font-size: 12px;
	color: #424242;
	line-height: 20px;
}
#sectionContenWrapper #sectionContent #com_wraper .com_wrap .right ul{
	list-style: none;
}
#sectionContenWrapper #sectionContent #com_wraper .com_wrap .right ul li{
	float: left;
	width: 40%;
	height: 25px;
	background:url(../../images/expert_company/blue_libg.png) no-repeat left 4px;
	padding-left: 15px;
	font-size: 12px;
}
#sectionContenWrapper #sectionContent #com_wraper .com_wrap .right ul li.product{
	width: 100%;
}
#sectionContenWrapper #sectionContent #com_wraper .com_wrap .right ul li span{
	color: #bf272d;
}
#sectionContenWrapper #sectionContent #com_wraper .com_wrap .right .button_wraper{
	width: 100%;
	height: auto;
	margin-top: 10px;
}
#sectionContenWrapper #sectionContent #com_wraper .com_wrap .right .button_wraper img{
padding: 2px;
}
#sectionContenWrapper #sectionContent #com_wraper .membership{
	width: 100%;
	height: auto;
}
#sectionContenWrapper #sectionContent #com_wraper .membership .diamon_left{
	width: 45%;
	height: auto;
	float: left;
	border:1px solid #ccc;
	margin-top: 10px;
	padding-bottom: 10px;
}
#sectionContenWrapper #sectionContent #com_wraper .membership  .dimon ul{
	list-style-type: none;
}
#sectionContenWrapper #sectionContent #com_wraper .membership li.di{
	display: inline;
	width: 49%;
	height: auto;
	float: left;
	border:1px solid #ccc;
	margin-top: 10px;
	padding-bottom: 10px;
}

#sectionContenWrapper #sectionContent #com_wraper .membership .diamon_button{
	float: left;
	width: 310px;
	height: auto;
	margin: 10px 0 0 70px;
}
#sectionContenWrapper #sectionContent #com_wraper .membership .diamon_button img{
	padding-right: 2px;
}
#sectionContenWrapper #sectionContent #com_wraper .membership .diamon_right{
	width: 49%;
	height: auto;
	float: right;
	border:1px solid #ccc;
	margin-top: 10px;
	padding-bottom: 10px;
}
#sectionContenWrapper #sectionContent #com_wraper .membership .diamon_logo{
	width: 35%;
	height: auto;
	border:1px solid #ccc;
	margin: 10px 0 0 10px;
	float: left;
}
#sectionContenWrapper #sectionContent #com_wraper .membership .diamon_data{
	width: 60%;
	height: auto;
	float: right;
	margin-top: 10px;
}
#sectionContenWrapper #sectionContent #com_wraper .membership .diamon_data ul{
	list-style: none;
	margin-top: 10px;
}
#sectionContenWrapper #sectionContent #com_wraper .membership .diamon_data ul li{
	float: left;
	width: 100%;
	background:url(../../images/expert_company/blue_libg.png) no-repeat left 4px;
	font-size: 12px;
	padding-left: 15px;
}
#sectionContenWrapper #sectionContent #com_wraper .membership .diamon_data p.title{
	color: #0064b1;
    font-size: 16px;
    font-weight: bold;
}
#sectionContenWrapper #sectionContent #com_wraper .membership .gold_membership{
	width: 220px;
	height: 220px;
	float: left;
	margin-left: 10px;
	border:1px solid #ccc;
	margin-top: 10px;
}
#sectionContenWrapper #sectionContent #com_wraper .membership .silver_membership{
	width: 160px;
	height: 120px;
	float: left;
	margin-left: 21px;
	border:1px solid #ccc;
	margin-top: 10px;
	position: relative;
	text-align: center;
}
#sectionContenWrapper #sectionContent #com_wraper .membership .silver_membership img{
	max-width: 160px;
	max-height: 120px;
}
#sectionContenWrapper #sectionContent #com_wraper .membership .free_membership{
	width: 100%;
	height: 300px;
}
#sectionContenWrapper #sectionContent #com_wraper .membership ul.gold{
	list-style: none;
	margin-top: 10px;
}
#sectionContenWrapper #sectionContent #com_wraper .membership ul.gold li{
	float: left;
	width: 220px;
	height: 210px;
	margin-left: 10px;
	border:1px solid #ccc;

	text-align: center;
}

#sectionContenWrapper #sectionContent #com_wraper .membership ul.gold li img{
	height: 210px ;
    width: 220px ;
}

#sectionContenWrapper #sectionContent #com_wraper .membership ul.gold li p{
	border-top:1px dashed #ccc;
	width: 90%;
	margin-left: 5%;
	margin-top: 10px;
	padding-top: 5px;
	text-align: center;
	color: #0064b1;
    font-size: 16px;
    font-weight: bold;
}
#sectionContenWrapper #sectionContent #list_allcom{

	border: 1px solid #ccc;
	width: 100%;
	height: auto;
	border-radius: 5px;
	padding-bottom: 20px;
	margin-top: 10px;
}
#sectionContenWrapper #sectionContent #list_allcom p{
	float: right;
	padding-right: 10px;
	cursor: pointer;
	color: #1726b8;
}
#sectionContenWrapper #sectionContent #list_allcom ul{
	list-style: none;
	padding: 20px;
}
#sectionContenWrapper #sectionContent #list_allcom ul li{
	float: left;
	width: 220px;
	height: 30px;
	font-size: 13px;
	color:  #424242;
}
#sectionContenWrapper #sectionContent #list_allcom ul li.all_com{
	display: none;
}
#sectionContenWrapper #sectionContent #list_allcom ul li span{
	color: #c55757;
}
#sectionContenWrapper #sectionContent  table{
	width:605px;
}
#sectionContenWrapper #sectionContent  table td{
	width:175px;
	height:auto;
	vertical-align:middle;
	padding:10px 0px;
	border-bottom: 1px solid #ccc;
}
#sectionContenWrapper #sectionContent  table td .memebrship{
	width: 270px;
}
#sectionContenWrapper #sectionContent .no-border{
	border-bottom:none;
}
#sectionContenWrapper #sectionContent  table td.no_border{
	border:none;
}
#sectionContenWrapper #sectionContent  table td.label{
	width:175px;
	padding-left:10px;
}
#sectionContenWrapper #sectionContent  table td.mid_child{
	width:170px;
}
#sectionContenWrapper #sectionContent  table td.last_child{
	width:180px;
}
#sectionContenWrapper #sectionContent  table td.list{
	width:510px;

}
#sectionContenWrapper #sectionContent  table td.list ul{
	list-style:none;
}
#sectionContenWrapper #sectionContent  table td.list ul li{
	width:170px;
	height:24px;
	float:left;
}

#sectionContenWrapper #sectionContent .seller_wrap{
	width:663px;
	height:auto;
	padding:20px;
	border:1px solid #ccc;
	margin-top:25px;
	background:#f2f2f2;
}
#sectionContenWrapper #sectionContent .seller_wrap .left_item{
	width:150px;
	height:auto;
	float:left;
}
#sectionContenWrapper #sectionContent .seller_wrap .left_item p{
	padding-top:10px;
}
#sectionContenWrapper #sectionContent .seller_wrap .right_item{
	width:480px;
	height:auto;
	float:right;
}
#sectionContenWrapper #sectionContent .seller_wrap .right_item p.title{
	font-size:14px;
	color:#0064b2;
}
#sectionContenWrapper #sectionContent .seller_wrap .right_item ul{
	list-style:none;
	padding-top:10px;
}
#sectionContenWrapper #sectionContent .seller_wrap .right_item ul li{
	height:24px;
	font-size:12px;
}
#sectionContenWrapper #sectionContent .seller_wrap .right_item .data_detail{
	width:438px;
	height:auto;
	padding:20px;
	border:1px solid #ccc;
}
#sectionContenWrapper #sectionContent .seller_wrap .right_item .data_detail p.more{
	color:#0064b2;
	font-size:11px;
}

.silver_membership ul{
	list-style-type: none;
}
.silver_membership li{

	display: inline;
	width: 160px;
	height: 120px;
	float: left;
	margin-left: 14px;
	border:1px solid #ccc;
	margin-top: 10px;
	padding-left: 10px;

}
/****** NEW CSS FOR TD PRODUCT TYPE TAP ***************/

.selected_filter{
    text-decoration: underline;
    font-weight: bold;
}


#sectionContenWrapper #sectionContent #tab_wrap td{
    border:1px solid #ccc;
}
#sectionContenWrapper #sectionContent #tab_wrap td.all{
    width:110px;
    height:26px;

    border-right:none;
    padding-left:65px;
}

#sectionContenWrapper #sectionContent #tab_wrap td.car{
    width:100px;
    height:26px;

    border-right:none;
    background:url(../../images/seller-directory/car.gif) 20px center no-repeat;
    padding-left:75px;
}
#sectionContenWrapper #sectionContent #tab_wrap td.truck{
    width:100px;
    height:26px;

    border-right:none;
    background:url(../../images/seller-directory/truck.gif) 20px center no-repeat;
    padding-left:75px;
}
#sectionContenWrapper #sectionContent #tab_wrap td.bus{
    width:100px;
    height:26px;

    background:url(../../images/seller-directory/bus.gif) 20px center no-repeat;
    padding-left:75px;
}
#sectionContenWrapper #sectionContent #tab_wrap td.equipment{
    width:115px;
    height:27px;

    border-top:none;
    border-right:none;
    background:url(../../images/seller-directory/equipment.gif) 20px center no-repeat;
    padding-left:60px;
}
#sectionContenWrapper #sectionContent #tab_wrap td.part {
    width:135px;
    height:27px;

    border-top:none;
    border-right:none;
    background:url(../../images/seller-directory/part.gif) 20px center no-repeat;
    padding-left:40px;
}
#sectionContenWrapper #sectionContent #tab_wrap td.all_current{
    width:110px;
    height:24px;


    color:#0064b2;
    border-right:none;
    padding-left:65px;
}
#sectionContenWrapper #sectionContent #tab_wrap td.car_current{
    width:100px;
    height:24px;


    color:#0064b2;
    border-right:none;
    background:url(../../images/seller-directory/car_over.gif) 20px center no-repeat;
}
#sectionContenWrapper #sectionContent #tab_wrap td.truck_current{
    width:100px;
    height:24px;


    color:#0064b2;
    border-right:none;
    background:url(../../images/seller-directory/truck_over.gif) 20px center no-repeat;
}
#sectionContenWrapper #sectionContent #tab_wrap td.bus_current{
    width:100px;
    height:24px;


    color:#0064b2;
    background:url(../../images/seller-directory/bus_over.gif) 20px center no-repeat;
    padding-left:75px;
}
#sectionContenWrapper #sectionContent #tab_wrap td.equipment_current{
    width:115px;
    height:24px;

    border-right:none;

    color:#0064b2;
    background:url(../../images/seller-directory/equipment_over.gif) 20px center no-repeat;
    padding-left:60px;
}
#sectionContenWrapper #sectionContent #tab_wrap td.part_current{
    width:135px;
    height:24px;

    border-right:none;

    color:#0064b2;
    background:url(../../images/seller-directory/part_over.gif) 20px center no-repeat;
    padding-left:40px;
}

#sectionContenWrapper #sectionContent #tab_wrap td.getClass a{
    display: block;
    padding: 10px;
    text-align: center;
    width: 100%;
    color: #424242;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
}
#sectionContenWrapper #sectionContent #tab_wrap td.all_current a{

    border-top:3px solid #0064b2;
    color: #0064b2;

}
#sectionContenWrapper #sectionContent #tab_wrap td.car_current a{

    border-top:3px solid #0064b2;
    color: #0064b2;

}
#sectionContenWrapper #sectionContent #tab_wrap td.truck_current a{

    color: #0064b2;
    border-top:3px solid #0064b2;

}
#sectionContenWrapper #sectionContent #tab_wrap td.bus_current a{

    border-top:3px solid #0064b2;
    color: #0064b2;
}
#sectionContenWrapper #sectionContent #tab_wrap td.equipment_current a{

    border-top:3px solid #0064b2;
    color: #0064b2;
}
#sectionContenWrapper #sectionContent #tab_wrap td.part_current a{

    border-top:3px solid #0064b2;
    color: #0064b2;

}
/****** END NEW CSS FOR TD PRODUCT TYPE TAP ***************/

 
#tab_all, #tab_car, #tab_truck, #tab_bus, #tab_equipment, #tab_part, #tab_attach, #tab_spare{
    display: none;
}


#sectionContenWrapper #sectionContent #tab_wrap td.getClass{


    border-right:none;
    padding:0;
}

#sectionContenWrapper #sectionContent #tab_wrap td.getClass:last-child{
    border:1px solid #CCCCCC;
}
#popularBrand {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto 0;
}
#popularBrand #divTitle {
	width:1170px;
	border-bottom: 2px solid #0f649a;
	margin-top:35px;
}
#popularBrand #divTitle p {
	font-size: 16px;
	color: #0f649a;
	margin-bottom: 5px;
}

/* Home left special deal title
---------------------------------------------------------*/
 .title-special-deal {
  padding-top:7px;
  padding-bottom:7px;
  background-color:#e8e8e8;
  color:#005a94;
  text-align:center;
  border-bottom:2px solid #dcdcdc;
  clear:both;
}


 .bgBox ul li .divText{	
	padding: 12px 10px;	
	width: 150px;	
	float: left;
}

	
/**
 * Edit Popup Border 10-02-2015
 * ------------------------------------------------------------------------------
**/
#fancybox-content {
	border: 10px solid #FFFFFF;
}	

/**
 * Edit Pagination 11-02-2015
 * ------------------------------------------------------------------------------
**/
#carData #pagegination {
	margin: 10px 0 30px 0;
}
#carData #pagegination .total-record {
  font-size: 12px;
  font-weight: bold;
  padding-left: 20px;
  float: left;
}
#carData #pagegination .record {
  font-size: 12px;
  font-weight: bold;
  color: #dd0000;
  position: relative;
  left: 10px;
  float: left;
}
#carData #pagegination .label-record {
  font-size: 12px;
  font-weight: bold;
  position: relative;
  left: 20px;
}
.pagination {	
	width: 100% !important;
	position: relative;
	z-index: 99;
	margin: 20px auto !important;
}
div.pagination a,
div.pagination span.current,
div.pagination span.disabled {
	padding: 1% 1.5% !important;
}

/* edit 10-03-2015 */
/* #carDetailWrap {
	padding: 15px 10px 8px 140px !important;
	width: 100%;
} */
#carDetailWrap table {
	border: 0;
	border-collapse: collapse;	
	width:100% !important;
	
}
#carDetailWrap table tr td {
	border-bottom: 1px solid #cccccc;		
	padding: 0 !important;
	width:auto !important;
}
#carDetailWrap table tr td.tdLeft {
	min-width: 57px;
}
#carDetailWrap table tr td.tdLeft p {
	text-align: left;	
}
#carDetailWrap table tr td.tdRight {
	width: 100% !important;
}
#carDetailWrap table tr td.tdRight p {
	text-align: right;	
}
#carDetailWrap table tr td.tdRight p a { 
	color: #005a94;
}
#carDetailWrap table tr td p {
	font-size: 11px;
	color: #757575;	
	padding: 5px 0;	
}
#carDetailWrap p .price {
	font-size: 11px !important;
	color: #db0000 !important;
	text-align: center !important;
	padding: 6px 0 !important;
}

/*
 *  Responsive Style
 * ------------------------------------------------------------------------------
 */
@media only screen and (max-width : 480px) {
	#carSourceWraper .listCar #carDetailWrap p{
		font-size: 90%;
	}
	#sectionContenWrapper #sectionContent #com_detailwrap #div_right table td.title {
		padding-left: 10px;
		font-size: 12px;
	}
	#sectionContenWrapper #sectionContent #com_detailwrap #div_right table td {
		font-size: 12px;
	}
	#sectionContenWrapper #sectionContent #com_detailwrap #div_right table td .side_right {
		font-size: 12px;
	}
	#sectionContenWrapper #sectionContent #com_detailwrap {
		padding: 0 2% 20px 2%;
	}
	#sectionContenWrapper #sectionContent .findtrader_title {
		margin: 10px 2% 0px 2%;
	}
	#carData #carSourceWraper {
		padding: 0 2%;
	}
}