/* public_public_auto_search.php */

#main {
	margin-bottom: 70px;
}
#content {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
#content #frmSearch{    
	width: auto;
}
#content #frmSearch #searchTop{
	margin: 0 20px;
	border-bottom: 1px solid #CACACA;
}
#content #frmSearch #searchTop input[type="text"]{
	width: 100%;
	position: relative;
	top: -1px;	
	border: none;
	background: none;
	box-shadow: none;
	padding: 0 30px;
	margin-bottom: 20px;	
}
#content #frmSearch #searchTop input[type="text"]#search{
	color: #0071BA;
	font-size: 16px;
	font-weight: 700;
}
#content #frmSearch #searchTop input[type="submit"]{
	width: 15px;
	height: 15px;
	border: none;		
	background: url("../../img/public_auto_search/bg_search_top.png") no-repeat;
	cursor: pointer;
	position: absolute;	
	cursor: pointer;
	z-index: 5;
}
#content #frmSearch #divTop{	
	margin: 0;	
	width: 100%;
	height: auto;
}
#content #frmSearch #divTop .col-lg-5{
	padding-left: 0;
	padding-right: 0;
}
#content #frmSearch #divTop .checkBox { 
	width: auto;
	padding-top: 5px;
	float: left;
}
#content #frmSearch #divTop .checkBox p {
	font-size: 12px;
	font-weight: 700;
	display: inline;
	margin-right: 30px;
}
#content #frmSearch #divTop .checkBox label{
	font-size: 11px;
	font-weight: 400;
	line-height: 20px;
}
#content #frmSearch #divTop .checkBox input[type="checkBox"] {
	width: 12px;
	height: 12px;
	margin-right: 10px;
	float: left;
}
#content #frmSearch table{
    border: 0;
    border-collapse: collapse;
}
#content #frmSearch table tbody ul{
	height: 175px;	
	overflow-y: scroll;
}
#content #frmSearch table tr th{
	width: 178px;
    font-weight: 700;
    font-size: 12px;
	color: #0071ba;
    text-align: center;
    vertical-align: middle;
    background: #f2f4f5;
    border:1px solid #cecece;    
    padding: 10px 0;	
}
#content #frmSearch table tr td{
	width: 178px;
    font-size: 12px;
    border:1px solid #cecece;
    border-top: none;
    padding: 0;		
	padding-bottom: 10px;
}
#content #frmSearch table tr td ul li{
    padding: 5px 5px 5px 15px;
	color: #4d4d4d;
}
#content #frmSearch table tr td ul li a{
	font-size: 11px;
	color: #757575;
	display: block;
	width: 100%;
}
#content #frmSearch table tr td ul li:hover{
	background: #F2F2F2;
	color: #0071BA;	
}
#content #frmSearch table tr td ul li.current {
	background: #F2F2F2;
	color: #0071BA;		
}
#content #frmSearch table tr td ul li a.currentColor {
	color: #0071BA;
	text-decoration: none;
}
#content #frmSearch table tr td.clearBor{
    border: none;
    vertical-align: middle;
}
#content #frmSearch table tr td.clearBor span{
    float: left;
    padding: 8px 11px;
}
#content #frmSearch table tr td select{	
    padding-left: 10px;
	cursor: auto;
	height: 30px;	
	background-color: transparent;
	border: 0 none;
	box-shadow: none;	
	display: block;
	font-size: 100%;
	line-height: normal;
	margin: 0;	
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;		
}
#content #frmSearch table tr td input[type="text"]{
	border: none;
	background: none;
	height: 30px;
	width: 100%;
	padding: 0 10px;
}
#content #frmSearch table tr td .bgSlt{	
	max-width: 215px;
	width: 100%;
    height: 30px;
    background: url("../../img/public_auto_search/slt_search.png") no-repeat;
	background-size: 100% 30px;
	background-position:center;	
	margin-bottom: 10px;	
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	position: relative;	
	z-index: 1;	
    overflow:hidden;  
	float: left;
}
#content #frmSearch table tr td .bgSltSmall{
    max-width: 150px;
	width: 100%;
    height: 30px;
    background: url("../../img/public_auto_search/slt_searchsmall.png") no-repeat;
	background-size: 100% 30px;
	background-position:center;
	margin-bottom: 10px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	position: relative;	
	z-index: 1;
	overflow:hidden;  
	float: left;
}
.bgSlt:before ,
.bgSltSmall:before {
	color: #b0b0b0;
	display: block;
	font-family: 'FontAwesome';	
	height: 30px;
	line-height: 30px;
	padding: 0 12px 0 0;	
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;	
	z-index: 5;
}
/* Customize select */
select::-ms-expand {
	display: none; /* to ie 10 */
}
.bgSlt select:focus,
.bgSltSmall select:focus {
	outline: none;
}
:-moz-any(.bgSlt):before {
	background-color: #fff; /* this is necessary for overcome the caret default browser */
	pointer-events: none; /* https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events  */
	z-index: 1; /* this is necessary for overcome the pseudo element */
}
:-moz-any(.bgSltSmall):before {
	background-color: #fff; /* this is necessary for overcome the caret default browser */
	pointer-events: none; /* https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events  */
	z-index: 1; /* this is necessary for overcome the pseudo element */
}
/* End customize select */

/* Show Product
------------------------------------------------ */
.row .col-lg-12 {
	padding-left: 0;
	padding-right: 0;
}
#showProduct {
	width: 100%;
	margin-top: 30px;
}
#showProduct  #sideLeft{
	width: 300px;
	/*width: 26.3%;	*/
	padding-left: 8px;
	float: right;
}
#showProduct .col-lg-4 {
	padding-left: 0;
	padding-right: 0;
}
#showProduct  #sideLeft .titleTop {
	max-width: 300px;
	width: 100%;
	height: 40px;
	background: url('../../img/public_auto_search/bg_filter_option.jpg') no-repeat;
}
#showProduct  #sideLeft .titleTop p{
	font-size: 14px;
	color: #FFFFFF;
	padding: 10px 0 10px 20px;	
}
#showProduct  #sideLeft #bgSearch {	
	max-width: 300px;
	width: 100%;
	background: #f2f4f5;
	padding: 0 20px 20px 20px;
}
#showProduct  #sideLeft #bgSearch .textTop{	
	padding: 20px 0 5px 0;	
	border-bottom: 2px solid #797979;
}
#showProduct  #sideLeft #bgSearch .textTop p {  
	font-size: 14px;
	font-weight: 700;
	color: #757575;
}
#showProduct  #sideLeft #bgSearch ul li {
	margin-top: 20px;
}
#showProduct  #sideLeft #bgSearch ul li label {
	font-size: 12px;
	color: #757575;
	font-weight: 400;
	line-height: 20px;
}
#showProduct  #sideLeft #bgSearch ul li input[type="checkBox"] {
	width: 12px;
	height: 12px;
	margin-right: 10px;
	/* float: left; */
	position: relative;
	top: 2px;
}
#showProduct  #sideLeft #bgSearch ul li span {
	font-size: 12px;
	color: #757575;
	line-height: 20px;
	float: right;
}
#showProduct  #sideLeft #bgSearch #bntSideSearch {
	margin-top: 20px;
}
#showProduct  #sideLeft #bgSearch #bntSideSearch input[type="submit"] {
	max-width: 260px;
	width: 100%;
	height: 30px;
	border: none;	
	background: url("../../img/public_auto_search/search_sidebar.png") no-repeat;
	cursor: pointer;
}
#showProduct  #sideLeft #sideAdv{
	max-width:300px;
	width: 100%;
	margin-top: 10px;
}
#showProduct  #sideLeft #sideAdv img{	
	width: 100%;
}
#showProduct  #sideRight{
	float: left;
	width: 860px;	
	/*width: 73.5%;*/
	height: auto;
	padding:0;
}
#showProduct  #sideRight .title_sideRight{
	background:#f2f4f5;
	width:100%;	
	margin: 10px 0 0 0;
	border-bottom:3px solid #dce0e2;
}
#showProduct  #sideRight .title_sideRight p{
	padding:8px 0;
	text-indent:10px;
	font-size:14px;
	color:#0071ba;
}
#showProduct .detail_sideright{
	padding:0px;
}
#showProduct .detail_sideright ul {
	width: 880px;	
	margin-left: -20px;
}
#showProduct .detail_sideright ul li {
	width:200px;
	height:330px;
	border:1px solid #b6c8d5;
	border-bottom: 3px solid #b6c8d5;
	background: #FFFFFF;
	margin: 5px 0 20px 20px;
	float: left;
	position:relative;
}
#showProduct .detail_sideright ul li img {
	width:200px;
	height:155px
}
#showProduct .detail_sideright ul li .divInfo {
	padding: 15px 10px 0 10px;
}
#showProduct .detail_sideright ul li .divInfo .details {
	font-size: 11px;
	color: #005a94;
	text-align:center;
	margin-bottom:15px
}
#showProduct .detail_sideright ul li .divInfo p.borderTop{
	font-size: 11px;
	color: #757575;	
	border-top: 1px solid #cccccc;
	padding:2px 0;
}
#showProduct .detail_sideright ul li .divInfo p.borderTop span{
	float: right;
}
#showProduct .detail_sideright ul li .divInfo .prices {
	font-size: 12px;
	color: #db0000;
	text-align:center;
	padding-top:15px;
	border-top: 1px solid #cccccc;
}
#showProduct  #sideRight #pagernation{
	height:45px;
	background:#f2f4f5;
	padding-top:15px;
	padding-bottom:15px;
	border-bottom: 2px solid #b6c8d5;}
#divTop #divCheck {
	border-bottom: 1px dotted #cccccc;
	padding-bottom: 10px;
}
#divTop .selectSearch {	
	width: 500px;
	border: 1px solid #cecece;
	border-left: none;
	height: 225px;
	padding: 20px;
	background: #f2f4f5;
	float: left;
}
#divTop .bntSearch {
	float: right;
}
#divTop .bntSearch input[type="submit"]{
	width: 149px;
	height: 30px;
	border: none;	
	background: url("../../img/public_auto_search/bg_searchresult.png") no-repeat;
	cursor: pointer;
	color:white;
}
#divTop #divResult{
	float: right;
	margin-top: 15px;
}
#divTop #divResult p {
	font-size: 14px;
	color: #a8a8a8;
}
#divTop #divResult span {
	font-size: 14px;
	color: #db0000;
	float: none !important;
}

.fRight{
    float: right !important;
}

.colPrice{
	color: #E02B38;
}
.clearMar{
	margin: 0;
}
.padLef-30{
	padding-left: 30px;
}
.padLef-30 table tr td p{
	font-size: 16px;
}
.marRight {
	margin-right: 11px;
}
.table {
	margin-bottom: 0;
}
.marRight-20{
	margin-right: 20px;
}
.marLeft-50{
	margin-left: 50px;
}

select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;	
	text-indent: 0.01px;
	text-overflow: "";
}
select::-ms-expand {
    display: none;
}

/* Pagination
----------------------------------------- */
#pagernation .totalRecord {
	width: auto;	
	float: left;
}
#pagernation .totalRecord span.spanText { 
	font-size: 12px;
	color: #757575;
}
#pagernation .totalRecord span.result { 
	font-size: 12px;
	color: #db0000;
	padding: 0 20px;
}
	


/* Div hidden 
----------------------------------------- */
#content  #tabInfoRes {
	display: none;
}

/* Responsive
----------------------------------------- */
@media only screen and (min-width : 769px) and (max-width : 1170px) {	
	/* .padLef-30 table tr td p	{
		padding-right: 15px;
	}
	#content #frmSearch table tr td .bgSltSmall {
		max-width: 100%;
		width: 46%;
	} */
	
}

/** EDIT 17 12 2014 **/
#showProduct #sideRight #divTop .makeModel {
	width: 360px;
	float: left;
}
/** EDIT 17 12 2014 **/

/* max-width: 768px
----------------------------------------- */
@media screen and (max-width: 768px){
	
	/* #content #frmSearch {
		margin-left: 7px;
		margin-right: 7px;
	}	
	
	#divTop .table-responsive table tr td{
		min-width: 200px;
	}	 */
	
	/* select top */
	/* #content #frmSearch table tr td .bgSlt {
		max-width: 100%;
		width: 100%;
		background: url("../../img/public_auto_search/slt_search_res.png") no-repeat;
		background-size: 100% 30px;
		background-position:center;
		
	}
	#content #frmSearch table tr td .bgSltSmall {
		max-width: 100%;
		width: 48%;
		background: url("../../img/public_auto_search/slt_searchsmall_res.png") no-repeat;
		background-size: 100% 30px;
		background-position:center;
	}
	#content #frmSearch table tr td.clearBor span {
		padding: 8px 1.3%;
	}
	#divTop .tbRespone {
		width: 100%;		
	}	
	.padLef-30 {
		float: none;
		padding-left: 15px;
		width: 100%;
	}
	.padLef-30 .table{
		margin-bottom: 0;
	}
	.padLef-30 table tr td p	{
		padding-right: 15px;
	} */
	/* Table Information */
	/* #content #tabInfo {
		display: none;
	}
	#content  #tabInfoRes {
		display: block;
		margin: 0 7px 60px 7px;
	}
	#content  #tabInfoRes  #listProduct{
		width: 100%;
		border: 2px solid #0071BA;
		padding: 0 10px;
		margin: 20px 0 20px 0;
	}
	#content  #tabInfoRes  #listProduct ul{
		margin-bottom: 20px;
		float: left;
	}
	#content  #tabInfoRes  #listProduct ul li {
		max-width: 114px;
		width: 100%;
		height: auto;
		margin: 20px 0 0 20px;
		float: left;
	}
	#content  #tabInfoRes  #listProduct ul li img {
		width: 100%;
		max-height: 70px;
	}
	#content  #tabInfoRes  #listProduct ul li p {
		font-size: 12px;
	}
	#content  #tabInfoRes  #listProduct ul li p.prices {
		color: #BF272D;
	}
	.holderRes{
		margin-bottom: 40px;
		margin-top: 20px;		
		text-align: center;
		float: none;		
		width: 100%;	
	}
	.holderRes a{
		margin: 20px 0 0 0;			
		max-width: 40px;
		width: 100%;
		padding: 7px 0px;
		border: 1px solid #CACACA;
		border-right: none;		
		color: #0071BA;
		display: inline-block;
	}
	.holderRes a.jp-last{
		border-right: 1px solid #CACACA;
	}
	.holderRes a.jp-current{
		color: #FFFFFF;
		background: #0071BA;		
	}
	.holderRes a:hover{
		color: #FFFFFF;
		background: #0071BA;
		text-decoration: none;			
		cursor: pointer;
	}
	.holderRes a.jp-previous,
	.holderRes a.jp-next{
		display: none;
	}
	.holderRes span{
		border-left: 1px solid #CACACA;		
		padding: 8px 10px;
		margin-left: -1px;	
	} */
}

/* max-width: 600px
----------------------------------------- */
@media screen and (max-width: 600px){
	/* #content #frmSearch table tr td.clearBor span {
		padding: 8px 1.1%;
	} */
}

/* max-width: 568px
----------------------------------------- */
@media screen and (max-width: 568px){
	/* #content #frmSearch table tr td.clearBor span {
		padding: 8px 1%;
	} */
}

/* max-width: 480px
----------------------------------------- */
@media only screen and (max-width: 480px) {
	/* #content #frmSearch table tr td.clearBor span {
		padding: 8px 0.8%;
	} */
}

/* max-width: 384px
----------------------------------------- */
@media only screen and (max-width: 384px) {
	/* pagination */
	/* .holderRes span{
		display: none;
	}
	.holderRes a{
		padding:2% 2.2%;
		width: auto;
	} */
	
	/* select */
	/* .bgSltSmall {
		max-width: 102px !important;	
		width: 100%;
	} */
	
}

/* max-width: 320px
----------------------------------------- */	
@media only screen and (max-width: 320px) {
	/* Small select Search responsive */
	/* #content #ruler .searchRight{
		float: left;
		margin-left: 20px;
	}
	.padLef-30 table tr td p{
		font-size: 14px;
		padding-right: 15px;
	}
	.bgSltSmall{
		max-width: 169px !important;			
	}
	#content #frmSearch table tr td.clearBor span{
		display: none;
	} */
}

/* Firefox only
----------------------------------------- */
@-moz-document url-prefix() { 
	#content #frmSearch #searchTop input[type="text"]{
		position: relative;
		top: -2px;		
	}
	
	.bgSlt:before ,
	.bgSltSmall:before {
		border: 1px solid #cccccc;
		border-left: none;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;		
	}
	#content #frmSearch table tr td .bgSlt select {
		max-width: 213px;
	}
	#content #frmSearch table tr td.clearBor span{		
		padding: 8px 11px 8px 10px;
	}
	#content #frmSearch table tr td .bgSltSmall select{
		max-width: 147px;
	}
}