.form-wrap {
    padding: 5px;
    border: 1px solid #CCC;
    width: 718px;
    overflow: hidden;
    margin: 0;
    margin-bottom: 15px;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.form-wrap .list-img {
    display: block;
    float: left;
    margin-right: 20px;
    position: relative;
}

.form-wrap .list-content {
    width: 485px;
    overflow: hidden;
    float: right;
}
.form-wrap .carFeatImg {
    display: block;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
}