
#notification-wrap {
    border: 1px solid #CCC;
    overflow: hidden;
}
#notification-wrap .label-item {
    display: block;
    width: 140px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    float:left;
}

/* vin reg form */
.vin-reg-form {
    border: 1px solid #CCC;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
}
#vin_loading {
    display: none;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 0;
}