.header-title {
    border-bottom: 3px solid #444;
    margin-bottom: 15px;
}
.coll-wrapper {
    overflow: hidden;
}
.coll-wrapper .col {
    width: 365px;
    overflow: hidden;
    float: left;
    display: block;
    margin: 0;
    padding: 0;
}