/*css for sideBar*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.mode_button_wrapper{
	overflow: auto;
}
.update_button{
	float:right;
	border:none;
	background:url("../../../../images/update.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	width:140px;
	height:35px;
	margin-bottom: 0px;
	cursor: pointer;
}
.update_button:hover{
	opacity:0.7;
	}
.search_wrapper{
	overflow: auto;
	margin-bottom: 20px;
}
#sectionContenWrapper{
	width: 1200px;
	height: auto;
	margin: 20px auto 0 auto;
	padding: 0 15px;
}
#sectionContenWrapper #sectionContent{
	width: 920px !important;
	height: auto;
	float: right !important;
}
#sectionContenWrapper #sectionContent #admin_tab{
	width: 100%;
	height: auto;
	border-bottom: 2px solid #286ebf;
	font-size: 14px;
	color: #424242;
	cursor: pointer;
}
#sectionContenWrapper #sectionContent #admin_tab .tabs{
	padding: 10px 30px;
	float: left;
	color: #424242;

}
#sectionContenWrapper #sectionContent #admin_tab .tabs{

}
#sectionContenWrapper #sectionContent #admin_tab .current{
	background-color: #286ebf;
	color: #fff;
}
#sectionContenWrapper #sectionContent #admin_tab .current a{
	color:white;
	}
#sectionContenWrapper #sectionContent #seller, #buyer, #register{
	width: 100%;
	height: auto;
	margin-top: 15px;
	display: none;
}

#sectionContenWrapper #sectionContent select.search{
	width: 150px;
	height: 30px;
	border:1px solid #ccc;
	padding-top: 5px;	
	float: left;
}
#sectionContenWrapper #sectionContent select.country{
	margin-left: 0px;
}
#sectionContenWrapper #sectionContent .text_search{
	width: 500px;
	height: 28px;
	border:1px solid #ccc;
	text-indent: 10px;
	float: left;
	margin-left: 10px;
}
#sectionContenWrapper #sectionContent .search_button{
	width: 140px;
	height: 30px;
	float: right;
	background:url(../../../../images/admin/search.png) no-repeat;
	border:none;
	cursor: pointer;
}
#sectionContenWrapper #sectionContent .tab_content{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	float: left;
}
#sectionContenWrapper #sectionContent .tab_content table{
	width: 100%;
	height: auto;
	border-collapse: collapse;
	border-bottom: 1px solid #CCCCCC;
}
#sectionContenWrapper #sectionContent .tab_content table tr.title{
	background-color: #f4f4f4;
}
#sectionContenWrapper #sectionContent .tab_content table td{
	width: auto;
	height: 40px;
	padding: 0 1%;
	border:1px solid #ccc;
	border-top: none;
	border-bottom: 1px dashed #ccc;
	vertical-align: middle;	
	font-size:12px;
}
#sectionContenWrapper #sectionContent .tab_content table td.product{
	color: #ca3f3f;
}
#sectionContenWrapper #sectionContent .tab_content table td.title{
	background-color: #f4f4f4;
	border:1px solid #ccc;
	font-size: 12px;
	font-weight: bold;
}
#sectionContenWrapper #sectionContent .tab_content table td .member_type{
	width: 95%;
	height: 30px;
	padding-top: 5px;
	text-indent: 2px;
	font-size: 11px;
}
#sectionContenWrapper #topMenu{
	width: 230px ;
	height: auto;
}
#sectionContenWrapper #sectionSidebar{
	width: 230px ;
	float: left !important;
}
#sectionWrapper #topMenu a{
	color: #424242;
	font-size: 12px;

}
#sectionContenWrapper #sectionSidebar #topSideBar ul{
	list-style: none;
	margin-top: 25px;
}
#sectionContenWrapper #sectionSidebar #topSideBar ul li{
	background: url("../../../../images/common/sidebar/arrow-liststyle.png") no-repeat scroll 10px center rgba(0, 0, 0, 0);
    border-bottom: 1px dotted #ccc;
    height: 27px;
    padding: 12px 0 25px 30px;
}
#sectionContenWrapper #sectionSidebar #topSideBar ul li.first_child{

    border-top: 1px dotted #ccc;
}
#sectionContenWrapper #sectionSidebar #topSideBar ul li a{
	color: #424242;
    font-size: 14px;
    text-decoration: none;
}

/** Edit 12-02-2015
***********************************************************/
div.pagination {
	width: auto;	
}
#seller_members_wrapper form table tr td a.del {
	color: #FF0000;
	text-align: center;	
}
#seller_members_wrapper form table tr td a.del:hover {
	text-decoration: underline;
}
#sectionContenWrapper #sectionContent .tab_content table td.idAuto {
	min-width: 40px;
}
#sectionContenWrapper #sectionContent .tab_content table td.large {
	min-width:165px;
}
#sectionContenWrapper #sectionContent .tab_content table td.middle {
	min-width:120px;
}
#sectionContenWrapper #sectionContent .tab_content table td.small {
	min-width: 75px;
}
#sectionContenWrapper #sectionContent .tab_content table td.memberType {
	min-width: 95px;
}
#sectionContenWrapper #sectionContent .tab_content table td.tel {
	min-width: 80px;
}
#sectionContenWrapper #sectionContent .tab_content table td a.pwd {
	color: blue;
}
#sectionContenWrapper #sectionContent .tab_content table td a.pwd:hover {
	text-decoration: underline;
}
#showPop {
	display:none;
}
.popPassword {	
	min-width: 120px;
	padding:15px;
	background: #FFFFFF;
}
.popPassword p {
	font-size: 14px;
	text-align: center;
}
.popPassword p font {
	font-size: 12px;
	text-align: center;
	color: red;
}