/* Product option */
.install {
    overflow: auto;
}
.installedFeature {
    display: block;
    float: left;
    overflow: auto;
    width: 100%;
     padding-bottom: 10px;
    padding-top: 10px;
}

.option-item {
    padding-bottom: 5px;
    padding-top: 5px;
}