#main-content{
	width:958px;
	margin:0 auto;
	padding:0 auto;
	margin-top:32px;
	border-radius:5px;
	padding-bottom:2%;
	height:auto;
	margin-bottom:90px;
	}
.page-title{
	width:100%;
	border-top:4px double #ccc;
	border-bottom:4px double #ccc;
	padding:5px 0;
	color:#000000;
	font-size:24px;
	}
.page-title #title{
	width:40px;
	float:left;
	}
.page-title .title-left{
	width:85px;
	margin-left:400px;
	float:left;
	}
.space{
	margin-left:20px;
	}
.clear{
	clear:both;
	}
.first{
	padding-top:5px;
	font-size:26px;
	color:#2e65b7;
	font-weight:600;
	text-align:center;
	}
.second{
	padding-top:15px;
	text-align:center;
	font-size:14px;
	}
.second .link{
	color:blue;
	text-decoration:none;
	}
.third{
	padding-top:15px;
	text-align:center;
	font-size:14px;
	}
.third .third-child{
	font-size:14px;
	font-weight:bold;
	
	}
.link-contact{
	color:blue;
	}

