.news-item {
    border: 1px solid #CCC;
    margin-bottom: 10px;
    padding: 15px;
    overflow: hidden;
    width: 698px;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.news-item h4 {
    margin-top: 0;
}
.news-item span {
    margin-top: 5px;
}
.news-item .author {
    font-style: italic;
    font-size: 10px;
    text-align: right;
    margin: 0;
}