#main-control{
	width:1170px;
	margin:0 auto;
	padding:0 auto;
	margin-top:32px;
	border-radius:5px;
	border:1px solid #ccc;
	margin-bottom:5%;
	}
.page-title{
	width:100%;
	padding:5px 0;
	color:#000000;
	font-size:24px;
	//text-align:center;
	}
.page-title .title-left{
	border-bottom:2px solid #0071ba;
	width:1087px;
	float:left;
	padding-bottom:8px;
	margin-left:40px;
	font-weight:bold;
	color:#0071ba;
	}
.page-buttom{
	width:100%;
	padding:5px 0;
	color:#000000;
	font-size:24px;
	//text-align:center;
	}
.page-buttom .title-left a{
	width:1087px;
	float:left;
	padding-top:5px;
	border-top:2px solid #0071ba;
	font-size:16px;
	margin-left:40px;
	color:#0071ba;
	}
.content{
	width:650px;
	margin:0 auto;
	padding:30px;
	}
.content .left-side{
	float:left; width:200px;
	height:170px;
	border:1px solid #ccc;
	}
.content .right-side{
	float:left; width:auto;	
	}