#forwarder_search #keywordInput{
	border: 1px solid #808080;
    padding: 5px;
    width: 300px;
}
#forwarder_search #submit{
    
    padding: 5px 20px;
}
#forwarder_search select{
	border: 1px solid #808080;
    padding: 5px;
}
/**.seller_wrap .left_item img{
	width: 160px;
}**/