#main-control{
	width:958px;
	margin:0 auto;
	padding:0 auto;
	margin-top:60px;
	margin-bottom:75px;
	background:#ffffff;
	height:276px;
	
	}
#main-control .page-title{
	width:100%;
	background:#0071ba;
	padding:10px 0;
	color: #FFF;
	font-size:16px;	
	margin-bottom:20px;
	}
.page-title .slide-title{
	width:453px;
	float:left;
	padding-left:10px;
	font-size:15px;
	}
.slide-content .text-title{
	font-size:13px;
	font-family:'khmer os system';
	font-weight:600;
	}
.clear{
	clear:both;
	}
#sub-content{
	width:958px;
	height:100%;
	}
#sub-content .slide-content{
	width:435px;
	float:left;
	padding-left:38px;
	height:100%;
	padding-bottom:17px;
	}
#border-con{
	border-right:1px solid #CCC;
	
	}
.text-title{
	margin-top:17px;
	margin-bottom:17px;	
	}
.radio-btn{
	float:left;}
.forgot{
	float:left;
	margin-left:10px}
.text-box{
	width:280px;
	text-indent:7px;
	height:30px;
	border:1px solid #cccccc;
	border-radius:5px;
	margin-bottom:17px;
	}
.btn_id {
	border:none;
	background:url(../../../../images/blue-button.png) no-repeat;
	color:#f7f7f7;
	font-family:Arial;
	font-size:15px;
	height:30px;
	width:135px;
	text-align:center;
	margin-top:30px;
}
