.main-div{
	width:95%;
	margin:0 1% 0 2%;
	padding:0 auto;
	border:1px solid #CCC;
	margin-top:50px;
	border-radius:5px;
	}
.brick{
	margin-right:10px;
	}
.page-title{
	width:98%;
	padding:1% 1px 1% 2%;
	border-bottom:1px solid #CCC;
	color:#2a6ac1;
	font-size:16px;
}

#content-seller{
	width:98%;
	//overflow: auto;
	}
#submit_send{
	float: right;
	cursor: pointer;
	background: rgb(44,83,158); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(44,83,158,1) 0%, rgba(44,83,158,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,83,158,1)), color-stop(100%,rgba(44,83,158,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */
	border: none;
	padding:5px 15px;
	color: white;
	border-radius: 5px;
	margin-bottom:5%;
	margin-top:5%;
}
.clear{
	clear:both;
	}
.textbox{
	margin-top:15px;
	margin-bottom:15px;
	width:97%;
	margin-left:2%;
	border:1px solid #CCC;
	height:25px;
	text-indent:5px;
	}
#label{
	text-align:right;
	width:25%;
	padding-right:2%;
	}
.detail{
	width:97%;
	margin-left:2%;
	height:100%;
	padding-bottom:15px;
	margin-top:15px;
	border:1px solid #CCC;
	}
.company{
	font-size:7px;
	}
.line{
	background:#0066b9;
	margin:19px 15px 9px 15px;
	height:3px;
	}
.image{
	margin-left:15px;
	width:45%;
	}
#content-text{
	float:right;
	width:40%; color:#666;
	font-size:11px;
	margin-right:5%;
	}
.textarea{
	resize:none;
	margin-left:2%;
	width:97%;
	height:142px;
	border:1px solid #CCC;
	text-indent:5px;
	}

.btn-send{
	float:right;
	margin-bottom:5%;
	margin-top:5%;
	}
.text-detail{
	padding-top:3px;
	font-size:9px;
	}
.label-sell{
	margin-left:2%;	
	}


/* FACEBOX */
#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}


#facebox .popup{
  position:relative;
  border:1px solid #ccc;
  background: url('../../../../images/contact-seller/dlg_bg.png');
  padding: 10px;

}

#facebox .content {
  display:table;
  width: 238px;
  padding: 10px;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
  position:absolute;
  top:-15px;
  right:-15px;
  padding:2px;
}
#facebox .close img{
  /* opacity:0.3; */
}
#facebox .close:hover img{
  /* opacity:1.0; */
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

/* TAB CONTENT */
.tab-content {
	display: none;
	float: left;
}
.tab-1 {
	display: block;
	padding-bottom: 19px;
}
.tabs-menu, .tabs-menu li {
	float: left;
	height: 44px;
}
.tabs-menu {
	background: url('../../../../images/contact-seller/tab-1.png') no-repeat;
	width: 100%;
}
.tabs-menu li {
	width: 119px;
	position: relative;
	overflow: hidden;
}
.tabs-menu li a {
	position: absolute;
	width: 100%;
	height: 100%;
	text-indent:120px;
}
.content-area {
	padding: 0 15px 0;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}
#tabs-container .tab {
	background-color: #fbf9f6;
	float: left;
	width: 238px;
	border-style: solid;
	border-color: transparent #ccc #ccc #ccc;
	border-width: 1px;
	border-top: none;
}
#tabs-container .tab .text {
	width: 208px;
	height: 24px;
	background: url('../../../../images/contact-seller/20140811-pop-up-sign-in.png') no-repeat;
	border: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0 10px;
	line-height: 24px;
	color: #adadad;
	font-family: Arial;
	font-size: 10px;
	float: left;
}
#tabs-container .tab .short-text {
	width: 86px;
	background: url('../../../../images/contact-seller/short-text.png') no-repeat;
	float: right;
}
#tabs-container .tab .label {
	font-family: Arial;
	font-size: 12px;
	color: #000;
	padding: 10px 0;
	float: left;
	width: 100%;
}
#tabs-container .tab .label .star {
	color: #ff0000;
	margin-left: 3px;
}
#tabs-container .tab table {
	border-collapse: collapse;
	font-size: 12px;
	width: 100%;
}
#tabs-container .tab .tab-2 table {
	float: left;
}
#tabs-container .tab table td {
	padding: 10px 0 6px;
}
#tabs-container .tab .tab-2 table td {
	padding: 0;
}
#tabs-container .tab table .check {
	width: 15px;
	height: 15px;
	float: left;
	position: relative;
	top: -1px;
	margin-right: 3px;
}
input.submit {
	float: right;
	//margin-bottom:1%;
}
input.btn-submit {
	border: none;
	width: 71px;
	height: 30px;
	background: url('../../../../images/contact-seller/bt-send.png') no-repeat;
	cursor: pointer;
}
#tabs-container .tab .tab-2 input.submit {
	padding: 15px 0;
}
#tabs-container .tab table a {
	color: #000;
}
#tabs-container .tab table p {
	padding-top: 3px;
}
.tab-content ul {
	width: 188px;
	margin: 0 auto;
	padding-top: 18px;
}
.tab-content ul li {
	float: left;
	margin-top: 10px;
}
.tab-content ul li:first-child {
	margin-top: 0;
}
.tab-content ul li img {
	display: block;
}
.content-area select {
	float: left;
	height: 24px;
	width: 100%;
	border: 1px solid #aeaeb0;
	font-size: 12px;
	color: #000;
	text-transform: uppercase;
}
.tab-2 .content-area {
	border: none;
	float: left;
}
#sign_inbtn_new{
	width:75px;
	height:30px;
	border:none;
	background:url(../../../../images/contact-seller/bt-sign-in.png) no-repeat}