/* car list wrapper */
#car-list-wrapper {
    width: 730px;
    overflow: hidden;
}
#car-list-wrapper .car-item-wrapper {
    width: 708px;
    overflow: hidden;
    padding: 10px;
    border: 1px solid #CCC;
    margin-bottom: 15px;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
#car-list-wrapper .main-image {
    display: block;
    float: left;
    margin-right: 15px;
}
#car-list-wrapper .img-item {
    width: 300px;
    height: 200px;
}
#car-list-wrapper .img-thumb-item {
    width: 74px;
    height: 50px;
    margin-right: 6px;
    margin-bottom: 6px;
    float: left;
    display: block;
}
/* image gallery tabs for interior, exterior and video */
#car-list-wrapper .item-gallery {
    width: 360px;
    overflow: hidden;
}
#car-list-wrapper .item-gallery .btn-img {
    margin-right: 15px;
    font-weight: bold;
}
#car-list-wrapper .item-gallery .btn-img i {
    margin-right: 10px;
}
#car-list-wrapper .item-gallery .tab {
    margin-top: 10px;
}

/* features */
#car-list-wrapper .features-wrapper {
    display: block;
    width: 708px;
    overflow: hidden;
}
#car-list-wrapper .features-wrapper .feature-icon {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

/* handle controls for price, fav btn and reserve btn */
.handle-wrapper {
    display: block;
    width: 708px;
    margin-bottom: 15px;
}
.handle-wrapper .toolbar-wrapper {
    float: right;
    width: 488px;
    padding: 10px;
    text-align: right;
}
.handle-wrapper .label-wrap {
    float: left;
    display: block;
    font-size: 32px;
    color: #006600;
    height: 40px;
    line-height: 40px;
    width: 200px;
}

.feat-item {
    display: block;
    float: left;
    width: 354px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    margin: 0;
    margin-bottom: 5px;
}
.feat-item-span {
    margin-left: 20px;
}
.feat-row-item .feat-item-title {
    display: inline-block;
    width: 160px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.feat-row-item .feat-item-content {
    
}
.feat-row {
    background-color: #FFF;
}
.feat-row-item {
    display: block;
    float: left;
    width: 342px;
    overflow: hidden;
    margin: 0;
    padding: 5px;
    font-size: 14px;
}

/* eco icon */
.ecoIcon {
    position: absolute;
    z-index: 2;
    top: -12px;
    left: 0;
}

/* extra wrapper */
#extra-main-wrap {
    margin-top: 15px;
}
#extra-main-wrap .extra-wrap {
    width:224px;
    overflow: hidden;
    border: 1px solid #CCC;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    padding: 7px;
    margin-bottom: 15px;
    background-color: #F7F7F7;
}
#extra-main-wrap .extra-wrap img {
    width: 215px;
}
#extra-main-wrap .extra-wrap h5 {
    margin: 0;
}