/* 
   Hack for safari browser.
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
       line-height: 24px !important;
    }
/**    #orderInput {
        margin-left: -4px !important;
    }
**//**    #orderTypeInput {
        margin-left: -5px !important;
        margin-right: -5px !important;
    }
**//**    #resultPerPageInput {
        margin-right: -4px !important;
        margin-left: -4px !important;
    }
**//**    #pageInput {
        margin-left: -4px !important;
        margin-right: -4px !important;
    }
**/}