@charset "utf-8";
/* CSS Document */

.border{
	border-radius:5px;
	border:1px solid #CCC;
	}
.page-title{
	width:100%;
	border-top:4px double #ccc;
	border-bottom:4px double #ccc;
	padding:10px 0;
	color:#590d0e;
	font-size:16px;
	margin:auto;
	margin-top:60px;}
a{
	text-decoration:none;}
div{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
div.label{
	float: left;
    padding-top: 3px;
	}
a.back-to-top{
	position:absolute;
	bottom:20px;
	right:0;
	font-size:12px;
	text-decoration:underline;
	}
.btnMore{
	    float: right;
    margin-right: -10px;
	}
.button{
	color:white;
	border:none;
	padding:6px 20px;
	font-weight:bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #0070e0; /* Old browsers */
	background: -moz-linear-gradient(top,  #0070e0 0%, #0866c4 44%, #0e5aa6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0070e0), color-stop(44%,#0866c4), color-stop(100%,#0e5aa6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0070e0 0%,#0866c4 44%,#0e5aa6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0070e0 0%,#0866c4 44%,#0e5aa6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0070e0 0%,#0866c4 44%,#0e5aa6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0070e0 0%,#0866c4 44%,#0e5aa6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0070e0', endColorstr='#0e5aa6',GradientType=0 ); /* IE6-9 */

}
.btn-ads-now{
	float: left;
    margin-top: 30px;
	cursor:pointer;
	display: none;
}

.container{
	width:100%;
	padding:0px
}
.content-wrapper{
	width:100%;
	padding-top:25px;
	padding:0px
}
.brick{
	margin-right:10px;
	}
.content-wrapper .page-title{
	width:100%;
	border-top:4px double #ccc;
	border-bottom:4px double #ccc;
	padding:10px 0;
	color:#282F7D;
	font-size:16px;
}
.inquiry-button{
	padding:10px 20px;
	min-width:30px;
	border:none;
	color:white;
	width:130px;
	cursor:pointer;
	font-size:14px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #0772c3; /* Old browsers */
background: -moz-linear-gradient(top,  #0772c3 0%, #5eaed6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0772c3), color-stop(100%,#5eaed6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0772c3 0%,#5eaed6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0772c3 0%,#5eaed6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0772c3 0%,#5eaed6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #0772c3 0%,#5eaed6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0772c3', endColorstr='#5eaed6',GradientType=0 ); /* IE6-9 */

	}

.content-wrapper select{
	color:grey;
}
.content-wrapper option:first-child{
	display:none;
}
.content-wrapper option{
	color:black;
}

.content-wrapper #btn-inquiry-submit{
	margin-right:10px;
	} 
.content-wrapper #btn-inquiry-cancel{
	margin-left:10px;
}
.content-wrapper .button-row td{
	padding-top:35px;
	}
.content-wrapper .contact-info textarea{
	min-height:260px;
	}
.content-wrapper .high-row td{
	padding-top: 13px;
    vertical-align: top;
	}
.content-wrapper .inquiry-input {
    float: left;
    width: 50%;
}
.content-wrapper .inquiry-input:first-child {
    padding-right:10px;
}
.content-wrapper .inquiry-input:last-child {
    padding-left:10px;
}

.content-wrapper .inquiry-input-wrapper{
	width:44%;
	}
	
.content-wrapper .radio-row td{
    padding-bottom: 1px;
    padding-top: 1px;
}
.content-wrapper .radio-row td label{
	width:20%}
.grid-3-column-row{
	width:100%}
#sub-slide{
	float:left;
	margin:0px;
	}
#chek-slide #sub-slide label{
	margin:0px}
.content-wrapper .grid-3-column-row td {
    padding-top: 13px;
}
.content-wrapper .grid-3-column-row td:first-child {
    vertical-align:top;
}
.content-wrapper .ex-order-qty{
	margin-top:3px;
	}
.content-wrapper .fillin-table, .content-wrapper .contact-info{
		border-collapse: collapse;
	}

.content-wrapper .fillin-table .inquiry-input select, .content-wrapper .contact-info .inquiry-input select{
    width: 100%;
}

.content-wrapper .contact-info td:first-child, .fillin-table td:first-child {
    width: 15%;
}
.content-wrapper .fillin-table{
  width:100%;
  font-size:80%
	}	
.content-wrapper .fillin-table input, .content-wrapper .contact-info input{
    margin-right: 5px;
	vertical-align: middle;
}
.content-wrapper .fillin-table select, .content-wrapper .contact-info select, .content-wrapper .fillin-table input[type="text"],  .content-wrapper .fillin-table input[type="password"], .content-wrapper .fillin-table textarea{
    font-size: 12px;
    padding: 7px;
   	margin-right:0;
	width:100%;

	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}
	
.content-wrapper .fillin-table td, .content-wrapper .contact-info td{
    height: 35px;
	padding:5px;
	
}

.content-wrapper .fillin-table tr:first-child td, .content-wrapper .contact-info tr:first-child td{
	//border-top: 1px dotted #CCCCCC;
}

.content-wrapper .fillin-table label,  .content-wrapper .contact-info label{
    margin-right: 15px;
}
.content-wrapper .fillin-title,.content-wrapper .contact-info-title{
   border-left: 3px solid #0064B3;
    margin-bottom: 5px;
	margin-top: 5px;
	font-size:14px;
    padding-left: 10px;
	width:100%;
	}
.content-wrapper .fillin-table img{
  	max-width:100%;
}
.content-wrapper #upload_wrap{
	width:110px;
	height:30px;	
	margin: 13px 0;
	float:right;
}
.content-wrapper #upload_wrap .em_upload{
	width:110px;
	height:30px;
	background:url(../../../../images/myinfo/upload_03.jpg) no-repeat;
	border:none;
}
.content-wrapper .fillin-table span, .content-wrapper .contact-info span{
    font-size: 12px;
    vertical-align: middle;
}
.content-wrapper .fillin-table .agreement-row td{
	padding-top:80px;
	}
.fillin-table .input-note{
	font-size:10px;
	color:grey;
	padding-bottom:8px;
}
.fillin-table td:first-child{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	padding-top: 13px;
    vertical-align: top;
	}

.profile-intro > td:first-child, .profile-intro > td{
	padding-top:30px;
}
.fillin-table .profile-intro textarea{
	resize:vertical;
	height:100px;
	margin-bottom:15px;
}
	
.fillin-table .profile-intro .right{
	overflow:hidden;
}
.fillin-table .profile-button-wrapper{
	width:10%;
	padding:5px 5px 5px;
}
.fillin-table .profile-button-wrapper input{
	width:100%;
	color:white;
	border:none;
	cursor:pointer;
	padding:2px;
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
	background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(left,  #1e5799 0%, #3599e0 71%, #70b2e5 93%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(71%,#3599e0), color-stop(93%,#70b2e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #1e5799 0%,#3599e0 71%,#70b2e5 93%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #1e5799 0%,#3599e0 71%,#70b2e5 93%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #1e5799 0%,#3599e0 71%,#70b2e5 93%); /* IE10+ */
background: linear-gradient(to right,  #1e5799 0%,#3599e0 71%,#70b2e5 93%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#70b2e5',GradientType=1 ); /* IE6-9 */

}
.fillin-table .vehicle-info-table tr:first-child td{
	padding-top:25px;
	}
.fillin-table .white-space-row td{
	height:15px;
	}
	
	
/*
* Custome
*
*/
.alert {
	text-align: center;
}
.error {
	color: #f00;
	display: none;
	width: 100%;
}
#fsecurity {
	color: #f00;
	display: none;
}
#file {
	position: absolute;
	width: 70px;
	height: 20px;
}
#base_relative {
	display: none;
}

#my_item{
	width: 100%;
	height: auto;
	margin-top: 40px;	
}
 #my_item ul.myitem{
	list-style: none;
	padding: 0px;
	height: auto;
}
 #my_item ul.myitem li{
	width: 25%;
	height: 100px;
	float: left;
	margin-left: 0px;
}
 #my_item ul{
	list-style: none;
	width: 100%;	
	padding: 20px 0;
}
 #my_item ul li{
	float: left;
	width: 10%;
	height: 80px;
	text-align: center;	
	margin-left: 1%;
	color: #424242;
	position: relative;
}
 #my_item ul.item li img{	
	position: absolute;
	left: 23px;	
	z-index:99;
}
#chek-slide{
	
	width:20%;
	}
#chek-slide #sub-slide span{
	margin-top:5px}

#sub-content-wrapper{
	width:100%;
	border-top:1px dotted #CCC;
	border-bottom:1px dotted #CCC;
	padding-bottom:5px;
	}
#sub-content-wrapper #slide-content-wrapper{
	width:100%;
	}
.clear{
	clear:both;
	}
#logo{
	width:300px
	}
#logo #slide-logo{
	width:160px;
	float:left;
	}
.resize{
	width:110px;
	float:right;
	margin-right:7px;
	}
.textarea{
	resize:none;
	height:132px;
	width:200px}

.phonecode{
	float:right; padding-top:1px;
	}
.phonecode-0{
	float:right; padding-top:1px;
	}
.phonecode-1{
	float:right; padding-top:1px;
	position:absolute;
	left:15%;
	margin-top:-5%}