/* form style */
#form-wrap {
    
   width: 703px;
    border: 1px solid #CCC;
    margin-top:20px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    overflow: hidden;
	
}
#form-wrap .title-label {
    font-weight: bold;
    font-size: 12px;
    width: 150px;
    text-transform: uppercase;
}
#form-wrap .content-label {
    width: 280px;
}

/* top steps images */
#stepper-wrap {
    width: 730px;
    overflow: hidden;
    margin-bottom: 15px;
    font-size: 12px;
    color: #FFF;
    text-shadow: #666 0 1px;
    font-weight: bold;
}
#step1 {
    width: 730px;
    height: 50px;
    line-height: 50px;
    background: url('../../../../image/s1.png') no-repeat left;
    text-indent: 30px;
}
#step2 {
    width: 730px;
    height: 50px;
    line-height: 50px;
    background: url('../../../../image/s2.png') no-repeat left;
    text-indent: 30px;
    display: none;
}
#step3 {
    width: 730px;
    height: 50px;
    line-height: 50px;
    background: url('../../../../image/s3.png') no-repeat left;
    text-indent: 30px;
    display: none;
}
#step4 {
    width: 730px;
    height: 50px;
    line-height: 50px;
    background: url('../../../../image/s4.png') no-repeat left;
    text-indent: 30px;
    display: none;
}
#stepper-wrap .inner-step-p {
    display: block;
    width: 179px;
    float: left;
    margin: 0;
}
#stepper-wrap .unselected-p {
    color: #333;
    text-shadow: #FFF 0 1px;
}
#form-wrap label{
	display:inline;
	margin-right:10px;
}
/* fix input append/prepend */
.inputap {
	border-bottom:1px solid #DDDDDD;
    margin-left: 1px;
}

/* feature icons */
.icons-wrap {
    width: 710px;
    height: 50px;
    padding: 10px;
}
.icons-wrap img {
    display: block;
    float: left;
    margin-right: 20px;
}
.icons-wrap label {
    display: block;
    height: 50px;
    line-height: 50px;
}

/* step content wrappers */
#form-wrap #content1 {
    
}
#form-wrap #content2 {
    display: none;
}
#form-wrap #content3 {
    display: none;
    
}
#form-wrap #content4 {
    display: none;
    
}

.img-wrap {
    width: 210px;
    height: 190px;
    display: block;
    float: left;
    margin: 10px;
    overflow: hidden;
    border: 1px solid #CCC;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.input-prepend.inputap.option{
	overflow-x: hidden;
    overflow-y: auto;
}
.input-prepend.inputap.option > label{
	    float: left;
    padding: 3px;
    width: 200px;
}

#fittingMakeContainer{
	padding:20px 10px 50px 10px;
	background:#fff;
	height:90%;
	overflow:auto;
}


#fittingMakeContainer a:hover{
	text-decoration:underline;
}
#fittingMakeContainer li{
	display:inline-block;
	padding:3px 5px;
}
#fittingMakeContainer ul{
	border:1px solid grey;
	padding:5px;
	max-height:85%;
	overflow:auto;
}
#fittingMakeContainer .left-container input,#fittingMakeContainer .right-container input {
    margin-right: 5px;
    vertical-align: top;
}
#fittingMakeContainer .fitting-make-title{
	color: #008000;
    padding-left: 0;
	padding-bottom:10px;
}
#fittingMakeContainer .container-title{
	margin-bottom:10px;
	
}

#fittingMakeContainer .left-container, #fittingMakeContainer .right-container{
	float: left;
	width: 100%;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	height:65%;
}
#fittingMakeContainer .left-container{
	
}
#fittingMakeContainer .right-container{
	padding-left:10px;

}
#fittingMakeContainer #selectedFitting{
	border:1px solid grey;
	height:30%;
	float:left;
	width:100%;
	padding:10px;
	overflow:auto;
	-moz-box-sizing:border-box;
}
#fittingMakeContainer #selectedFittingTitle{
	width:100%;
	padding-bottom:5px;
	color:red;
	font-weight:bold;
	float:left;
}
#cboxLoadedContent{overflow:hidden !important;}

#fittingMakeContainer .fittingMake {
    display: block;
}
.fittingMake label {
    display: block;
    width: 150px;
}

#fittingMakeContainer .fittingMake ul {
    border: medium none;
	padding-left:20px;
}
.fittingMakePicker{
	background-color: #0064B3;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 3px;
}
.rich-inputn.clearfix h4 {
    margin-bottom: 20px;
    margin-top: 10px;
}
