.two-rows {
    width: 728px;
    overflow: hidden;
    border: 1px solid #CCC;
    border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.two-rows .tab {
    width: 344px;
    padding: 10px;
    float: left;
    overflow: hidden;
}
.feat-wrap {
    width: 50px;
    height: 65px;
    overflow: hidden;
    float: left;
    margin: 5px;
    padding: 5px;
    font-size: 10px;
    border: 1px solid #CCC;
    border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.two-rows .tab .tab-wrap {
    margin: 0;
    margin-bottom: 5px;
    overflow: hidden;
}
.two-rows .tab .tab-title {
    display: block;
    width: 130px;
    float: left;
    font-weight: bold;
    overflow: hidden;
    font-size: 10px;
    text-transform: uppercase;
}
.two-rows .tab .tab-content {
    display: block;
    width: 210px;
    float: left;
    overflow: hidden;
}

/* remove vehicle from reserved list form */
.tool-wrap {
    text-align: right;
}