/* form style */
#form-wrap {
   width: 100%;
     -moz-box-sizing: border-box;
       box-sizing: border-box;
    padding:0px 20px 20px 20px;
    overflow: hidden;
    border:1px solid #ccc;
    border-radius: 5px;
}
#form-wrap .title-label {
    font-weight: bold;
    font-size: 12px;
    width: 160px;
    text-transform: uppercase;
    float: left;
    padding: 3px;
    -moz-box-sizing: border-box;
       box-sizing: border-box;
}
#form-wrap .block-label{
    font-weight: bold;
    font-size: 12px;
    width: 160px;
    text-transform: uppercase;
    margin-bottom:5px;
}
#form-wrap .content-label {

}
#submitbtn{
	background:#1368bc;
	}
/* top steps images */
#stepper-wrap {
    width: 730px;
    overflow: hidden;
    margin-bottom: 15px;
    font-size: 12px;
    color: #FFF;
    text-shadow: #666 0 1px;
    font-weight: bold;
}
#step1 {
    width: 730px;
    height: 50px;
    line-height: 50px;
    background: url('../../../../image/s1.png') no-repeat left;
    text-indent: 30px;
}
#step2 {
    width: 730px;
    height: 50px;
    line-height: 50px;
    background: url('../../../../image/s2.png') no-repeat left;
    text-indent: 30px;
    display: none;
}
#step3 {
    width: 730px;
    height: 50px;
    line-height: 50px;
    background: url('../../../../image/s3.png') no-repeat left;
    text-indent: 30px;
    display: none;
}
#step4 {
    width: 730px;
    height: 50px;
    line-height: 50px;
    background: url('../../../../image/s4.png') no-repeat left;
    text-indent: 30px;
    display: none;
}
#stepper-wrap .inner-step-p {
    display: block;
    width: 179px;
    float: left;
    margin: 0;
}
#stepper-wrap .unselected-p {
    color: #333;
    text-shadow: #FFF 0 1px;
}
#form-wrap label{
    display:inline;
    margin-right:10px;
}
/* fix input append/prepend */
.inputap {
    border-bottom:1px solid #DDDDDD;
    margin-left: 1px;
}

/* feature icons */
.icons-wrap {
    width: 710px;
    height: 50px;
    padding: 10px;
}
.icons-wrap img {
    display: block;
    float: left;
    margin-right: 20px;
}
.icons-wrap label {
    display: block;
    height: 50px;
    line-height: 50px;
}

/* step content wrappers */
#form-wrap #content1 {

}
#form-wrap #content2 {
    display: none;
}
#form-wrap #content3 {
    display: none;

}
#form-wrap #content4 {
    display: none;

}

.img-wrap {
    width: 210px;
    height: 190px;
    display: block;
    float: left;
    margin: 10px;
    overflow: hidden;
    border: 1px solid #CCC;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.input-prepend.inputap.option{
    overflow-x: hidden;
    overflow-y: auto;
}
.input-prepend.inputap.option > label{
        float: left;
    padding: 3px;
    width: 200px;
}
/*new css */
#currencySelect{
    width: auto;
}
.edit_haft_row:last-child{
    padding-left: 30px;
}
.edit_product_table{
    width:100%;
}
.edit_product_table tr:first-child td{
    padding-top:20px;
}
.edit_product_table td{
    vertical-align: top;
    padding-left:10px;
    padding-right:0px;
}
.edit_haft_row{
    width:50%;
    padding:5px;
    border-bottom: 1px solid #ccc;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.edit_haft_row:first-child{
    border-right:1px solid #ccc;
}
.edit_haft_row:last-child{
    padding-left:30px;
}
.edit_product_table input[type=text], .edit_product_table select, .edit_product_table textarea{
    width:260px;
    padding:3px;

  -moz-box-sizing: border-box;
   box-sizing: border-box;
   border: 1px solid #888;

}


#milesInput, #priceInput, #engineVolumeInput, #numberPassengerInput{
    width:120px;
    margin-right: 10px;
}

.other_input{
    display:none;
    margin-left:160px;
    margin-top:5px;
}
.footer-text{
	color:#333;
	padding-left:15px;
	font-size:14px;
	}
.footer-text span a{
	text-decoration:underline;
	color:blue;
	}
/*-----------for mobile------------*/

.edit_haft_row1{
    width:100%;
    padding:5px;
    border-bottom: 1px solid #ccc;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#form-wrap1 {
   width:100%;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
    padding:0px 0px 20px 0px;
    overflow: hidden;
    border:1px solid #ccc;
    border-radius: 5px;
}
#form-wrap1 .title-label {
    font-weight: bold;
    font-size: 12px;
    width:44%;
    text-transform: uppercase;
    float: left;
    //padding: 2px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#form-wrap1 .block-label{
    font-weight: bold;
    font-size: 12px;
    width: 150px;
    text-transform: uppercase;
    margin-bottom:5px;
}
#form-wrap1 label{
    display:inline;
   margin-right:5px;
}
#form-wrap1 #content2 {
    display: none;
}
#form-wrap1 #content3 {
    display: none;

}
#form-wrap1 #content4 {
    display: none;

}
#form-wrap1 table tr td select{
	width:55%;
	}
#form-wrap1 table tr td select.usd{
	width:21%;
	}
#form-wrap1 table tr td input.midle{
	width:23%;
	}
#form-wrap1 table tr td input.midle0{
	width:43%;
	}
#form-wrap1 table tr td input.midle1{
	width:30%;
	}
#form-wrap1 table tr td input.fulltext{
	width:53%;
	}
#form-wrap1 table tr td div iframe.fulltext{
	width:100%;
	}
#sellerCommentText{
	width:100%;
	}
/*#sms{
	font-size:19px;
	font-weight:400;
	color:#2d63bd;
	text-align:center;
	border-top:2px solid #2d63bd;
	border-bottom:2px solid #2d63bd}
#post{
	font-size:19px;
	font-weight:400;
	color:#2d63bd;
	text-align:left;
	border-bottom:2px solid #2d63bd}*/

