*{
	margin:0px;
	padding:0px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0px;
	padding: 0px;
	border: 0px none;
	outline: 0px none;
	background: none repeat scroll 0% 0% transparent;	
	text-align:left;
	  border-collapse: collapse;
}
body{
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
}

a{
	text-decoration:none;
}

a img{
	border:none;
}
ul {
	list-style-type: none;
}

p{
	text-align:justify;
	
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix{
    display: inline-block;
}
.list-style-x li{
	background:url("../images/list-style-x.png") no-repeat scroll 0 6px rgba(0, 0, 0, 0);
	padding-left:20px;
}
#sectionWrapper{
	width:100%;
	height:auto;
}
#sectionWrapper #sectionHeaderWrapper{
	width:100%;
	height:143px;
	background:url(../../images/common/bg/header.gif) repeat-x;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader{
	width:960px;
	height:143px;
	margin:0 auto;
	position:relative;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #logReg{
	background: none repeat scroll 0 0 #282F7D;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 30px;
    
    padding: 0 10px;
    position: absolute;
    right: 0;
    top: 0;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #logReg p{
	
	font-size:12px;
	text-align:center;
	margin-top:6px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #logReg p a{
	color:#fff;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #logo{
	width:175px;
	height:40px;
	position:absolute;
	left:0;
	top:30px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #viewitem{
	position:relative;
	top:57px;
	left:220px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #viewitem ul{
	list-style:none;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #viewitem ul li{
	float:left;
	border-right:1px solid #666666;
	padding:0 20px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #viewitem ul li span{
	font-size:12px;
	font-weight:bold;
	color:#1F2678;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #viewitem ul li span.items{
	color:#C1272D;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #viewitem ul li:last-child{
	border:0px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #language{
	width:246px;
	height:30px;
	position:absolute;
	right:0;
	bottom:62px;
	text-align:right;
	z-index:999;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #language select{
	border:1px solid #cccccc;
	padding:5px;
	width:246px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav{
	height:auto;
	width:960px;
	position:absolute;
	top:100px;
	left:0px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav:hover{
	height:293px;	
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav ul{
	list-style:none;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav ul li{
	position:relative;	
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav ul li.mainNav{
	float:left;
	font-size:14px;
	height:40px;	
	background:url(../../images/common/header/line.gif) right center no-repeat;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav ul li.mainNav:last-child{
	background:none;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav ul li.mainNav a.listMenu{	
	color:#fff;
	display:block;
	padding:12px 37px 13px 37px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav ul li.mainNav a.listMenu:hover{
	background:#282f7d;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav ul li.mainNav a.currentMenu{
	background:#282f7d;
}
/*//////////Change Menu Style///////////*/
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav ul li.mainNav ul{
	list-style:none;	
	position:absolute;
	top:40px;
	float:left;
	display:none;
	z-index:999;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav ul li.mainNav ul li.firstchild{
	border-top:3px solid #282F7D;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav ul li.mainNav ul li{
	width:200px;
	height:45px;
	background:url(../../images/common/header/list_bg.png) 10px center no-repeat;
	border-bottom:1px solid #106eb7;		
	position:relative;
	background-color:#e6edef;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav ul li.mainNav ul li a{
	padding:15px 10px 15px 30px;
	display:block;	
	font-size:14px;
	color:#424242;

}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav ul li.mainNav ul li a.menu_wrap{
	background:url(../../images/common/header/menu.png) right 10px center  no-repeat;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav ul li.mainNav ul li a.menu_wrap:hover{
	background:url(../../images/common/header/white_list.png) right 10px center  no-repeat;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav ul li.mainNav ul li ul{
	list-style:none;
	position:absolute;
	left:200px;
	top:0px;
	display:none;
	z-index:999;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav ul li.mainNav ul li ul li{
	width:200px;
	height:45px;	
	background:url(../../images/common/header/list_bg.png) 10px center no-repeat;
	background-color:#fff;
	border-bottom:1px solid #106eb7;	
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav ul li.mainNav ul li ul li a{
	background:none;
	padding:15px 0px 15px 30px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav ul li.mainNav ul li ul li a:hover{
	background:none;
}
/*
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav{
	position:absolute;
	width:960px;
	height:250px;
	border-bottom:2px solid #0064b3;
	background:#f3f3f3;
	top:43px;
	left:0px;
	z-index:999;
	display:none;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuItemsCar{
	width: 192px;
	height:248px;
	background:url(../../images/common/header/menu-item-car.png) no-repeat;	
	float:left;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuItemsCar p{	
	padding:18px 0px 0px 65px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav  p a{
	font-size:16px;
	color:#0064B3;	
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuItemsCar ul{
	list-style:none;	
	margin-top:23px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuItemsCar ul li{
	
	width:192px;
	height:25px;
	padding-left:10px;
	float:left;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav ul li a{
	font-size:12px;
	color:#424242;	
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuItemsTruck{
	width: 192px;
	height:248px;
	background:url(../../images/common/header/menu-item-truck.png) no-repeat;	
	float:left;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuItemsTruck p{
	font-size:16px;
	color:#0064B3;
	padding:18px 0px 0px 64px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuItemsTruck ul{
	list-style:none;	
	margin-top:23px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuItemsTruck ul li{
	font-size:12px;
	width:192px;
	height:25px;
	padding-left:10px;
	float:left;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuItemsBus{
	width: 192px;
	height:248px;
	background:url(../../images/common/header/menu-item-Bus.png) no-repeat;	
	float:left;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuItemsBus p{
	font-size:16px;
	color:#0064B3;
	padding:18px 0px 0px 62px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuItemsBus ul{
	list-style:none;	
	margin-top:23px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuItemsBus ul li{
	font-size:12px;
	width:192px;
	height:25px;
	padding-left:10px;
	float:left;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuItemsTruckTor{
	width: 192px;
	height:248px;
	background:url(../../images/common/header/menu-item-trucktor.png) no-repeat;	
	float:left;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuItemsTruckTor p{
	font-size:16px;
	color:#0064B3;
	padding:18px 0px 0px 58px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuItemsTruckTor ul{
	list-style:none;	
	margin-top:23px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuItemsTruckTor ul li{
	font-size:12px;
	width:192px;
	height:25px;
	padding-left:10px;
	float:left;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuItemsMecro{
	width: 192px;
	height:248px;
	background:url(../../images/common/header/menu-item-mecro.png) no-repeat;	
	float:left;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuItemsMecro p{
	font-size:16px;
	color:#0064B3;
	padding:18px 0px 0px 42px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuItemsMecro ul{
	list-style:none;	
	margin-top:23px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuItemsMecro ul li{
	font-size:12px;
	width:192px;
	height:25px;
	padding-left:10px;
	float:left;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuRegister1{
	margin-top:10px;
	width:192px;
	height:200px;
	background:#f2f2f2;
	border-right:1px dotted #ccc;	
	float:left;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuRegister1 ul{
	list-style:none;	
	padding:0px 10px 0px 10px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuRegister1 ul li{
	width:172px;
	height:25px;
	border-bottom:1px dotted #ccc;	
	padding-top:7px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuRegister2{
	margin-top:10px;
	width:192px;
	height:200px;
	background:#f2f2f2;
	float:left;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuRegister2 ul{
	list-style:none;	
	padding:0px 10px 0px 10px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuRegister2 ul li{
	width:172px;
	height:25px;
	border-bottom:1px dotted #ccc;	
	padding-top:7px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuBuyer{
	margin-top:10px;
	width:192px;
	height:200px;
	background:#f2f2f2;
	float:left;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuBuyer ul{
	list-style:none;	
	padding:0px 10px 0px 10px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuBuyer ul li{
	width:172px;
	height:25px;
	border-bottom:1px dotted #ccc;
	padding-top:7px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuTrader{
	margin-top:10px;
	width:192px;
	height:200px;
	background:#f2f2f2;
	float:left;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuTrader ul{
	list-style:none;	
	padding:0px 10px 0px 10px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuTrader ul li{
	width:172px;
	height:25px;
	border-bottom:1px dotted #ccc;
	padding-top:7px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuHelp1{
	margin-top:10px;
	width:191px;
	height:200px;
	background:#f2f2f2;
	border-right:1px dotted #ccc;	
	float:left;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuHelp1 ul{
	list-style:none;	
	padding:0px 10px 0px 10px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuHelp1 ul p{
	padding-top:10px;	
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuHelp1 ul li{
	width:172px;
	height:25px;
	border-bottom:1px dotted #ccc;	
	padding-top:7px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuHelp2{
	margin-top:10px;
	width:192px;
	height:200px;
	background:#f2f2f2;
	float:left;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuHelp2 ul{
	list-style:none;	
	padding:0px 10px 10px 10px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuHelp2 ul p{
	padding-top:10px;	
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuHelp2 ul li{
	width:172px;
	height:25px;
	border-bottom:1px dotted #ccc;	
	padding-top:7px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuCommunity{
	margin-top:10px;
	width:191px;
	height:200px;
	background:#f2f2f2;
	border-right:1px dotted #ccc;	
	float:left;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuCommunity ul{
	list-style:none;	
	padding:0px 10px 0px 10px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuCommunity ul p{
	padding-top:10px;	
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuCommunity ul li{
	width:172px;
	height:25px;
	border-bottom:1px dotted #ccc;	
	padding-top:7px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuMywini{
	margin-top:10px;
	width:191px;
	height:200px;
	background:#f2f2f2;
	float:left;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuMywini ul{
	list-style:none;	
	padding:0px 10px 0px 10px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuMywini ul p{
	padding-top:10px;	
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #mainNav .subNav #menuMywini ul li{
	width:172px;
	height:25px;
	border-bottom:1px dotted #ccc;	
	padding-top:7px;
}*/

.edit-product-title {
    border-bottom: 5px solid #008000;
    color: #008000;
    margin-bottom: 20px;
    padding: 15px 15px 0;
	font-size:20px;
}
select:required{
	box-shadow:none;
}