*{
	margin:0px;
	padding:0px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0px;
	padding: 0px;
	border: 0px none;
	outline: 0px none;
	background: none repeat scroll 0% 0% transparent;	
	text-align:left;
	  border-collapse: collapse;
}
body{
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
}

a{
	text-decoration:none;
}

a img{
	border:none;
}
ul {
	list-style-type: none;
}

p{
	text-align:justify;
	
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix{
    display: inline-block;
}
/**.list-style-x li{
	background:url("../images/list-style-x.png") no-repeat scroll 0 6px rgba(0, 0, 0, 0);
	padding-left:20px;
}
**/#sectionWrapper{
	width:100%;
	height:auto;
}
#sectionWrapper #sectionHeaderWrapper{
	width:100%;
	height:auto;
	border-bottom: 1px solid #cacaca;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader{
	width:100%;
	height:auto;
	margin:0 auto;
	position:relative;	
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #logReg{
	width:100%;
    height: auto;   	
	position: absolute;
	padding: 10px 0;
	background: #fff;
	z-index: 999;
	border-bottom: 1px solid #ccc;
}

/**#sectionWrapper #sectionHeaderWrapper #sectionHeader #logReg ul.translation-links{
	list-style: none;
	float: right;
	margin-top: 5px;
	width: 100%;
}
**//**#sectionWrapper #sectionHeaderWrapper #sectionHeader #logReg ul.translation-links li{
	float: right;
	padding-right: 10px;
}
**//**#sectionWrapper #sectionHeaderWrapper #sectionHeader #logReg #phone{
	width:21px;
	height:auto;
	float:left;
}
**/#sectionWrapper #sectionHeaderWrapper #sectionHeader #logReg p{	
	font-size:14px;
	color: #29a9e0;
	float: left;
	margin-left: 5px;
}
#sectionWrapper #sectionHeaderWrapper #sectionHeader #logReg p a{
	color: #979797;
}	 
#sectionWrapper #sectionHeaderWrapper #sectionHeader #logReg p.login{	
	font-size:12px;
	color: #979797;
	float: right;
	margin-right: 10px;
	padding-top: 3px;
}
/**#sectionWrapper #sectionHeaderWrapper #sectionHeader #logReg #linkB{
	float: right;
	width: 22px;
	height: 22px;
}
**/#sectionWrapper #sectionHeaderWrapper #sectionHeader #logReg #linkT/**, #LinkF**/{
	float: right;
	width: 22px;
	height: 22px;
	margin-right: 10px;
}
#sectionWrapper #sectionLogo{
	width: 100%;
	height: 100px;
	margin: 30px auto 0 auto;	
}
#sectionWrapper #sectionLogo #logo{
	width: 150px;
	height: auto;
	float: left;
	margin-top: 40px;
	margin-left: 1%;
}
#sectionWrapper #sectionLogo #logo img{
	width: 100%;
	height: auto;
}
#sectionWrapper #sectionLogo #mobile_menu{
	width: 27px;
	height: 27px;
	float: right;
	margin: 40px 10px 0 0;
}
#sectionWrapper #sectionLogo #menu_item{
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 99;
	top: 133px;
	left: 0px;
	background: #0071ba;
	display:  none;
}
#sectionWrapper #sectionLogo .submenu_item{
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 999;
	top: 133px;
	left: 0px;
	background: #0071ba;
	
}
#sectionWrapper #sectionLogo .submenu_item .item_wrap{
	width: 100%;
	height: 40px;
	background: #004878;
}
#sectionWrapper #sectionLogo .submenu_item .item_wrap p{
	color: #fff;
	margin: 10px 0 0 10px;
	float: left;
}
#sectionWrapper #sectionLogo .submenu_item .item_wrap .arrow{
	width: 40px;
	height: 40px;
	background: #0063a3;
	float: left;
	margin-left: 2%;
	text-align: center;
}
#sectionWrapper #sectionLogo .submenu_item .item_wrap .arrow img{
	margin-top: 15px;
}
#sectionWrapper #sectionLogo .submenu_item .sub_menuwrap{
	width: 100%;
	height: auto;
	float: left;
}
/**#sectionWrapper #sectionLogo .item, **//**.register, **/.findtrader, .help, .community, .myiblue, .category, .seller{
	display: none;
}
#sectionWrapper #sectionLogo .submenu_item .sub_menuwrap ul{
	
}
#sectionWrapper #sectionLogo .submenu_item .sub_menuwrap ul li{
	background: url(../../images/home_new/arrow.png) no-repeat 2% center;
	height: 24px;
	padding: 6px 0px 0px 30px;
	border-bottom: 1px solid #0063a3;
}
#sectionWrapper #sectionLogo .submenu_item .sub_menuwrap ul li a{
	color: #fff;
	display: block;
}
#sectionWrapper #sectionLogo #menu_item ul{
	list-style: none;
}
#sectionWrapper #sectionLogo #menu_item ul li{
	height: 30px;
	width: 98%;	
	color: #fff;
	border-bottom: 1px solid #0063a3;
	padding-top: 10px;
	padding-left: 2%;
}
#sectionWrapper #sectionLogo #menu_item ul li img{
	float: right;
	margin-right: 2%;
}
#sectionWrapper #sectionLogo #menu_item ul li a{
	color: #fff;
}
/**#sectionWrapper #sectionLogo #menu{
	float: right;
	margin-top: 40px;
}
**//**#sectionWrapper #sectionLogo #menu ul.main_menu{
	list-style: none;
}
**//**#sectionWrapper #sectionLogo #menu ul li.main_menu{
	float: right;
	margin-right: 40px;	
	height: 62px;	
}
**//**#sectionWrapper #sectionLogo #menu ul li.main_menu a.main{
	padding-bottom: 10px;
	font-family: 'Poly';
	font-size: 14px;

}
**//**#sectionWrapper #sectionLogo #menu ul li.main_menu:hover a.main{
	border-bottom: 3px solid  #0071ba;
}
**//**#sectionWrapper #sectionLogo #menu ul li.first_child{
	float: right;
	margin-right: 0px;
}
**/
/**#sectionWrapper #sectionLogo #menu ul li ul{
	list-style: none;
	position: absolute;
	z-index: 999;
	border: 1px solid #ccc;
	margin-top: 44px;
	width: 190px;
	background: #fff;
	display: none;
	padding-bottom: 10px;
}
**//**#sectionWrapper #sectionLogo #menu ul li ul li{
	width: 160px;
	height: 30px;
	border-bottom: 1px solid #ccc;
	margin-left: 10px;	
	font-size: 12px;
	
}
**//**#sectionWrapper #sectionLogo #menu ul li ul li:hover{	
	height: 30px;
	border-radius: 5px;	
}
**//**#sectionWrapper #sectionLogo #menu ul li ul li a{
	color: #29A9E0;
	display: block;
	margin-top: 1px;
	padding: 7px 0px 7px 5px;	
}
**//**#sectionWrapper #sectionLogo #menu ul li ul li a:hover{
	background: #F0F0F0;
	border-radius: 5px;
}
**//**#sectionWrapper #sectionLogo #menu ul li a{
	color:#333333;
}
**/#sectionWrapper #shadow_bg{
	width: 100%;
	height: 8px;
	background:url("../../images/common/header/head_bg.png") repeat-x ;
}
/**#sectionWrapper .sub_menu{
	width: 190px;
	height: auto;
	float: left;
	margin-top: -7px;
}**/