<div style="width:560px;overflow:auto;background:#EDEDED;padding:0px 50px 20px 50px;">
	<div style="float:left;width:100%;">
		<table style="width:100%; border-collapse: separate; border-spacing:10px">
			<tr>
				<td colspan="3" style="text-align:center;">
					<div style="text-align:center;float:left;margin-top:10px;margin-bottom:10px;width:100%;border-bottom: 1px dashed #bbb;padding:0px 0 20px;">
						<h2 style="text-align:center;color:#3264B5">Hi [:::TO_COMPANY_NAME:::]!</h2>
						<small>You have received one inquiry from <u><b>[:::EMAIL_FROM:::]</b></u></small>
					</div>
				</td>
			</tr><tr>
				<td style="width:70px;padding: 5px;vertical-align:top;">Subject: </td>
				<td style="background:white;padding: 5px;border:1px solid #ddd;height:20px;vertical-align:top;">[:::SUBJECT:::]</td>
				[:::PRODUCT_CONTAINER:::]
			</tr><tr>
				<td style="width:70px;padding: 5px;vertical-align:top;">Message: </td>
				<td style="background:white;padding: 5px;border:1px solid #ddd;height:135px;margin-bottom:20px;vertical-align:top;">
					<div style="min-height:150px">[:::MESSAGE:::]</div> 
					[:::ATTACHMENT_CONTAINER:::]
				</td>

			</tr><!--<tr>
				<td style="width:70px;padding: 5px;vertical-align:top;">Sender Profile: </td>
				<td colspan="2" style="background:white;padding: 5px;border:1px solid #ddd;height:135px;margin-bottom:20px;vertical-align:top;">
					<div style="float:left;width:100%;overflow:auto;">
						<div style="overflow: auto;">
							[:::FROM_PROFILE_IMAGE_CONTAINER:::]
							
							<div style="overflow:hidden;padding-left:15px;">
								[:::FROM_PROFILE_CONTAINER:::]
							</div>
						</div>
					</div>
				</td>
			</tr>--><tr>
				<td colspan="3">
					<div style="float:left;margin-top:10px;width:100%;border-top: 1px dashed #bbb;border-bottom: 1px dashed #bbb;padding:20px 0;">
						<div style="width:50%;float:left"><a href="http://angkorauto.com"><img alt="Motor BB.com" src="https://angkorauto.com/images/common/header/motor_bb.png"/></a></div>
						<div style="float:right;text-align:right;">
							Email: info@angkorauto.com<br/>
							<img style="margin:2px 2px;" src="http://angkorauto.com/images/social_icons/fb.png">
							<img style="margin:2px 2px;" src="http://angkorauto.com/images/social_icons/tt.png">	
							<img style="margin:2px 2px;" src="http://angkorauto.com/images/social_icons/gplus.png">	
							<img style="margin:2px 2px;" src="http://angkorauto.com/images/social_icons/in.png">			
						</div>
					</div>
				</td>
			</tr><tr>
				<td colspan="3">
					<div style="width:100%;float:left;text-align:center;padding:20px 0">
						Copyright @ 2014 Angkorauto. All Rights Reserved by Softbloom co., Ltd
					</div>
				</td>
			</tr>
		</table>
	</div>
	
	
</div>