#wrapper-aboutus{
	width: 1170px;
	height:auto;
	margin:30px auto 100px;
}
#wrapper-aboutus  h1{
	color:#0071ba;
	padding-bottom:8px;
	border-bottom:2px solid #0071ba;
	font-size:21px;
}
#wrapper-aboutus img{
	float:right;
	margin:28px 0 40px 20px ;
}
#wrapper-aboutus p{
	padding:20px 0px 20px 3px;
	color:#757575;
	font-size:14px;
}
#wrapper-aboutus h2{
	color:#0071ba;
	padding-bottom:8px;
	font-size:21px;
	margin-left:8px;
	clear:both;
}
#wrapper-aboutus #specific-selling{
	width:368px;
	height:570px;
	margin-top:10px;
	border:1px solid #cacaca;
	float:left;
	margin-right:17px;
	
}
#wrapper-aboutus #specific-selling  h3{
	color:#0071ba;
	padding:15px;
	font-size:14px;
	background-color:#b6c8d5;
	border-bottom:2px solid #0071ba;
	text-align:center;
	
}
#wrapper-aboutus #specific-selling ul{
	padding-left:30px;
	padding-top:20px;
	padding-bottom:50px;
}
#wrapper-aboutus #specific-selling ul li{
	list-style-image:url("../../img/aboutus/booling.png");
	line-height:34px;
	font-size:14px;
	color:#757575;
	padding-right:20px;
}
#wrapper-aboutus #wrapper-offer{
  overflow:hidden;
  margin-left:8px;
}