#wrapper-dealer{
	max-width:1200px;
	width: 100%;
	height:auto;
	margin:30px auto 0;
	padding: 0 15px;	
}
#wrapper-dealer #search-dealer{
	width:100%;
	height:57px;
	padding:10px 10px;	
	background-color:#f2f4f5;
	border-bottom:2px solid #b8c9d6;		
}
#wrapper-dealer #search-dealer .txt-search{	
	width: 100%;
	height:30px;
	padding:0 10px;
	border:none;
	border:1px solid #c8c6c6;	
	margin-top:6px;
	float: left
}
#wrapper-dealer #search-dealer #wrap_search{
	width:47%;
	float:left;
	margin-left:2%;	
}
#wrapper-dealer #search-dealer #wrap_search .btn-search{	
	width:49%;
	height:30px;
	color: #FFFFFF;
	background-image:url("../../images/dealer/bg_submit.png");
	border:none;
	font-size: 12px;
	margin: 6px 2% 0 0;
	float:left
}
#wrapper-dealer #search-dealer #wrap_search a{		
	width:49%;
	height:30px;
	background-image:url("../../images/dealer/bg_submit.png");
	display: block;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	padding: 6px 0;
	margin: 6px 0 0 0;
	float:left
}
#wrapper-dealer #container-items{
	max-width:1170px;
	width:100%;
	height:auto;
	background-color:#f9f9f9;
	margin-top: 20px;
}
#wrapper-dealer #container-items ul {
	margin-left: 0px;
}
#wrapper-dealer #container-items ul li {
	width:100%;	
}
#wrapper-dealer #container-items ul li p#c_name {
	/* padding-top: 9px; */
}
#wrapper-dealer #container-items ul li p#c_name span {
	color: #0071ba;
    font-size: 16px;
    text-transform: capitalize;
}
#wrapper-dealer #container-items ul li p {
	font-size: 12px;
}
#wrapper-dealer #container-items ul li .statusCar{
	margin-top:6px;
	font-size: 12px;
	color: #4497cc;
}
#wrapper-dealer #container-items ul li span.reserved {
	padding-right: 20px;
}
#wrapper-dealer #container-items ul li .dealer-block{
	width:100%;
	height:140px;
	border:1px solid #cecece;
	background-color:#ffffff;
	margin-bottom:13px;
}
#wrapper-dealer #container-items ul li .dealer-block img{
	float:left;
  	margin:10px;}
#wrapper-dealer #container-items ul li .dealer-margin{
	margin-left:13px;
}
#wrapper-dealer #container-items ul li .dealer-block a p{
   color:#4497cc;
   font-weight:bold;
   padding-top:14px;
}
#wrapper-dealer #container-items ul li .dealer-block #wrap-detail{
	width:79%;
	margin-top:10px;
	margin-right:1%;
}
#wrapper-dealer #container-items ul li .line{
   border-bottom:1px solid #0071ba;
   width:96%;
}
#wrapper-dealer #container-items ul li .tel{
  color:#999999;  
  padding-top:10px;
}
#wrapper-dealer #container-items ul li .tel a { 
	color: #999999;
}
#wrapper-dealer #container-items ul li .email{
  color:#999999;  
  padding-top:2px;
}
#wrapper-dealer #container-items ul li .total{
  color:#ff6f6f;  
}
#wrapper-dealer #container-items ul li .p{
  margin-top:4px;
}
#wrapper-dealer #container-items ul li .more img{
 margin-left:2px;
}
#wrapper-dealer #container-items ul li .more{
  margin-left:0px;
}

#wrapper-dealer  #pagegination  .total-record{
  font-size:12px;
  font-weight:bold;
  padding-left:20px;
  float:left;
}
#wrapper-dealer  #pagegination .record{
  font-size:12px;
  font-weight:bold;
  color:#dd0000;
  position:relative;
  left:10px;
  float:left;
}
#wrapper-dealer  #pagegination .label-record{
  font-size:12px;
  font-weight:bold;
  position:relative;
}
#wrapper-dealer  #pagegination{  
	overflow: hidden;
	clear:both;
}
div.pagination {
	width: auto;
	height: auto;	
	margin: 30px auto;
	display: block;
}
div.pagination a,
div.pagination span.current,
div.pagination span.disabled {
	padding: 1% 1.5%;
}

/** search dealer using ajax
----------------------------------------------------- **/
#searchid {		
	border:solid 1px #ccc;
	padding:10px;
	font-size:13px;
}
#result {	
	width: 100%;
	position:absolute;	
	display:none;
	/* padding: 0 15px; */
	margin-top: 35px;
	border-top:0px;
	overflow:hidden;
	border:1px #CCC solid;
	background-color: white;
	z-index: 9;
}
#result .show {	
	/* border-bottom:1px #999 dashed; */
	font-size:13px; 	
	/* padding: 15px 15px 20px 15px; */
	padding: 5px 10px;
}
#result .show:hover {
	background:#4c66a4;
	color:#FFF;
	cursor:pointer;
}

/* Loading Dealer
----------------------------------------- */
#loadingDealer {	
	width: 30px;
    position: relative;
    margin: 0 auto;
}
#loadingDealer img {
	width: 30px;
	height: 30px;
	position: absolute;	
	z-index: 1000;			
}
#loadingDealer img.loadBottom {
	position: fixed;	
	top: 20px;
}
#footer {
	margin-top: 70px;
}
.padBottom {
	margin-top: 50px !important;
}

/*
 *  Responsive Style
 * ------------------------------------------------------------------------------
 */
@media only screen and (max-width : 480px) {
	#wrapper-dealer #container-items ul li p {
		font-size: 11px;
	}
	#wrapper-dealer #container-items ul li span.reserved {
		padding-right: 5%;
	}
	#wrapper-dealer #container-items ul li .statusCar {
		font-size: 11px;
	}
	#wrapper-dealer #container-items ul li p#c_name span { 
		font-size: 14px;
	}
}