
/* css contact */
#sectionContenWrapper {
	width: 1170px;
	height:auto;
	margin:30px auto 100px;
}
#sectionContenWrapper #conInfo {
	width: 1170px;
	height:auto;
	border-bottom: 2px solid #005a94;
	padding-bottom: 10px;
}
#sectionContenWrapper #conInfo p {
	font-size: 21px;
	color: #005a94;
	padding-left:3px;
}
#sectionContenWrapper #textMap {
	width: 1170px;
	height:auto;
	margin-top: 30px;
}
#sectionContenWrapper #textInfo {
	width: 550px;
	margin-right: 20px;
	float: left;
}
#sectionContenWrapper #textInfo p {
	font-size: 12px;
	line-height: 21px;
	color: #757575;
	padding-left:5px;
}
#sectionContenWrapper #textInfo div.address {	
	padding-top: 40px;
}
#sectionContenWrapper #textInfo div.address p {
	font-weight: bold;
	padding-bottom: 10px;
}
#sectionContenWrapper #textInfo div.address span {
	font-weight: normal;
}
#sectionContenWrapper #mapInfo {
	width: 600px;
	float: left;
}
#sectionContenWrapper #support {
	margin-top: 100px;
}
#sectionContenWrapper #support .leaderSupport { 
	width: 535px;	
	float: left;
}
#sectionContenWrapper #support .marLeft {
	margin-left: 50px;
}
#sectionContenWrapper #support .border { 
	width: 585px;
	border-right: 1px solid #CCCCCC;	
}
#sectionContenWrapper #support .border .marBorder {
	margin-right: 49px;
}
#sectionContenWrapper #support .leaderSupport .titleTop {
	border-bottom: 2px solid #005a94;
	padding-bottom: 10px;
}
#sectionContenWrapper #support .leaderSupport .titleTop p {
	font-size: 21px;
	color: #005a94;
	padding-left:3px;
}
#sectionContenWrapper #support .leaderSupport ul li {		
	width: 535px;
	height: 150px;
	border-bottom: 1px dotted #cccccc;
	margin-top: 30px;	
}
#sectionContenWrapper #support .leaderSupport ul li.clearBorder {
	border: none;
}
#sectionContenWrapper #support .leaderSupport ul li .divImg {
	width: 150px;
	height: 120px;
	float: left;
}
#sectionContenWrapper #support .leaderSupport ul li .divImg img {
	max-width: 120px;
	width: 100%;
}
#sectionContenWrapper #support .leaderSupport ul li .divText {
	float: left;
}
#sectionContenWrapper #support .leaderSupport ul li .divText p {
	font-size: 12px;
	line-height: 20px;
	color: #757575;
}
#sectionContenWrapper #support .leaderSupport ul li .divText p span {
	font-size: 18px;
	color: #757575;
	line-height: 35px;
/* css contact */
#sectionContenWrapper {
	width: 1170px;
	height:auto;
	margin:30px auto 100px;
}
#sectionContenWrapper #conInfo {
	width: 1170px;
	height:auto;
	border-bottom: 2px solid #005a94;
	padding-bottom: 10px;
}
#sectionContenWrapper #conInfo p {
	font-size: 21px;
	color: #005a94;
}
#sectionContenWrapper #textMap {
	width: 1170px;
	height:auto;
	margin-top: 30px;
}
#sectionContenWrapper #textInfo {
	width: 550px;
	margin-right: 20px;
	float: left;
}
#sectionContenWrapper #textInfo p {
	font-size: 12px;
	line-height: 21px;
	color: #757575;
}
#sectionContenWrapper #textInfo div.address {	
	padding-top: 40px;
}
#sectionContenWrapper #textInfo div.address p {
	font-weight: bold;
	padding-bottom: 10px;
}
#sectionContenWrapper #textInfo div.address span {
	font-weight: normal;
}
#sectionContenWrapper #mapInfo {
	width: 600px;
	float: left;
}
#sectionContenWrapper #support {
	margin-top: 100px;
}
#sectionContenWrapper #support .leaderSupport { 
	width: 535px;	
	float: left;
}
#sectionContenWrapper #support .marLeft {
	margin-left: 50px;
}
#sectionContenWrapper #support .border { 
	width: 585px;
	border-right: 1px solid #CCCCCC;	
}
#sectionContenWrapper #support .border .marBorder {
	margin-right: 49px;
}
#sectionContenWrapper #support .leaderSupport .titleTop {
	border-bottom: 2px solid #005a94;
	padding-bottom: 10px;
}
#sectionContenWrapper #support .leaderSupport .titleTop p {
	font-size: 21px;
	color: #005a94;
}
#sectionContenWrapper #support .leaderSupport ul li {		
	width: 535px;
	height: 150px;
	border-bottom: 1px dotted #cccccc;
	margin-top: 30px;	
}
#sectionContenWrapper #support .leaderSupport ul li.clearBorder {
	border: none;
}
#sectionContenWrapper #support .leaderSupport ul li .divImg {
	width: 150px;
	height: 120px;
	float: left;
}
#sectionContenWrapper #support .leaderSupport ul li .divImg img {
	max-width: 120px;
	width: 100%;
}
#sectionContenWrapper #support .leaderSupport ul li .divText {
	float: left;
}
#sectionContenWrapper #support .leaderSupport ul li .divText p {
	font-size: 12px;
	line-height: 20px;
	color: #757575;
}
#sectionContenWrapper #support .leaderSupport ul li .divText p span {
	font-size: 18px;
	color: #757575;
	line-height: 35px;
}