#sectionWrapper #sectionContent #sectionFeature{
	width:660px;
	height:auto;
	padding:0px 0 20px 0;
	background:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #c0c1c2;
}
#sectionWrapper #sectionContent #sectionFeature #photoHead{
	width:640px;
	height:auto;
	padding:10px 0px;
	border-bottom:1px solid #ccc;
	margin:0 0 0 10px;
}
#sectionWrapper #sectionContent #sectionFeature #photoHead p{
	float:left;
	margin-right:20px;
}
#sectionWrapper #sectionContent #sectionFeature #photoHead p a{
	padding:0 10px;
	color:#000;
}
#sectionWrapper #sectionContent #sectionFeature #listPhoto{
	width:640px;
	height:auto;
	margin:0 0 0 10px;
}
#sectionWrapper #sectionContent #sectionFeature #listPhoto .photoAlbum{
	width:145px;
	height:auto;
	margin:20px 20px 0px 0;
	float:left;
}
#sectionWrapper #sectionContent #sectionFeature #listPhoto .photoAlbumLast{
	margin-right:0px;
}
#sectionWrapper #sectionContent #sectionFeature #listPhoto .photoAlbum p{
	line-height:normal;
	color:#625c5c;
	padding:5px 0 0 0;
}
#sectionWrapper #sectionContent #sectionFeature #listPhoto .photoAlbum p span{
	color:#ee8a07;
}
#sectionWrapper #sectionContent #sectionFeature #listPhoto .photoAlbum p.datePost{
	color:#979292;
	font-size:11px;
}