#sectionWrapper #sectionContent #sectionFeature{
	width:660px;
	height:auto;
	padding:0px 0 20px 0;
	background:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #c0c1c2;
}
#sectionWrapper #sectionContent #sectionFeature #contactHead{
	width:640px;
	height:auto;
	padding:10px 0px;
	border-bottom:1px solid #ccc;
	margin:0 0 0 10px;
}
#sectionWrapper #sectionContent #sectionFeature #contactInfo{
	width:600px;
	height:auto;
	padding:20px;
	background:#e9eaea;
	border-radius:10px;
	margin:20px 0 0 10px;
}
#sectionWrapper #sectionContent #sectionFeature #contactInfo p{
	line-height:28px;
	font-size:12px;
	font-weight:bold;
}
#sectionWrapper #sectionContent #sectionFeature #contactMap{
	width:630px;
	height:auto;
	margin:10px 0 0 10px;
	border:5px solid #aa0f0f;
	border-radius:5px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact{
	width:640px;
	height:auto;
	padding:10px;
	background:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-top:10px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact p{
	line-height:24px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact table{
	border:0px;
	border-collapse:collapse;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact table td{
	text-align:right;
	padding:5px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact table td p{
	text-align:right;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact table td input[type="file"]{
	border:1px solid #ccc;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact table td .btndelete{
	background:url(../../images/btndelete.gif) no-repeat;
	border:none;
	width:57px;
	height:18px;
	cursor:pointer;
	text-indent:-150px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact table td .btnadd{
	background:url(../../images/btnadd.gif) no-repeat;
	border:none;
	width:44px;
	height:18px;
	cursor:pointer;
	text-indent:-150px;
	margin-left:5px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact table td .btnsend{
	background:url(../../images/btnsend.gif) no-repeat;
	border:none;
	width:64px;
	height:23px;
	cursor:pointer;
	text-indent:-150px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact table td textarea{
	padding:5px;
	border:1px solid #ccc;
	width:620px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact table td .file_upload{
	text-align:right;
	margin-bottom:5px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact table td #file_tools{
	margin:5px 0 0 5px;
	text-align:right;
	
}