/*css for sideBar*/

#ebody{
	float:left;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#sectionContenWrapper{
	width:960px;
	height:auto;
	margin:20px auto 0 auto;
}
#sectionWrapper #topMenu{
	width:960px;	
}
#sectionWrapper #topMenu p{
	color:#0064b2;	
	font-size:12px;
}
#sectionWrapper #topMenu a{
	color:#424242;	
	font-size:12px;
}
#sectionContenWrapper #sectionSidebar{
	width:230px;
	height:auto;
	float:left;
}
#sectionContenWrapper #sectionSidebar #topSideBar{
	width:230px;
	height:auto;
	margin-top:25px;	
}
#sectionContenWrapper #sectionSidebar #topSideBar ul{
	list-style:none;
}
#sectionContenWrapper #sectionSidebar #topSideBar ul li.first_child{
	border-top:1px dotted #ccc;
}
#sectionContenWrapper #sectionSidebar #topSideBar ul li{
	background:url(../../images/common/sidebar/arrow-liststyle.png) 10px center no-repeat;
	padding:12px 0px 25px 30px;
	border-bottom:1px dotted #ccc;
	height:27px;	
}

#sectionContenWrapper #sectionSidebar #topSideBar ul li a{
	font-size:14px;
	color:#424242;
	text-decoration:none;	
}
#sectionContenWrapper #sectionSidebar #contact_info{
	width:230px;
	height:30px;
	background:#0064b3;	
	margin-top:25px;
}
#sectionContenWrapper #sectionSidebar #contact_info p{
	font-size:16px;	
	color:#fff;
	padding:5px 0px 0px 15px;
}
#sectionContenWrapper #sectionSidebar #contact_detail{
	width:208px;
	height:203px;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	padding:10px;
}
#sectionContenWrapper #sectionSidebar #contact_detail p.title{
	font-size:14px;
	color:#000088;	
	padding-top:0px;
}
#sectionContenWrapper #sectionSidebar #contact_detail p{
	font-size:12px;
	color:#424242;	
	padding-top:10px;
	line-height:24px;
}
#sectionContenWrapper #sectionSidebar #contact_detail p span{
	padding-left:70px;
}
#sectionContenWrapper #sectionSidebar #contact_detail p a{
	color:#424242;	
}
/*/////////////////////
///////////////////////
/*css for mainContent*/
#sectionContenWrapper #sectionContent{
	width:705px;
	height:auto;
	float:right;
}
#sectionContenWrapper #sectionContent #community_title{
	width:705px;
	height:44px;
	margin-top:25px;
	border-bottom:4px double #ccc;
	border-top:4px double #ccc;
	background:url(../../images/common/register_item/blue-brick.png) left center no-repeat;
}
#sectionContenWrapper #sectionContent #community_title p{
	color:#282f7d;
	font-size:16px;
	padding:15px 0px 0px 25px;	
	float: left;
}
#sectionContenWrapper #sectionContent #auto_detail{
	width:705px;
	height:auto;
	margin-top:25px;	
}
#sectionContenWrapper #sectionContent #auto_detail #text{
	width:600px;
	height:auto;
	float:left;	
}
#sectionContenWrapper #sectionContent #auto_detail #text p{
	font-size:12px;
	color:#424242;
	line-height:24px;
}
#sectionContenWrapper #sectionContent #auto_detail #text p.first{
	background:url(../../images/contact/list_bg.png) left 7px no-repeat;
	padding-left:20px;	
}
#sectionContenWrapper #sectionContent #auto_detail #button{
	width:105px;
	float:right;
	height:auto;	
}
#sectionContenWrapper #sectionContent #auto_detail #button #write{
	width:100px;
	height:20px;
}
#sectionContenWrapper #sectionContent #auto_detail #button #view{
	width:100px;
	height:20px;
	margin-top:10px;
}
#sectionContenWrapper #sectionContent #auto_form{
	width:705px;
	height:auto;
	margin-top:25px;	
}
#sectionContenWrapper #sectionContent #auto_form table{
	border-collapse:collapse;
	border:0px;
}
#sectionContenWrapper #sectionContent #auto_form table td{
	border:0px;
	border-collapse:collapse;
	height:30px;
	vertical-align:middle;
	text-align:left;
	padding:10px 0 10px 10px;
}
#sectionContenWrapper #sectionContent #auto_form table td p{
	font-weight:bold;
}
#sectionContenWrapper #sectionContent #auto_form table td.tdLeft{
	width:100px;
}
#sectionContenWrapper #sectionContent #auto_form table td input[type="text"]{
	width:250px;
	height:25px;
	border:1px solid #ccc;
}
#sectionContenWrapper #sectionContent #auto_form #radio_wrap{
	width:600px;
	height:auto;	
}
#sectionContenWrapper #sectionContent  #radio_wrap #all{
	width:50px;	
	float:left;
}
#sectionContenWrapper #sectionContent  #radio_wrap #spec{
	width:115px;	
	float:left;
}
#sectionContenWrapper #sectionContent  #customs{
	width:86px;	
	float:left;
}
#sectionContenWrapper #sectionContent  #radio_wrap #news{
	width:100px;	
	float:left;
}
#sectionContenWrapper #sectionContent  #radio_wrap #shipping{
	width:85px;	
	float:left;
}
#sectionContenWrapper #sectionContent  #radio_wrap #photo{
	width:60px;	
	float:left;
}
#sectionContenWrapper #sectionContent #auto_form #textbox_wrap{
	width:750px;
	height:30px;
	margin-top:25px;	
}
#sectionContenWrapper #sectionContent #auto_form #textbox_wrap .car{
	width:148px;
	height:30px;
	border:1px solid #ccc;	
	float:left;
}
#sectionContenWrapper #sectionContent #auto_form #textbox_wrap .topic{
	width:180px;
	height:30px;
	border:1px solid #ccc;	
	float:left;
}
#sectionContenWrapper #sectionContent #auto_form #textbox_wrap .make{
	width:148px;
	height:28px;
	border:1px solid #ccc;	
	float:left;
	margin-left:20px;
}
#sectionContenWrapper #sectionContent #auto_form #textbox_wrap .search{
	width:265px;
	height:28px;
	border:1px solid #ccc;	
	border-right:none;
	float:left;
	margin-left:20px;
}
#sectionContenWrapper #sectionContent #auto_form #textbox_wrap .trade_search{
	width:405px;
	height:28px;
	border:1px solid #ccc;	
	border-right:none;
	float:left;
	margin-left:20px;
}
#sectionContenWrapper #sectionContent #auto_form #textbox_wrap .btn_search{
	float:left;
	width:100px;
	height:30px;	
	border: none;
	background: url('../../images/community/search.png');
	cursor: pointer;
}
#sectionContenWrapper #sectionContent #list_detail{
	width:705px;
	height:auto;
	margin-top:25px;	
}
#sectionContenWrapper #sectionContent #list_detail ul{
	list-style:none;	
	border-bottom: 1px dotted #999;
}
#sectionContenWrapper #sectionContent #list_detail ul.title{	
	border-bottom: none;
}
#sectionContenWrapper #sectionContent #list_detail ul li{
	float:left;	
	text-align:center;
	height:auto;
	padding:7px 0px;
}
#sectionContenWrapper #sectionContent #list_detail ul li.no{
	width:40px;	
}
#sectionContenWrapper #sectionContent #list_detail ul li.category{
	width:80px;	
}
#sectionContenWrapper #sectionContent #list_detail ul li.item{
	width:60px;	
}
#sectionContenWrapper #sectionContent #list_detail ul li.trade_no{
	width:60px;	
	
}
#sectionContenWrapper #sectionContent #list_detail ul li.trade_category{
	width:85px;	
}
#sectionContenWrapper #sectionContent #list_detail ul li.trade_topic{
	width:330px;	
}
#sectionContenWrapper #sectionContent #list_detail ul li.trade_writen{
	width:105px;	
}
#sectionContenWrapper #sectionContent #list_detail ul li.trade_register{
	width:125px;	
}
#sectionContenWrapper #sectionContent #list_detail ul li.maker{
	width:120px;	
}

#sectionContenWrapper #sectionContent #list_detail ul li.model{
	width:115px;	
}
#sectionContenWrapper #sectionContent #list_detail ul li.topic{
	width:125px;	
}
#sectionContenWrapper #sectionContent #list_detail ul li.writen{
	width:75px;	
}
#sectionContenWrapper #sectionContent #list_detail ul li.date{
	width:90px;	
}
#sectionContenWrapper #sectionContent #list_detail ul li.blue_color{
	background:#b2d0e8;	
	font-weight:bold;
}
#sectionContenWrapper #sectionContent #list_detail .bg_color{
	background:#f2f2f2;	
}
#sectionContenWrapper #sectionContent #pagination{
	width:705px;
	height:auto;
	margin-top:50px;	
}
#sectionContenWrapper #sectionContent #pagination p{
	text-align:center;	
}
#sectionContenWrapper #sectionContent #register_info{
	width:705px;
	height:auto;
	margin-top:25px;
}
#sectionContenWrapper #sectionContent #register_info #radio_wraper{
	width:705px;
	height:auto;	
}
#sectionContenWrapper #sectionContent #register_info #radio_wraper #category{
	width:80px;
	float:left;	
}
#sectionContenWrapper #sectionContent #register_info #radio_wraper #all{
	width:50px;
	float:left;	
}
#sectionContenWrapper #sectionContent #register_info #radio_wraper #specification{
	width:115px;
	float:left;	
}
#sectionContenWrapper #sectionContent #register_info #radio_wraper #news{
	width:95px;
	float:left;	
}

#sectionContenWrapper #sectionContent #register_info #radio_wraper #photo{
	width:60px;
	float:left;	
}
#sectionContenWrapper #sectionContent #register_info #table_wrap{
	width:705px;
	height:auto;
	margin-top:20px;
}
#sectionContenWrapper #sectionContent #register_info #table_wrap p.title{
	font-size: 18px;
	color: #424242;
}
#sectionContenWrapper #sectionContent #register_info #table_wrap table td{
	vertical-align:middle;	
	height:40px;
}
#sectionContenWrapper #sectionContent #register_info #table_wrap table td.label{
	width:75px;	
	padding-left:5px;
}
#sectionContenWrapper #sectionContent #register_info #table_wrap table td .text_box{
	width:400px;	
	height:30px;
	border:1px solid #ccc;

}
#sectionContenWrapper #sectionContent #register_info #text_editor{
	width:705px;
	height:auto;
	margin-top:20px;	
}
#sectionContenWrapper #sectionContent #register_info #text_editor p{
	padding-bottom:20px;	
}
#sectionContenWrapper #sectionContent #register_info #attach{
	width:705px;
	height:auto;
	margin-top:20px;	
}
#sectionContenWrapper #sectionContent #register_info #attach #text{
	width:80px;
	float:left;	
}
#sectionContenWrapper #sectionContent #register_info #attach #text p{
	font-size:12px;
	color:#424242;	
	padding-top:10px;
}
#sectionContenWrapper #sectionContent #register_info #attach .text_box{
	width:300px;
	height:30px;
	border:1px solid #ccc;
	float:left;	
}
#sectionContenWrapper #sectionContent #register_info #attach .browse{
	width:60px;
	height:20px;
	margin:5px 0px 0px 10px;	
	background:url(../../images/community/brow.png) no-repeat;
	border:none;
}


#sectionContenWrapper #sectionContent #register_info #attach .file_upload{
	width:370px;
	height:30px;
	float:left;
	border:1px solid #ccc;	
	padding:5px 0px 0px 5px;
	margin-bottom:10px;
}
#sectionContenWrapper #sectionContent #register_info #attach  #file_tools .button{
	padding:10px 0px 0px 10px;	
}
#sectionContenWrapper #sectionContent #register_info #attach .delete{
	width:60px;
	height:20px;
	margin:5px 0px 0px 10px;	
	background:url(../../images/community/delete.png) no-repeat;
	border:none;
}
#sectionContenWrapper #sectionContent #register_info #button_wrap{
	width:210px;
	height:30px;
	margin:40px auto 0 auto;	
}
#sectionContenWrapper #sectionContent #register_info #button_wrap .upload{
	float:left;
	width:100px;
	height:30px;	
	background:url(../../images/community/upload.png) no-repeat;
	border:none;
	cursor:pointer;
}
#sectionContenWrapper #sectionContent #register_info #button_wrap #back{
	float:right;
	width:100px;
	height:30px;	
}
#sectionContenWrapper #sectionContent #register_info #button_wrap #update{
	float:left;
	width:100px;
	height:30px;	
}

/*///// deal of the week//////*/
#sectionContenWrapper #sectionContent #deal_week{
	width:705px;
	height:auto;
	margin-top:25px;	
}

#sectionContenWrapper #sectionContent #deal_week #textbox_wrap{
	width:750px;
	height:30px;
}
#sectionContenWrapper #sectionContent #deal_week #textbox_wrap .topic{
	width:178px;
	height:28px;
	border:1px solid #ccc;	
	float:left;
}

#sectionContenWrapper #sectionContent #deal_week #textbox_wrap .search{
	width:405px;
	height:28px;
	border:1px solid #ccc;	
	border-right:none;
	float:left;
	margin-left:20px;
}
#sectionContenWrapper #sectionContent #deal_week #textbox_wrap #btn_search{
	float:left;
	width:100px;
	height:30px;	
}
#sectionContenWrapper #sectionContent #deal_week #textbox_wrap #btn_search .deal_search{
	width: 100px;
	height: 30px;
	background:  url(../../images/community/search.png) no-repeat;
	border: none;
	cursor: pointer;
}
#sectionContenWrapper #sectionContent #deal_week .deal_detail{
	width:705px;
	height:auto;
	
}

#sectionContenWrapper #sectionContent #deal_week .deal_detail .other_child{
	width:125px;
	height:auto;
	float:left;	
	margin:30px 20px 0px 0px;
}
#sectionContenWrapper #sectionContent #deal_week .deal_detail .first_child{
	width:125px;
	height:auto;
	float:left;	
	margin:30px 0px 0px 0px;
}
#sectionContenWrapper #sectionContent #deal_week .deal_detail  .car_img{
	width:175px;
	height:70px;	
}
#sectionContenWrapper #sectionContent #deal_week .deal_detail p.title{
	font-weight:bold;	
}
#sectionContenWrapper #sectionContent #deal_week .deal_detail  p{
	font-size:12px;
	color:#424242;
	text-align:center;	
}
#sectionContenWrapper #sectionContent #deal_week .deal_detail  p a{
	color:#0064B3;
}
/*//// register deal of the week ////*/
#sectionContenWrapper #sectionContent #deal_register{
	width:705px;
	height:auto;
	margin-top:30px;	
}
#sectionContenWrapper #sectionContent #deal_register #title{
	width:75px;
	height:30px;
	float:left;	
}
#sectionContenWrapper #sectionContent #deal_register #radio_wrap{
	width:705px;
	height:auto;
	margin-top:20px;	
}
#sectionContenWrapper #sectionContent #deal_register #title p{
	font-size:12px;
	color:#424242;
	padding-top:8px;
}
.form_container{
	margin-top:30px;
}
#sectionContenWrapper #sectionContent #deal_register .text_box, .form_container .text_box{
	width:500px;
	height:28px;
	float:left;	
	border:1px solid #ccc;
	 border-radius: 0;
}
#sectionContenWrapper #sectionContent #deal_register #message{
	width:705px;
	height:auto;
	float:left;
	margin-top:20px;	
}
#sectionContenWrapper #sectionContent #deal_register #message p{
	text-align:left;
	font-size:12px;
	color:#424242;	
}
#sectionContenWrapper #sectionContent #deal_register #text_editor{
	width:705px;
	height:auto;
	margin-top:20px;
	float:left;	
}
#sectionContenWrapper #sectionContent #deal_register #attach{
	width:705px;
	height:auto;
	float:left;
	margin-top:20px;	
}
#sectionContenWrapper  .file_upload{
	width:370px;
	height:30px;
	float:left;
	border:1px solid #ccc;	
	padding:5px 0px 0px 5px;
	margin-bottom:10px;
}
#sectionContenWrapper #sectionContent #deal_register #attach  #file_tools .button{
	padding:10px 0px 0px 10px;	
	cursor:pointer;
}
#sectionContenWrapper #sectionContent #deal_register #button_wrap{
	width:210px;
	height:30px;
	margin:40px auto 0 auto;	
}
#sectionContenWrapper #sectionContent #deal_register #button_wrap .upload{
	float:left;
	width:100px;
	height:30px;	
	background:url(../../images/community/upload.png) no-repeat;
	border:none;
	cursor:pointer;
}
#sectionContenWrapper #sectionContent #deal_register #button_wrap #back{
	float:right;
	width:100px;
	height:30px;	
}
/*/////// community view/////*/

#sectionContenWrapper #sectionContent #community_view{
	width:705px;
	height:auto;
	margin-top:20px;	
}
#sectionContenWrapper #sectionContent #community_view #logo{
	width:41px;
	height:40px;
	float:left;
}
#sectionContenWrapper #sectionContent #community_view #detail{
	width:600px;
	height:auto;
	margin-left:20px;
	float:left;	
}
#sectionContenWrapper #sectionContent #community_view #detail p.title{
	font-size:18px;
	color:#424242;
}
#sectionContenWrapper #sectionContent #community_view #detail p{
	font-size:10px;
	color:#999;	
}
#sectionContenWrapper #sectionContent #community_view #detail p span.writer{
	color:#FB5B1C;
	padding-right:10px;
}
#sectionContenWrapper #sectionContent #community_view #detail p span{
	padding-left:10px;	
}
#sectionContenWrapper #sectionContent #community_view #img_wrap{
	width:705px;
	height:auto;
	margin-top:30px;	
}
#sectionContenWrapper #sectionContent #community_view #img_wrap #left_item{
	width:335px;
	height:250px;
	float:left;	
}
#sectionContenWrapper #sectionContent #community_view #img_wrap #right_item{
	width:335px;
	height:250px;
	float:right;	
}
#sectionContenWrapper #sectionContent #community_view #text_wrap{
	width:705px;
	height:auto;
	margin-top:30px;	
}
#sectionContenWrapper #sectionContent #community_view #text_wrap p{
	font-size:12px;
	color:#424242;
	line-height:24px;	
}
#sectionContenWrapper #sectionContent #button_wrap{
	width:210px;
	height:20px;
	margin:40px auto 0 auto;	
}
#sectionContenWrapper #sectionContent #button_wrap .write{
	width:100px;
	height:20px;
	float:left;
	background:url(../../images/community/write.png) no-repeat;
	cursor:pointer;	
	border:none;
}
#sectionContenWrapper #sectionContent #button_wrap .update_deal{
	width:100px;
	height:20px;
	float:left;
	background:url(../../images/community/udpate_article.png) no-repeat;
	cursor:pointer;	
	border:none;
}
#sectionContenWrapper #sectionContent #button_wrap #write_article{
	width:100px;
	height:20px;
	float:left;	
}
#sectionContenWrapper #sectionContent #button_wrap #back{
	width:100px;
	height:20px;
	float:right;	
}
/* community-news */
#sectionContenWrapper #sectionContent #news_content{
	width:705px;
	height:auto;
	margin-top:30px;	
}
#sectionContenWrapper #sectionContent #news_content ul{
	list-style:none;
}
#sectionContenWrapper #sectionContent #news_content ul li{
	height:25px;
	border-bottom:1px dotted #ccc;	
	padding-top:10px;
}
#sectionContenWrapper #sectionContent #news_content ul li .number{

	padding:3px 10px 3px 10px;
	border-radius:5px;
	background:#FB5B1C;
	color:#fff;	
	float:left;
	font-size:10px;
	text-align:center;
	margin-right:10px;
}
#sectionContenWrapper #sectionContent #news_content ul li p{
	float:right;
	color:#0064B3;
	font-size:12px;	
}
#sectionContenWrapper #title_text{
	float: left;
	width: 75px;
	height: 30px;
}
#sectionContenWrapper #title_text p{
	padding-top: 8px;
	color: #424242;
}
#sectionContenWrapper .title_textbox{
	width: 500px;
	height: 28px;
	float: left;
	border: 1px solid #ccc;
	border-radius: 0;	
}