#wrapper-buyer{
	width: 1170px;
	height:auto;
	margin:30px auto 100px;

}
#wrapper-buyer #search-buyer{
	width:1170px;
	height:50px;
	background-color:#f2f4f5;
	border-bottom:2px solid #b8c9d6;
}

#wrapper-buyer #search-buyer table .find-buyer{
  color:#4194ca;
  font-size:14px;
  font-weight:bold;
  padding-top:9px;
  padding-left:20px;
}
#wrapper-buyer #search-buyer table .txt-search{
	margin-top:6px;
	margin-left:14px;
	width:870px;
	height:30px;
	padding:0 15px;
}
#wrapper-buyer #search-buyer table .btn-search{	
	width:120px;
	height:30px;
	background-image:url("../../images/buyer-list/search.png");
	background-repeat:no-repeat;
	border:none;
	margin: 6px 0 0 10px;
	display: block;
}

#wrapper-buyer #container-items{
	width:1170px;
	height:auto;
	background-color:#f9f9f9;
	margin-top:10px;
}
#wrapper-buyer #container-items ul {
	margin-left: -10px;
}
#wrapper-buyer #container-items ul li {
	margin-left: 10px;
	float: left;
}
#wrapper-buyer #container-items ul li .dealer-block{
	width:226px;
	min-height:270px;
	height:auto;
	border:1px solid #cecece;
	background-color:#ffffff;
	margin-bottom:13px;
	margin-top:20px;
}
#wrapper-buyer #container-items .block-left{
  float:left;
  width:112px;
  height:70px;
  border-top:1px dashed #cccccc;
  border-bottom:1px dashed #cccccc;
  border-right:1px dashed #cccccc;
  margin-top:10px;
}
#wrapper-buyer #container-items .block-left .make{
  color:#999999;
  font-size:12px;
  padding-left:7px;
  padding-top:5px;
}
#wrapper-buyer #container-items .block-left .year{
  color:#999999;
  font-size:12px;
  padding-left:7px;
   padding-top:3px;
}
#wrapper-buyer #container-items .block-left .model{
  color:#999999;
  font-size:12px;
  padding-left:7px;
  padding-top:3px;
}
#wrapper-buyer #container-items .block-left .color{
  color:#999999;
  font-size:12px;
  padding-left:9px;
  padding-top:5px;
}
#wrapper-buyer #container-items .block-left .condition{
  color:#999999;
  font-size:12px;
  padding-left:9px;
  padding-top:3px;
}

#wrapper-buyer #container-items .block-left .price{
  color:#999999;
  font-size:12px;
  padding-left:9px;
  padding-top:3px;
}
#wrapper-buyer #container-items .block-left .price .colo{
  color:red;
  font-weight:bold;
}
#wrapper-buyer #container-items  .description{
  font-size:12px;
  padding:15px;
  clear:left;
}


#wrapper-buyer #container-items .block-right{
   border-right:none;
}

#wrapper-buyer #container-items .buyer-name{
   color:#0071ba; 
   font-size:14px;
   padding-left:10px;
   padding-top:8px;
}

#wrapper-buyer #container-items ul li .dealer-margin{
	margin-left:13px;
}

#wrapper-buyer #container-items ul li .dealer-block img{
  float:left;
  margin:15px;
}
#wrapper-buyer #container-items ul li .dealer-block a p{
   color:#4497cc;
   font-weight:bold;
   padding-top:14px;
}
#wrapper-buyer #container-items ul li .line{
   border-bottom:1px solid #0071ba;
   width:204px;
   float:left;
   margin-left:10px;
}
#wrapper-buyer #container-items ul li  .gender{
  color:#999999;
  font-size:12px;
  padding-top:10px;
  padding-left:7px;
  padding-bottom:5px;
}
#wrapper-buyer #container-items ul li .tel{
  color:#999999;
  font-size:12px;
  padding-left:7px;
}
#wrapper-buyer #container-items ul li .email{
  color:#999999;
  font-size:12px;
  padding-top:2px;
  padding-left:7px;
}

#wrapper-buyer #container-items ul li .p{
  margin-top:4px;
}







#wrapper-buyer  #pagegination{
  height: 45px;
  background: #f2f4f5;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #b6c8d5;
  clear:both;
}
#wrapper-buyer  #pagegination  .total-record{
  font-size:12px;
  font-weight:bold;
  padding-left:20px;
  float:left;
}
#wrapper-buyer  #pagegination .record{
  font-size:12px;
  font-weight:bold;
  color:#dd0000;
  position:relative;
  left:10px;
  float:left;
}
#wrapper-buyer  #pagegination .label-record{
  font-size:12px;
  font-weight:bold;
  position:relative;
  left:20px;
}

div.pagination {
	width: auto;
	height: auto;
	margin: -34px 20px 0 0;
	float: right;
	
	position: relative;
	z-index: 99;
}
