.blue{border:1px solid #ddd;}
.blue .divider{display:none}
.blue .ddArrow{width:27px;height:27px; margin-top:-10px; background:url(../images/dd_arrow.gif) no-repeat;}
.blue .ddTitle{color:#fff;background:#10bbe6 url(../../images/msdropdown/skin2/title-bg.gif) repeat-x left top;}
.blue .ddTitle .ddTitleText{padding:10px 20px 10px 5px; font-weight:bold; font-size:16px;}
.blue .ddTitle .ddTitleText .ddTitleText{padding:0;}
.blue .ddTitle .description{font-size:12px; color:#666}
.blue .ddTitle .ddTitleText img{padding-right:5px;}
.blue .ddChild{border:1px solid #c3c3c3; background-color:#fff; left:-1px;}
.blue .ddChild li{padding:5px; background-color:#fff; border-bottom:1px solid #c3c3c3;}
.blue .ddChild li .description{color:#666;}
.blue .ddChild li .ddlabel{color:#333;}
.blue .ddChild li.hover{background-color:#66CCFF;}
.blue .ddChild li img{padding:0 6px 0 0;}
.blue .ddChild li.optgroup{padding:0;}
.blue .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.blue .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.blue .ddChild li.selected{background-color:#0d97ba;}
.blue .ddChild li.selected .ddlabel{color:#fff;}
