 	/*css for sideBar*/
#sectionWrapper #sectionContenWrapper{
	width:100%;
	height:auto;
	margin: 0 auto;
}
#sectionWrapper #sectionContenWrapper #main_bg{
	width:100%;
	height: auto;
	margin-top:-7px;		
	background-color: #479eba;
	
}
#sectionWrapper #sectionContenWrapper #main_bg #main_content{
	width: 100%;
	height: auto;
	position: relative; 
	margin: 0 auto;

}
#sectionWrapper #sectionContenWrapper #main_bg #main_content img{
	max-width: 100%;
	height: auto;
	width: 100%;
	margin:auto;
	display: block;

}
#sectionWrapper #sectionContenWrapper #main_bg #main_content #search{
	width: 25%;
	height: auto;
	position: absolute;	
	z-index: 90;
	top:45%;
	left:38%;
}
#sectionWrapper #sectionContenWrapper #main_bg #main_content #search .search_vehicle{
	width: 100%;
	
	background:url(../../images/home_new/mobile_search.png) no-repeat;
	border: none;
	cursor: pointer;
}
#sectionWrapper #sectionContenWrapper #main_bg #main_content #search_box{
	width: 230px;
	height: 317px;
	position: absolute;
	right: 0px;
	margin-top: 17px;
	background: #fff;
	border-radius: 5px;
}
#sectionWrapper #sectionContenWrapper #main_bg #main_content #search_box p.title{
	font-size: 14px;
	font-weight: bold;
	color: #0064b1;
	margin: 25px 10px 0px 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cacaca;
}
#sectionWrapper #sectionContenWrapper #main_bg #main_content #search_box .user_name{
	width: 210px;
	height: 30px;
	border: 1px solid #cacaca;
	border-radius: 5px;
	background:url(../../images/home_new/user_bg.png) no-repeat center right 10px;
	margin: 15px 0px 0px 10px;
	text-indent: 10px;
}
#sectionWrapper #sectionContenWrapper #main_bg #main_content #search_box #submit{
	width: 210px;
	height: auto;
	margin: 15px 0px 0px 10px;
}
#sectionWrapper #sectionContenWrapper #main_bg #main_content #search_box #submit #remember_me{
	float: left;
}
#sectionWrapper #sectionContenWrapper #main_bg #main_content #search_box #submit #sign_in{
	float: right;
	width: 80px;
	height: 26px;
}
#sectionWrapper #sectionContenWrapper #main_bg #main_content #search_box #submit #sign_in .sign_in{
	width: 80px;
	height: 26px;
	border: none;
	background:url(../../images/home_new/sign_in.png) no-repeat;
	cursor: pointer;

}
#sectionWrapper #sectionContenWrapper #main_bg #main_content #search_box #forgot_pass{
	width: 210px;
	height: auto;
	margin: 70px 0px 0px 10px;
}
#sectionWrapper #sectionContenWrapper #main_bg #main_content #search_box #forgot_pass p{
	font-size: 12px;
	color: #424242;
}
#sectionWrapper #sectionContenWrapper #main_bg #main_content #search_box #forgot_pass p a{
	color: #424242;
}
#sectionWrapper #sectionContenWrapper #main_bg #main_content #search_box .password{
	width: 210px;
	height: 30px;
	border: 1px solid #cacaca;
	border-radius: 5px;
	background:url(../../images/home_new/pass_bg.png) no-repeat center right 10px;
	margin: 15px 0px 0px 10px;
	text-indent: 10px;

}
#sectionWrapper #sectionContenWrapper #main_bg #main_content #search_box table{
	margin:10px 0px 0px 10px;
}
#sectionWrapper #sectionContenWrapper #main_bg #main_content #search_box table td{
	height: 30px;
	width: 105px;
	vertical-align: top;
}
#sectionWrapper #sectionContenWrapper #main_bg #main_content #search_box table td span{
	color: #bf272d;
}
#sectionWrapper #sectionContenWrapper #main_bg #main_content #search_box table td span.equal{
	color: #000;
	float: right;
	margin-right: 5px;
}
#sectionWrapper #sectionContenWrapper #sectionContent{
	width:100%;
	height:auto;
	margin: 0 auto;
}
#sectionWrapper #sectionContenWrapper #sectionContent #sectionSidebar{
	width:230px;
	height:auto;
	float:right;
	margin-top: 40px;
}
#sectionWrapper #sectionContenWrapper #sectionContent #sectionContent1{
	width:100%;
	height:auto;
	
	margin: 40px auto;
}

#topSidebar{
	width:230px;
	height:auto;	
}
#topSidebar ul{
	list-style:none;	
}
#topSidebar ul li{
	width:228px;
	height:58px;
	font-size:16px;
	font-weight:bold;
}
#topSidebar ul li a{
	color:#424242;
	font-size:14px;
	padding:20px 0px 20px 70px;
	display:block;
	}
#topSidebar ul li.sidebarCar{	
	background:url(../../images/home/car_sidebar.png) 10px center no-repeat;
	border:1px solid #ccc;
}
#topSidebar ul li.sidebarTruck{
	background:url(../../images/home/truck_sidebar.png) 10px center no-repeat;
	border:1px solid #ccc;
	border-top:none;
}
#topSidebar ul li.sidebarBus{
	background:url(../../images/home/bus_sidebar.png) 10px center no-repeat;
	border:1px solid #ccc;
	border-top:none;
}
#topSidebar ul li.sidebarTrucktor{
	background:url(../../images/home/equpiment.png) 10px center no-repeat;
	border:1px solid #ccc;
	border-top:none;
}
#topSidebar ul li.sidebarAcessory{
	background:url(../../images/home/top.png) 18px center no-repeat;
	border:1px solid #ccc;
	border-top:none;
}
#topSidebar ul li span{
	float:right;
	margin:2px 5px 0px 0px;
}
#itemsFrom{
	width:230px;
	height:180px;	
	border: 1px solid #ccc;
}
#itemsFrom img{
	float:right;	
}
#itemsFrom p{
	font-size:16px;
	color:#282f7d;
	font-weight:bold;
	padding:10px 0px 0px 7px;	
}
#fromCountry{
	width: 230px;
	height: auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 0px 20px 0px;
}
#fromCountry p{
	background:url(../../images/home_new/orange_bg.png) no-repeat center left;
	padding-left: 10px;
	font-size: 21px;
	font-weight: bold;
	color: #0064b1;
	background:#2f61bb;
}
#fromCountry ul{
	list-style:none;	
	margin-top: 10px;
}
#fromCountry ul li{
	width:185px;
	height:25px;
	border-bottom:1px dotted #ccc;	
	padding: 5px 0px 0px 15px;
	margin-left: 15px;
	background:url(../../images/home_new/blue_dot.png) center left no-repeat;
	font-size:14px;

}
#fromCountry ul li a{
	color:#424242;	
}

#fromCountry ul li a span{
	color:#c1272d;	
}

/*#fromCountry ul li#korea{
	background:url(../../images/home_new/blue_dot.png) 10px 10px no-repeat;
	font-size:14px;
	color:#424242;	

}
#fromCountry ul li#japan{
	background:url(../../images/home/jp.png) 10px 10px no-repeat;
	font-size:14px;
	color:#424242;	
}
#fromCountry ul li#russia{
	background:url(../../images/home/russia.png) 10px 10px no-repeat;
	font-size:14px;
	color:#424242;	
}
#fromCountry ul li#usa{
	background:url(../../images/home/usa.png) 10px 10px no-repeat;
	font-size:14px;
	color:#424242;	
}
#fromCountry ul li#vn{
	background:url(../../images/home/vn.png) 10px 10px no-repeat;
	font-size:14px;
	color:#424242;	
}
#fromCountry ul li#uae{
	background:url(../../images/home/uae.png) 10px 10px no-repeat;
	font-size:14px;
	color:#424242;	
}
#fromCountry ul li#china{
	background:url(../../images/home/china.png) 10px 10px no-repeat;
	font-size:14px;
	color:#424242;	
}
#fromCountry ul li#belguim{
	background:url(../../images/home/belguim.png) 10px 10px no-repeat;
	font-size:14px;
	color:#424242;
}*/
#weeklyCarTitle{
	width:230px;
	height:30px;
	margin-top:25px;
	background:url(../../images/home/weeklycarTitle.png) no-repeat;	
}

#weeklyCarTitle img{
	float:right;	
}
#weeklyCar{
	width:230px;	
	height:auto;
	margin-top: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding:8px 0px 20px 0px;
	background-color:#fff;
}
#weeklyCar p.title{
	background:url(../../images/home_new/orange_bg.png) no-repeat center left;
	font-size:21px;
	color:#0064b1;	
	font-weight: bold;
	padding-left: 10px;

}
#weeklyCar .carDetail{
	width:211px;
	height:auto;	
	margin-top:25px;
	background-color: #fff;
	padding:0px 0px 30px 10px;
}
#weeklyCar .carDetail img{
	width: 210px;
	height: 155px;
}
#weeklyCar .carDetail p{
	margin-top:15px;	
	text-align:center;
	color:#000088;
	font-size:12px;	
	
}
#weeklyCar .carDetail p a{
	color: #0064b3;
}
#weeklyCar p a{
	color:#000088;
	font-size:12px;
}
#maiBox{
	width:230px;
	height:90px;
	margin-top:25px;

}
#maiBox img{
	float:right;	
}
#newsTitle{
	width:230px;
	height:170px;
	margin-top:25px;		
	background:url(../../images/home/newsTitle.png) no-repeat;
}
#newsTitle img{
	float:right;	
}
#newsTitleBox{
	padding-bottom: 20px;
	margin-top: 20px;
	width:230px;
	height:auto;
	border: 1px solid #ccc;
	border-radius: 5px;	
}
#newsTitleBox p.title{
	background:url(../../images/home_new/orange_bg.png) no-repeat center left;
	font-size:21px;
	color:#0064b1;	
	font-weight: bold;
	padding-left: 10px;

}
#newsTitleBox p{
	margin-top: 10px;
	font-size:11px;
	color:#424242;	
	padding-left: 20px;
}
#newsTitleBox p.top{
	font-size:11px;
	color:#424242;	
	margin-top:10px;
}
#newsTitleBox p span a{
	color:#0064b3;
	text-decoration:underline;
}


/*/////////////////////
///////////////////////
/*css for mainContent*/
#category{
	width: 100%;
	height: auto;
}
#category p.title{
	background:url(../../images/logout-icon/title-bg.png) repeat-x;
	//background-color: #585CFC;
	font-size:21px;
	color:#FFFFFF;	
	font-weight: bold;
	padding: 7px 0px 7px 10px;
}
#category p.title-buttom{
	background:url(../../images/logout-icon/title-bg.png) repeat-x;
	//background-color: #585CFC;
	font-size:21px;
	color:#FFFFFF;	
	font-weight: bold;
	margin-top:23px;
	padding: 7px 0px 7px 10px;
}
#category ul{
	list-style: none;
	margin: 0 auto;
}
#category ul li.first{
	
}
#category ul li.last{
	
}
#category ul li.a{
	float: left;
	width: 30%;
	height: auto;
	text-align: center;
	margin-top: 30px;
	margin-left: 3%;
}
#category ul li.flag{
	float: left;
	width: 100%;
	top:0;
	border-bottom:1px dotted #CCC;
	height: auto;
	text-align: center;
	}
.flag{
	width:100%;
	}
#flag-wrapper{
	width: 100%;
	padding-top:30px;
	}
#flag-wrapper #image-flag{
	width:15%;
	//border:1px solid;
	float:left;
	padding-left:5%;
	}
#image-flag-right{
	padding:5px 0 0 8px;
	width:40%;
	//border:1px solid;
	float:left;
	}
#category ul li p{
	font-size:20px;
	color:#333;
	font-weight:600;
	}
#category ul li span{
	color:#1a72b7;
	padding-right:5px;
	}
#category ul li a{
	color: #424242;
	text-align: center;
}
#category table{
	width: 705px;
}
#category table td.first{
	padding-left: 18px;
}
#category table td.last{
	padding-right: 17px;
}
#category table td{
	width: 110px;
	text-align: center;
	padding:30px 0px 0px 80px;
}
#category table td p{
	color: #424242;
	font-size: 18px;
	text-align: center;
}
#category table td a{
	color: #29a9e0;
	font-size: 14px;
	text-align: center;
}

#buyer_inquiry{
	width: 705px;
	height: 35px;
	margin-top: 55px;	
}
#buyer_inquiry p.title{
	background:url(../../images/home_new/orange_bg.png) no-repeat center left;
	background-color: #f0f0f0;
	font-size:21px;
	color:#0064b1;	
	font-weight: bold;
	padding: 5px 0px 5px 10px;
}

#banner{
	width:705px;
	height:300px;	
}
#nav li a { 
	width:13px; 
	height:12px;
	float:left;
	margin-right:5px;
	background:url(../../images/home/dot.png) no-repeat;
	text-indent:-20px;
}
#nav li.activeSlide a { 
	background:url(../../images/home/dot_over.png) no-repeat;
}
#nav li a:focus { 
	outline: none; 
}
#btnSlideWraper{
	width:705px;
	height:12px;
	padding-bottom: 20px;
	margin-top:15px;	
}
#btnSlideWraper #btnSlide{
	width:90px;
	margin:0 auto;	

}
#btnSlideWraper #btnSlide ul{
	list-style:none;
}
#btnSlideWraper #btnSlide ul li{
	width:13px; 
	height:12px;
	float:left;
	margin-right:5px;
}
#carOffer{
	width:703px;
	height:auto;
	border-bottom:1px solid #cacaca;
	border-left:1px solid #cacaca;
	border-right:1px solid #cacaca;	
}
#carOffer #carDetail{
	width:703px;
	height:auto;
	margin-top:15px;	
	background:#fff;
}
#carOffer #carDetail #showCar{
	width:156px;
	height:185px;
	float:left;
	margin-left:15px;	
}
#showCar .carImg{
	width:157px;
	height:89px;
}
#showCar .carName{
	width:156px;
	height:33px;
	margin-top:15px;

}
#showCar .carName p{
	font-size:12px;
	color:#000088;	
	text-align:center;
	
}
#showCar .carPrice{
	width:156px;
	height:25px;
	margin-top:10px;	
}
#showCar .carPrice p{	
	font-size:12px;
	color:#c1272d;	
	text-align:center;
}
#showCar .carPrice p span{
	color:#000;
}
#items{
	width:705px;
	height:auto;
	margin-top:25px;	
}
#items p.center{
	color:#000088;	
	font-size:14px;
	text-align:center;
	margin-top:14px;
	font-weight:bold;
}
#items #directory{
	width:233px;
	height:42px;	
	border:1px solid #cacaca;
	float:left;
	background:#E6E6E6;
}
#items #directoryDetial{
	width:233px;
	height:259px;	
	border-left:1px solid #cacaca;
	border-right:1px solid #cacaca;
	border-bottom:1px solid #cacaca;
	float:left;
}
#items #directoryDetial p.car{
	width:186px;
	background:url(../../images/home/logocar.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:38px;
	margin:10px 0px 0px 10px;;
}
#items #directoryDetial p.truck{
	width:186px;
	background:url(../../images/home/logotruck.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:38px;
	margin:10px 0px 0px 10px;;
}
#items #directoryDetial p.bus{
	width:186px;
	background:url(../../images/home/logobus.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:38px;
	margin:10px 0px 0px 10px;;
}
#items #directoryDetial p.trucktor{
	width:186px;
	background:url(../../images/home/logotrucktor.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:38px;
	margin:10px 0px 0px 10px;;
}
#items #directoryDetial p.door{
	width:186px;
	background:url(../../images/home/logodoor.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:38px;
	margin:10px 0px 0px 10px;;
}
#items #directoryDetial p.wheel{
	width:186px;
	background:url(../../images/home/logowheel.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:38px;
	margin:10px 0px 0px 10px;;
}
#items #directoryDetial p.acessory{
	width:186px;
	background:url(../../images/home/logoacess.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:38px;
	margin:10px 0px 0px 10px;;
}
#items #directoryDetial p a{
	color:#424242;
	}
#items #newestAutoTradeDetial p a{
	color:#424242;	
}
#items #newestAutoTradeDetial p span{
	color:#c1272d;	
}
#items #newestAutoTradeDetial p#korea{
	width:186px;
	background:url(../../images/home/korea.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:25px;
	margin:10px 0px 0px 10px;;
}
#items #newestAutoTradeDetial p#japan{
	width:186px;
	background:url(../../images/home/jp.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:25px;
	margin:10px 0px 0px 10px;;
}
#items #newestAutoTradeDetial p#russia{
	width:186px;
	background:url(../../images/home/russia.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:25px;
	margin:10px 0px 0px 10px;;
}
#items #newestAutoTradeDetial p#usa{
	width:186px;
	background:url(../../images/home/usa.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:25px;
	margin:10px 0px 0px 10px;;
}
#items #newestAutoTradeDetial p#vn{
	width:186px;
	background:url(../../images/home/vn.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:25px;
	margin:10px 0px 0px 10px;;
}
#items #newestAutoTradeDetial p#uae{
	width:186px;
	background:url(../../images/home/uae.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:25px;
	margin:10px 0px 0px 10px;;
}
#items #newestAutoTradeDetial p#china{
	width:186px;
	background:url(../../images/home/china.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:25px;
	margin:10px 0px 0px 10px;;
}
#items #newestAutoTradeDetial p#belguim{
	width:186px;
	background:url(../../images/home/belguim.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:25px;
	margin:10px 0px 0px 10px;;
}
#items #newestAutoTrade{
	width:234px;	
	height:42px;	
	border:1px solid #cacaca;
	border-left:none;
	float:left;
	background:#E6E6E6;
}
#items #newestAutoTradeDetial{
	width:234px;	
	height:259px;	
	border-right:1px solid #cacaca;
	border-bottom:1px solid #cacaca;;
	float:left;

}
#advertise{
	width:705px;
	height:80px;
	margin-top:25px;	
}

#itemsTab{
	width:705px;
	height:auto;	
	margin-top: 75px;
}
#itemsTab #buyerInquiry{
	width:248px;	
	height:25px;
	float:left;
	border-bottom:1px solid #e6e6e6;	
	padding-bottom: 10px;
}
#buyerInquiry p.title{
	background:url(../../images/home_new/orange_bg.png) no-repeat center left;
	
	font-size:21px;
	color:#0064b1;	
	font-weight: bold;
	padding: 3px 0px 5px 10px;
}
#itemsTab #tabs{
	width:705px;
	height:auto;	
	float:left;
	margin-top: 10px;
}
#itemsTab #tabs ul{
	list-style:none;		
	float: left;
	margin-top: 10px;
}
#itemsTab #tabs ul li.allTab{
	margin-left:-1px;	
}
#itemsTab #tabs ul li{
	float:left;
	margin-left:1px;
	margin-top:3px;
	border-top:1px solid #e6e6e6;
	border-left:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	background:#f2f2f2;
	height:22px;

}
#itemsTab #tabs ul li.all{
	margin-left:-1px;	
}
#itemsTab #tabs ul li a{
	padding:4px 9px 0px 8px;	
	font-size: 12px;
	color:#424242;
	display:block;
	font-weight: bold;
}

#itemsTab #tabs .current{
	border-left:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	height:22px;
	position:relative;
	background:#fff;
	top:-4px;
	padding-top:4px;
}
#itemsTab #tabs .current:before{
	content:".";
	display:block;
	color:transparent;
	font-size:0;
	border-top:2px solid #0064b3;
	position:absolute;
	left:-1px;
	right:-1px;
	top:-2px;
}

.subTab ul{
	list-style:none;	
}
.subTab ul li{
	padding-top:10px;
	height:25px;
	border-bottom:1px dotted #e6e6e6; 		
}
.subTab ul li span{
	padding-left:20px;	
}
.subTab ul li span a{
	color:#0064b3;	
}

#tab_all{
	width:705px;
	height:auto;	
	display:block;
}
#tab_car{
	width:705px;
	height:auto;	
	display:none;
}
#tab_truck{
	width:705px;
	height:auto;
	display:none;	
}
#tab_bus{
	width:705px;
	height:auto;
	display:none;	
}
#tab_equipment{
	width:705px;
	height:auto;
	display:none;	
}
#tab_auto{
	width:705px;
	height:auto;
	display:none;	
}
#tab_tire{
	width:705px;
	height:auto;
	display:none;	
}
#tab_motor{
	width:705px;
	height:auto;
	display:none;	
}
#tab_aircraft{
	width:705px;
	height:auto;
	display:none;	
}
#tab_ship{
	width:705px;
	height:auto;
	display:none;	
}
#recent_post{
	width: 98%;
	height: auto;
	margin-top: 30px;
	margin-left:1%;
}
#recent_post p.title{
	font-size: 24px;
	color: #2e61bb;
	border-bottom: 2px solid #2e61bb;
	padding-left:1%;
}
#recent_post p.title a{
	text-decoration:none;
	font-size: 20px;
	color: #2e61bb;
	margin-left:20%;}
#carData{
	width:100%;
	height: auto;		
}
#carData #carSourceWraper{
	width:100%;
	height:auto;
	margin-top:15px;
	float:left;
}
#carSourceWraper .listCar{
	width:99%;
	height:auto;
	float:left;
	background:#f9f9f9;
	border:1px solid #ccc;
	padding: 5px 0 5px 3px;
	margin-top: 2%;}

#carSourceWraper .listCarName{
	width:98%;
	height:auto;
	border-bottom:2px solid #0064b3;
	min-height: 40px;
}
#carSourceWraper .listCarName p{
	font-size:11px;
	color:#424242;
	font-weight:bold;
	padding-bottom: 3px;

}
#carSourceWraper .listCarImg{
	width:50%;
	height:auto;
	float: left;
	margin-top: 10px;
}
#carSourceWraper .listCarImg img{
	width: 95%;
	height: auto;
}
#carSourceWraper #carDetailWrap p.price{
	color: #c1272d;
}
#carSourceWraper #carDetailWrap p{
	font-size: 11px;
	color: #666;
	line-height: 16px;
}
#carSourceWraper #carDetailWrap{
	width:45%;
	margin-top:10px}


