#wrapper-buycar{
	width: 1170px;
	height:auto;
	margin:30px auto 100px;
}
#wrapper-buycar h1{
	color: #0071ba;
	padding-bottom: 8px;
	border-bottom: 2px solid #0071ba;
	font-size: 21px;
	padding-top:20px;
}
#wrapper-buycar #form-container-left{
	width:756px;
	height:730px;
	border:1px solid #cfcfcf;
	margin:25px 25px 0 0 ;
	background-color:#f2f4f5;
	float:left;
}
#wrapper-buycar #form-container-left h2{
	width:700px;
	color:#757575;
	padding-bottom:5px;
	border-bottom:1px dashed #757575;
	font-size: 14px;
	padding:35px 20px 10px 0px;
	margin-left:25px;
	font-weight:bold;
}
#wrapper-buycar #form-container-left  table{
	margin-left:35px;
	margin-top:20px;
}
#wrapper-buycar #form-container-left  table tr td{
  padding-bottom:12px;
}
#wrapper-buycar #form-container-left  table  .font-color{
    color:#a7a8a8;
	font-size:14px;
	padding-right:40px;
	
}
#wrapper-buycar #form-container-left  table .text-box{
	height:25px;
	width:250px;
}
#wrapper-buycar #form-container-left  table .drop-down{
	height:25px;
	width:250px;
}
#wrapper-buycar #form-container-left table .type-car-youneed{
	width:700px;
	color:#757575;
	padding-bottom:10px;
	border-bottom:1px dashed #757575;
	font-size: 14px;
	padding:20px 20px 10px 0px;
	margin-left:35px;
	font-weight:bold;
}
#wrapper-buycar #form-container-left  table  .font-color-youneed{
	color:#a7a8a8;
	font-size:14px;
	padding-right:90px;
}
#wrapper-buycar #form-container-left  table textarea{
	width:250px;
	height:80px;
}
#wrapper-buycar #form-container-left  table input[type="submit"]  {
	width: 149px;
	height: 30px;
	border: none;
	background: url("../../images/buy-car/submit.png") no-repeat;
	cursor: pointer;
	color: white;
}
#wrapper-buycar #form-container-left  table input[type="reset"]  {
	width: 149px;
	height: 30px;
	border: none;
	background: url("../../images/buy-car/reset.png") no-repeat;
	cursor: pointer;
	color: white;
	margin-left:10px;
	
}
#wrapper-buycar #container-right{
  float:left;
  width:388px;
  height:502px;
  margin-top:25px;
}