/*css for sideBar vb*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#tab_wrap{

	width: 100%;
	height: auto;;
	margin-top: 20px;
}
#tab_wrap #tab_info{
	
	height: 27px;
	border: 1px solid #ccc;
	margin: 2px 0px 0px 2px;
	float: left;
	cursor: pointer;
	background: #f2f2f2;
 
	cursor: pointer;
 
}
#tab_wrap  #tab_info.current{
	border-top: 2px solid #106eb8;
	background: #fff;
	height: 29px;
	margin-top: 0px;
}
#tab_wrap #tab_info p{
	color: #424242;
	padding:5px 20px 0px 20px;
}

table.fillin-table td select.messenger{
	width: 270px;
	height: 35px;
	float: left;
}
table.fillin-table td input[type="text"].text_box{
	width: 265px;
	height: 35px;
	margin: 5px 0px 0px 10px;
	float: left;
}
.ei_inputwrap{
	width: 100%;
	height: auto;	
	padding-top: 20px;
}
.ei_inputwrap .file_upload{
	width:500px;
	height:28px;
	border:1px solid #ccc;
	float:left;
	margin-right:20px;		
}
.ei_inputwrap #file_tools{
	padding-top:5px;	
	cursor: pointer;
}
.ei_inputwrap #file_tools .button{
	padding: 0px;
}
.ei_note{
	width: 100%;
}
.ei_note p{
	text-align: left;
}
.ei_com{
	width: 100%;
	height: auto;
	
	margin-top: 20px;
}
.ei_com #com_logo{
	width: 198px;
	height: 198px;
	border:1px solid #ccc;
	float: left;;
	margin-top: 15px;
}
.ei_com #text_area{	
	float: right;
	margin-top: 15px;


}
.ei_com #text_area .text_box{
	width: 480px;
	height: 100px;
}
.ei_upload{
	width: 100%;
	height: 30px;
	background:#f2f2f2;
	margin-top: 20px;
}
.ei_upload p{
	padding: 7px 0px 0px 10px;
	font-weight: bold;
}
#ei_uploaddetail{
	width: 100%;
	height: auto;
	border:1px solid #f2f2f2;
	padding:20px;
}
#ei_uploaddetail #text{
	float: left;
}
#ei_uploaddetail #file_detailwrap{
	width: 665px;
	height: auto;
}
#ei_uploaddetail #file_detailwrap p{
	float: left;
}
#ei_uploaddetail #file_detailwrap .file_upload{
	float: right;
	width: 100px;
	height: 30px;
	margin-left: 5px;
}
#ei_uploaddetail #picturewrap_select{
	width: 665px;
	height: auto;
	margin-top: 20px;
}
#ei_uploaddetail #picturewrap_select .pic_select{
	width: 125px;
	height: 125px;
	border: 1px solid #ccc;
	margin: 10px 10px 0px 0px;
	position: relative;
	float: left;

}
#ei_uploaddetail #picturewrap_select .pic_select img{
	position: absolute;
	width: 123px;
	height: 123px;
	z-index: 0;
}
#ei_uploaddetail #picturewrap_select .check_box{
	z-index: 1;
	margin: 10px 0px 0px 10px;
	position: absolute;
}
#ei_uploaddetail #picturewrap_select .pic_selectmode{
	margin-right: 0px;
}

#upload_wrap{
	width: 110px;
	margin: 0 auto;
}
.em_upload{
	width: 110px;
	height: 30px;
	border: none;
	background: url("../../images/myinfo/upload_03.jpg");
	margin: 20px auto 0 auto;
}