#forget-password-wrapper{
	width:100%;
	max-width:1170px;
	height:271px;
	background:#ffffff;
	margin:auto;
	margin-top:20px;
	margin-bottom:300px;
}
#forget-password-wrapper p{
  background:#0071ba;
  font-size:12px;
  color:white;
  padding:10px;
}
#forget-password-wrapper .container-form{
  width:400px;
  height:200px;
  margin:50px 0 40px 40px;
  
}
#forget-password-wrapper .container-form table tr td p{
  font-weight:bold;
  font-size:13px;
  color:#757575;
  background:none;
}
#forget-password-wrapper .container-form table tr td  .input-email{
 width:400px;
 height:29px;
 margin-left:8px;
}
#forget-password-wrapper .container-form table tr td  .radio-space{
 margin-top:12px;
 margin-left:8px;
 font-size:11px;
 font-weight:bold;
}
#forget-password-wrapper .container-form table tr td  input[type="submit"]{
 width: 150px;
 height: 30px;
 border: none;
 background: url("../../img/public_forgot_password/send.png") no-repeat;
 cursor: pointer;
}
#forget-password-wrapper .container-form table tr td  .submit-space{
 margin-top:20px;
 margin-left:10px;
}
#forget-password-wrapper .container-img{
   width:538px;
   height:233px;
   position:absolute;
   top:167px;
   left:720px;
   opacity: 0.3;
   filter: alpha(opacity=30);
}

