#content{
	width:625px;
	height:auto;	
	margin:0 auto;
	padding:40px;
}
#content #title{
	width:625px;
	height:29px;
	margin-top:20px;
	border-bottom:1px solid #ccc;
}
#content #title p{
	background:url(../../images/common/register_item/blue-brick.png) left center no-repeat;
	font-size:16px;
	color:#282f7d;	
	padding-left:20px;
}
#content #table_content{
	margin-top:40px;
	width:625px;
	height:auto;	
}
#content #table_content table td{
	padding-bottom:20px;	
}
#content #table_content table td.label{
	width:160px;
}
#content #table_content table td.form{
	width:465px;
}
#content #table_content table td .text_box{
	width:453px;
	height:28px;
	border:1px solid #ccc;
	padding-left:10px;	
}
#content #table_content table td.label_checkbox{
	vertical-align:top;	
	width:160px;
}
#content #table_content table td .text_area{
	width:453px;
	height:133px;
	border:1px solid #ccc;	
}
#content #table_content table td ul{
	list-style:none;	
	margin:0px;
	padding:0px;
}
#content #table_content table td ul li{	
	width:155px;	
	height:24px;
	float:left;	
	font-size:12px;
	color:#424242;
}
#content #table_content table td .file_upload{
	width:285px;
	height:28px;
	border:1px solid #ccc;
	float:left;
	margin-right:20px;	
}
#content #table_content table td  #file_tools{
	padding-top:5px;	
}
#content #table_content #button_wrap{
	width:210px;
	margin: 40px auto 0 auto;	
}
#content #table_content #button_wrap .upload{
	width:100px;
	height:30px;
	float:left;
	background:url(../../images/common/button/send.png) no-repeat;
	border:none;	
	cursor:pointer;
}
#content #table_content #button_wrap #back{
	float:right;
	width:100px;
	height:30px;	
}
#content #request_wrap{
	width:705px;
	height:200px;	
}
#content #request_pic{
	width:101px;
	height:101px;
	float:left;
	margin:60px 0px 0px 75px;
}
#content #request_text{
	margin:80px 0px 0px 30px;
	float:left;	
}
#content #request_text p{
	font-size:12px;
	color:#424242;
	font-family:Arial, Helvetica, sans-serif;
}
#content #request_text p span{
	font-size:21px;
	color:#0064b3;
}
#content #request_text p span.imp{
	font-size:12px;
	color:#c1272d;	
}
