/*css for sideBar*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#sectionWrapper #sectionContenWrapper{
	width:960px;
	height:auto;
	margin:20px auto 0 auto;
}
#sectionWrapper #topMenu{
	width:960px;	
}
#sectionWrapper #topMenu p{
	color:#0064b2;	
	font-size:12px;
}
#sectionWrapper #topMenu a{
	color:#424242;	
	font-size:12px;
}
#sectionContenWrapper #sectionSidebar{
	width:230px;
	height:auto;
	float:left;
}
#sectionContenWrapper #sectionSidebar #topSideBar{
	width:230px;
	height:auto;
	margin-top:25px;	
}
#sectionContenWrapper #sectionSidebar #topSideBar ul{
	list-style:none;
}
#sectionContenWrapper #sectionSidebar #topSideBar ul li.first_child{
	border-top:1px dotted #ccc;
}
#sectionContenWrapper #sectionSidebar #topSideBar ul li{
	background:url(../../images/common/sidebar/arrow-liststyle.png) 10px center no-repeat;
	padding:12px 0px 0px 30px;
	border-bottom:1px dotted #ccc;
	height:27px;	
}

#sectionContenWrapper #sectionSidebar #topSideBar ul li a{
	font-size:14px;
	color:#424242;
	text-decoration:none;	
}
#sectionContenWrapper #sectionSidebar #contact_info{
	width:230px;
	height:30px;
	background:#0064b3;	
	margin-top:25px;
}
#sectionContenWrapper #sectionSidebar #contact_info p{
	font-size:16px;	
	color:#fff;
	padding:5px 0px 0px 15px;
}
#sectionContenWrapper #sectionSidebar #contact_detail{
	width:208px;
	height:203px;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	padding:10px;
}
#sectionContenWrapper #sectionSidebar #contact_detail p.title{
	font-size:14px;
	color:#000088;	
	padding-top:0px;
}
#sectionContenWrapper #sectionSidebar #contact_detail p{
	font-size:12px;
	color:#424242;	
	padding-top:10px;
	line-height:24px;
}
#sectionContenWrapper #sectionSidebar #contact_detail p span{
	padding-left:70px;
}
#sectionContenWrapper #sectionSidebar #contact_detail p a{
	color:#424242;	
}
/*/////////////////////
///////////////////////
/*css for mainContent*/
#sectionContenWrapper #sectionContent{
	width:705px;
	height:auto;
	float:right;
}
#sectionContenWrapper #sectionContent #help_title{
	width:705px;
	height:44px;
	margin-top:25px;
	border-bottom:4px double #ccc;
	border-top:4px double #ccc;
	background:url(../../images/common/register_item/blue-brick.png) left center no-repeat;
}
#sectionContenWrapper #sectionContent #help_title p{
	color:#282f7d;
	font-size:16px;
	padding:15px 0px 0px 25px;	
}
#sectionContenWrapper #sectionContent .contentText{
	width:705px;
	height:auto;
	margin-top:25px;
}
#sectionContenWrapper #sectionContent .contentText .title{
	font-size:14px;
	font-weight:bold;
	color:#0064B3;
	border-bottom:1px dotted #ccc;	
	height:16px;
	padding-bottom:10px;
}
#sectionContenWrapper #sectionContent .contentText .title p{
	padding-left:10px;
	border-left:3px solid #0064B3;
}


#sectionContenWrapper #sectionContent .contentText .title1{
	font-size:14px;
	font-weight:bold;
	color:#0064B3;
	height:16px;
}

#sectionContenWrapper #sectionContent .contentText .title1 p span{
	width:10px;
	height:10px;
	background:#0064B3;
	float:left;
	margin:4px 10px 0 0;
}
#sectionContenWrapper #sectionContent .contentText p.text{
	padding-top:10px;
	text-align:left;
	line-height:22px;
	color:#424242;
}
#sectionContenWrapper #sectionContent .contentText p.text span{
	color:#0064B3;
}

#sectionContenWrapper #sectionContent .contentText p.blacklistText{
	line-height:22px;
	padding-left:20px;
	background:url(../../images/help/arrow.png) left 4px no-repeat;
	color:#424242;
}
#sectionContenWrapper #sectionContent #blacklistForm{
	width:705px;
	height:auto;
	margin-top:30px;
}
#sectionContenWrapper #sectionContent #blacklistForm table{
	border:0px;
	border-collapse:collapse;
}
#sectionContenWrapper #sectionContent #blacklistForm table td{
	text-align:left;
	vertical-align:central;
	height:50px;
}
#sectionContenWrapper #sectionContent #blacklistForm table td.tdl{
	width:160px;
}
#sectionContenWrapper #sectionContent #blacklistForm table td.tdr{
	width:545px;
}
#sectionContenWrapper #sectionContent #blacklistForm table td.tdA-r{
	text-align:right;
	height:80x;
	vertical-align:bottom;
}
#sectionContenWrapper #sectionContent #blacklistForm table td.tdA-r input[type="submit"]{
	width:110px;
	height:30px;
	background:url(../../images/help/submit.png) no-repeat;
	cursor:pointer;
	text-indent:-200px;
	border:none;
}
#sectionContenWrapper #sectionContent #blacklistForm table td.tdr select{
	width:545px;
	height:30px;
	border:1px solid #cccccc;
	padding:5px;
}
#sectionContenWrapper #sectionContent #blacklistForm table td.tdr input[type="text"]{
	width:543px;
	height:28px;
	border:1px solid #cccccc;
}
#sectionContenWrapper #sectionContent #blacklistForm table td.tdr input[type="text"].searchBox{
	width:444px;
	float:left;
	border-right:0px;
}
#sectionContenWrapper #sectionContent #blacklistForm table td.tdr input[type="submit"].btnSearch{
	float:left;
	width:100px;
	height:30px;
	background:url(../../images/help/search.png) no-repeat;
	border:none;
	text-indent:-200px;
	cursor:pointer;
}
/*// How to buy/////*/

#sectionContenWrapper #sectionContent .contentText p.simple{
	font-size:12px;
	color:#424242;
	font-style:italic;	
}
#sectionContenWrapper #sectionContent .contentText p.simple span{
	font-size:16px;
	color:#282f7d;
	font-style:normal;	
}
#sectionContenWrapper #sectionContent .contentText .margin_top{
	margin-top:25px;	
}
#sectionContenWrapper #sectionContent .contentText .title_content1{
	width:705px;	
	height:auto;
	margin-top:30px;
}
#sectionContenWrapper #sectionContent .contentText .title_content1 .text{
	float:left;
}
#sectionContenWrapper #sectionContent .contentText .title_content1 .text p{
	background:url(../../images/how-to-buy/list_style.png)  left 7px no-repeat;	
	padding-left:15px;
	line-height:24px;
	margin-top:-10px;
	font-size:12px;
	color:#424242;
}
#sectionContenWrapper #sectionContent .contentText .title_content1 .text p span{
	color:#0064b3;
	text-decoration:underline;	
}
#sectionContenWrapper #sectionContent .contentText .title_content1 .text p span.auto{
	color:#0064b3;
	text-decoration:none;
	font-weight:bold;
}
#sectionContenWrapper #sectionContent .contentText .title_content1 .image{
	width:275px;
	height:185px;
	float:right;
}

#sectionContenWrapper #sectionContent .contentText .title_content2{
	width:705px;	
	height:auto;
	margin-top:30px;
}
#sectionContenWrapper #sectionContent .contentText .title_content2 .image{
	width:275px;
	height:185px;
	float:left;	
}
#sectionContenWrapper #sectionContent .contentText .title_content2 .text{
	width: 380px;
	float:right;
}
#sectionContenWrapper #sectionContent .contentText .title_content2 .text p{
	background:url(../../images/how-to-buy/list_style.png)  left 7px no-repeat;	
	padding-left:15px;
	line-height:24px;
	margin-top:-7px;
	font-size:12px;
	color:#424242;
}
/* FaQ */

#sectionContenWrapper #sectionContent #context_text1{
	width:705px;
	height:auto;
	margin-top:25px;	
}
#sectionContenWrapper #sectionContent #context_text1 p{
	background:url(../../images/how-to-buy/list_style.png)  left 5px no-repeat;
	font-size:12px;
	color:#424242;
	padding-left:15px;	
	line-height:24px;
	margin-top:-10px;
	padding-bottom:15px;
}
#sectionContenWrapper #sectionContent p.faq_title{
	font-weight:bold;
	color:#fb5b1c;
	font-size:14px;
	margin-top:15px;
	padding-bottom:5px;
}
#sectionContenWrapper #sectionContent .question{
	margin-top:10px;	
}
#sectionContenWrapper #sectionContent .question p{
	font-size:12px; 
	background:url(../../images/how-to-buy/q.png) left top no-repeat;
	padding-left:30px;	
	line-height:24px;
}
#sectionContenWrapper #sectionContent .question p a{
	color:#424242;	
}
#sectionContenWrapper #sectionContent .answer{
	margin-top:10px;	
	display:none;
}
#sectionContenWrapper #sectionContent .answer p{
	font-size:12px; 
	color:#424242;
	background:url(../../images/how-to-buy/a.png) left top no-repeat;
	padding-left:30px;	
	line-height:24px;
}